[2018-06-20 09:18] slobberbone opened #12 "Système d'installation de logiciel tiers via APT-GET"
Helper permettant de gérer l'installation/maj/suppression de dépendances.

+ gère les logs d'installation
+ gère l'avancement (au début toujours dans un fichier tmp, plus tard, ce système d'installation sera un thread systmAction avaec retour d'état ...)
+ gère les commandes de maj/installation/suppression

[2018-06-20 09:41] ColonelMoutarde commented on #11
oui, très bonne idée

[2018-06-20 09:42] ColonelMoutarde commented on #14
il y en a deja un. ça utilise la librairie monolog

[2018-06-20 09:50] ColonelMoutarde commented on #15
http://php.net/manual/fr/class.splenum.php
voila comment faire.
en standard dans php

[2018-06-20 09:54] slobberbone commented on #15
Merci

[2018-06-20 12:00] slobberbone commented on #14
http://www.quennec.fr/trucs-astuces/langages/php/php-utiliser-la-biblioth%C3%A8que-monolog-dans-vos-scripts

[2018-06-21 14:14] Sylvaner commented on #2
Fait

[2018-06-21 15:37] Sylvaner commented on #15
Une classe Enum est maintenant disponible. SplEnum impliquait l'installation d'autres dépendances

[2018-06-22 08:44] slobberbone commented on #12
Peut-être tenter de se diriger vers ansible ?
https://packagist.org/packages/asm/php-ansible

[2018-06-25 21:31] Turgon37 commented on #13
Bonne idée, par contre il faudra se creuser la tête pour gérer les executions synchrones. Il y aura besoin à un moment ou un autre qu'une commande soit lancé en synchrone et que la source soit en attente du code de retour/output.
Du coup je me dis qu'on peut gérer cela via une sorte de "queue" de message partagée entre les threads et le core. Mais il faudra alors faire du routage pour renvoyer le

[2018-06-25 21:47] Turgon37 commented on #7
Un gros manque à Jeedom !!
Je suppose que l'issue ne fait référence qu'aux processus gérés par nextdom ? les démons des plugins et autres services internes. Où est-ce qu'on parle aussi de processus systèmes comme apache ?

Pour la gestion des processus nextdom j'ai pensé à supervisord. C'est un bon concurrent de systemd, il est écrit en python, dispose d'une très bonne api rpc pour piloter les pro

[2018-06-25 21:52] Turgon37 commented on #12
Je suis pour un outil comme ansible,
par contre je suis contre le wrapper en php (en tout cas celui proposé ci-dessus), il n'est pas spécialement actif et ne se contente que de wrapper les arguments du binaire ansible.

Je propose plutôt un daemon python accessible via une api http (ou autre) qui tourne en tâche de fond et qui attend qu'on lui demande de lancer une commande. On peut coupler avec #

[2018-06-28 16:25] Sylvaner opened #19 "Traduction"
Amélioration des perfs

[2018-07-18 08:30] slobberbone opened #36 "Consolidate devices, dependancies and cron after restore backup or migration"
We should save all devices of all plugins to apply what the plugin need to apply after a restore or migration process  (https://github.com/Sylvaner/nextdom-core/issues/35)
We should reapply installation process from plugins also.

[2018-08-05 07:16] byackee commented on #6
La transformation en sass est ok, la migration des styles vers sass se fait au fil des l'eau.
Pour le chargement des css c'est géré avec twig

[2018-09-14 10:46] ColonelMoutarde commented on #16
fait

[2018-09-14 10:46] ColonelMoutarde commented on #6
fait

[2018-09-26 15:47] byackee opened #141 "mettre en forme le modal about"
![image](https://user-images.githubusercontent.com/4707496/46091969-2a22d500-c1b4-11e8-86f6-37b22d931981.png)

[2018-10-22 08:16] slobberbone opened #401 "KNX, Networks plugins doesn't work after upgrade from Jeedom backup"
I've upgraded my NextDom install with a Jeedom backup.
All plugins seems installed with their dependencies.

I'm in a docker context.
The knx plugin use a knx ip gateway, so nextdom should be able to use it without trouble (in contrary zwave dongle ...)
I've also trouble with Network plugin which use arp package to ping network hosts ...
I thought it was a network/docker issue, but the Kodi plugin

[2018-10-25 04:32] byackee opened #433 "Regrouper les personnalisations"
Aujourd'hui il existe des personnalisations de core (thème et tuiles) et des personnalisations de profils (thèmes graphiques, mobile, etc...)

Il faut les regrouper dans la page custom

[2018-10-25 11:18] cyrilphoenix71 commented on #433
Mais cela sous-entend que les custom qui etait dans profil deviennent globale et non plus attachée a un user ?
Ou alors on fait un tab dedié ?

[2018-10-25 11:51] byackee commented on #433
je pensais plutot que toutes les personalisation devienne lié a l'user mais regroupé dans la page custom

[2018-10-25 13:15] cyrilphoenix71 opened #438 "Dans theme proposer choix logo"
Comme page profil, faire un choix possible de logo

[2018-10-25 14:56] byackee commented on #438
je suis pas trop d'accord, il faut laisser la marque Nextdom.

[2018-10-25 21:46] cyrilphoenix71 commented on #438
Par défaut tu l'aura déjà ;)
Ensuite tu laisse le choix de changer de logo NextDom (tout noir, tout blanc, tout bleu, mix1, mix2 etc) j'ai eu cette idée car le logo actuel si tu choisis couleur thème gris foncé bah tu cache la moitié du logo
Et de 2 tu offre la possibilité au gens de personnaliser leur domotique :)

[2018-10-25 21:48] cyrilphoenix71 commented on #433
Alors dans ce cas c parfait :)
Mais comment gere tu la dépendance au user ?

[2018-10-25 21:50] cyrilphoenix71 commented on #433
Dans ce cas pk pas regrouper profil et custom et y avoir accès par menu admin ou clic avatar ?? :)

[2018-10-26 08:10] cyrilphoenix71 opened #451 "Nettoyer tout ce qui se rapporte a help et report bug issue de jeedom"

[2018-10-30 10:05] Astral0 opened #492 "Tuile qui reste "rouge" (timeout) même quand elles recoivent des valeurs"
Après une réinstallation, j'ai effectué une restauration.
Une nuit après, la moitié des capteurs sont toujours en mode "timeout" (tuile rouge). En revanche, quand on passe le curseur sur la tuile, il dit bien que la valeur a été récupérée récemment... mais la valeur n'est pas actualisée dans la tuile.

Si on fait :
php /var/www/html/script/clean_cache.php

cela vide le cache (toutes les valeurs pa

[2018-10-30 15:04] cyrilphoenix71 commented on #492
Donc PR avec clean cache en fin de migration ?

[2018-10-30 17:21] byackee commented on #492
Fait comprendre pourquoi 😁

[2018-11-01 11:16] Astral0 opened #508 "Market : liste différente entre un Jeedom et un Nextdom"
Quand je clique sur Market dans un Jeedom, j'ai ca :

![image](https://user-images.githubusercontent.com/39194968/47848823-cfdaec80-ddcf-11e8-9034-de8ff6e92550.png)

et depuis Nextdom j'ai ca :

![image](https://user-images.githubusercontent.com/39194968/47848844-dec19f00-ddcf-11e8-99a8-111038d8b198.png)

Normalement on devrait avoir la même chose, non ?

[2018-11-01 21:36] Astral0 opened #510 "Fichier nextdom-core/scripts/phpdoc.sh"
Ce fichier fait un mkdir /usr/nextdom

C'est bizarre comme stratégie (et comme chemin).
Le paquet Debian fait un répertoire /usr/share/nextdom.

[2018-11-05 16:21] cyrilphoenix71 opened #538 "Passer le market Jeedom en page plutot que modales"

[2018-11-05 23:02] cyrilphoenix71 commented on #508
sous ton screen nextdom tu as les nouveautés par catgorie
ton screen jeedom les nouveautés de tous types

[2018-11-06 00:11] cyrilphoenix71 commented on #492
Que fait-on ?

[2018-11-06 00:33] cyrilphoenix71 commented on #19
Des avancées ?

[2018-11-06 00:33] cyrilphoenix71 commented on #17
@greenskii des avancées ?

[2018-11-06 00:33] cyrilphoenix71 commented on #14
@slobberbone du neuf ?

[2018-11-06 00:34] cyrilphoenix71 commented on #13
Du neuf @Turgon37 @slobberbone ?

[2018-11-06 00:34] cyrilphoenix71 commented on #12
Du nouveau les gars ? @Turgon37 @slobberbone

[2018-11-06 00:36] cyrilphoenix71 commented on #10
@slobberbone des avancées ?

[2018-11-06 00:36] cyrilphoenix71 commented on #9
@slobberbone du neuf ?

[2018-11-06 00:37] cyrilphoenix71 commented on #7
@Turgon37 @slobberbone avez vous debattu ?

[2018-11-06 00:37] cyrilphoenix71 commented on #3
dupliqué

[2018-11-06 00:50] cyrilphoenix71 commented on #508
Peut-on confirmer par comparaison de code ?

[2018-11-06 13:21] byackee commented on #508
devrait etre reglé maintenant, c'était la fonction bootstrap-rating qui merdait.

A confirmer

[2018-11-06 14:55] Sylvaner commented on #492
Est-ce que le fichier cache est bien déplacé ? Car on l'a mit dans var

[2018-11-07 10:08] cyrilphoenix71 opened #571 "logo doc dev"
![image](https://user-images.githubusercontent.com/18350629/48124764-6e0dfd00-e27d-11e8-94c3-5eec23a5fab8.png)

[2018-11-07 12:38] cyrilphoenix71 opened #578 "Gestion update Core Nextdom pour beta publique"
Fonctionnel mais a tester

Pour la beta publique 0.1, il serait bien d'avoir le systeme de mise a jour du core fonctionnel
- Methode1 branche stable
- Methode2 branche develop
- Detection auto d'un changement sur 1 des branche
![image](https://user-images.githubusercontent.com/18350629/48132022-63aa2e00-e292-11e8-92a8-fdb00aa2d377.png)

- Bug changelog
![image](https://user-images.githubuserconten

[2018-11-07 21:58] Astral0 commented on #578
Pour la méthode 1, il faut régler https://github.com/NextDom/nextdom-core/issues/566

[2018-11-11 13:24] cyrilphoenix71 opened #621 "ajouter outils "optimize""
QUi reprend les fonctionnalités d'optimize :
- desactivation log etc

[2018-11-11 21:30] Sylvaner commented on #508
Non, aucune idée du pourquoi du comment, il y a a une catégorie par défaut, je ne trouve pas pourquoi.

[2018-11-12 19:21] cyrilphoenix71 opened #637 "Bug checkbox dans les plugins"
![image](https://user-images.githubusercontent.com/18350629/48370047-71a7e680-e6b8-11e8-9ec5-b53c7cadf642.png)

[2018-11-14 21:34] cyrilphoenix71 opened #661 "Dans update ajouter un combo box des categorie (toutes, core, plugins, widget)"

[2018-11-18 06:12] edgd1er opened #689 "sh: 1: cannot create /var/log/nextdom/migration: Directory nonexistent"
https://github.com/Sylvaner/nextdom-core/blob/6b50b46cf7a149d3291f50840fba2edebdd8cbbf/install/migrate_jeedom_to_nextdom.php#L78

Est il possible d'ajouter le recursive pour créer les repertoires intermédiaires manquants (nextdom dans mon cas).
sh: 1: cannot create /var/log/nextdom/migration: Directory nonexistent

[2018-11-19 09:41] DanoneKiD opened #694 "Icones résumé mobile"
Il manque certains icônes dans le résumé en mode mobile. Les classes `nextdom- *` qui ne doivent pas être dans le css mobile.
![image](https://user-images.githubusercontent.com/522809/48698501-8a982680-ebe7-11e8-968c-c97715bc0be3.png)

[2018-11-20 12:56] Astral0 commented on #492
Le problème est global et n'est pas lié à la migration.
En effet, j'ai mis un timeout à 60 min dans Alarmes, qui fait que la tuile passe rouge si on pas de valeur reçue depius plus d'une heure. Or, avec les capteurs Xiaomi, il arrive très souvent que les capteurs n'envoie plus signe de vie pendant plus d'une heure, notamment les capteurs d'ouverture (par contre si on ouvre la fenetre ou la porte,

[2018-11-22 12:08] DanoneKiD opened #721 "Checkbox plugins"
Le css sur les checkbox a impacté les plugins le `top: 7px;` pose problème

![image](https://user-images.githubusercontent.com/522809/48902048-a7d32c00-ee57-11e8-923c-83dda81374fc.png)

[2018-11-30 12:30] cyrilphoenix71 opened #746 "supprimer les div_alert"
Car je crois que maintenant tout passe par les notify flottantes, or on a sur chaque page encore le div_alert qui normalement ne sert pu

[2018-11-30 15:59] cyrilphoenix71 opened #749 "Faire un convertisseur de checkbox automatique au gen_assets"
convertir ce code mal ecrit de jeedom et ses plugin :
`<span>
<label class="checkbox-inline">
<input type="checkbox" class="cmdAttr checkbox-inline" data-l1key="isHistorized" checked="">Historiser
</label>
</span>`

en ca :
`
<input type="checkbox" class="cmdAttr" data-l1key="isHistorized" id="isHistorized">
<label for="isHistorized" class="label-check control-label">Historiser
</label>
`

a voir

[2018-12-01 20:02] cyrilphoenix71 commented on #721
Issue #749?

[2018-12-04 08:41] Astral0 opened #764 "Bug plugin Xiaomi ne détecte pas une 2ieme gateway"
Ajouter une 2ieme gateway se passe comme ajouter la première : on va dans l'apps MiHome, on ajoute la gateway, on passe en mode "developpeur" pour activer l'accès depuis le réseau local, et un token apparait à l'écran.
Dans Jeedom / Nextdom, il faut que le plugin xiaomihome soit installé et fonctionnel mais il n'y a rien à faire pour "ajouter" une gateway. Celle ci apparait toute seule dans la lis

[2018-12-04 19:07] perarem opened #765 "Bug plugin Xiaomi / périphériques Bluetooth éditable a tort"
Sous develop du 03/12 et avec le plugin Xiaomi du market Jeedom version 2018-10-07 02:03:06
L'édition d'un périphérique Bluetooth, créé via le plugin Blea, est rendu possible à tort
![screen shot 12-04-18 at 07 48 pm](https://user-images.githubusercontent.com/10147784/49465358-b75e5780-f7fd-11e8-9502-b8018169f24d.PNG)

![screen shot 12-04-18 at 07 51 pm](https://user-images.githubusercontent.com/1

[2018-12-07 11:54] cokecorp opened #1 "Ajout d'equipement en vert !?"
Je ne sais pas si c'est voulu ou non, mais je trouve que laisser le "plus" en vert comme sur Jeedom dénotte un peu avec le bleu.
oublie ou choix esthétique?
![image](https://user-images.githubusercontent.com/9156515/49646413-3aaac380-fa1f-11e8-8675-331f52750293.png)

[2018-12-07 15:52] cokecorp opened #2 "Affichage en mode liste en plus du mode tuile sur Gest plugin et Mise a jour"
avoir si possible technique la possibilité de basculer d'un affichage liste a tuile
un peu comme dans santé / plugin

![image](https://user-images.githubusercontent.com/9156515/49657641-6db17f00-fa40-11e8-9a63-fef92b1de6e8.png)

[2018-12-07 16:38] perarem opened #3 "Boutons Redémarrer et Eteindre inopérants"
Les boutons Redémarrer et Eteindre sont inopérants dans Administration et réglages.

[2018-12-13 20:34] Astral0 commented on #764
Une piste : https://www.jeedom.com/forum/viewtopic.php?f=182&t=23382&start=5360#p674605

[2018-12-13 21:36] Astral0 commented on #764
Je confirme ce moyen de contournement : dans le serveur DHCP, j'ai mis l'ip de la gateway à .223 (au lieu de .23) et elle est apparue automatiquement partout !

[2018-12-16 17:09] Astral0 opened #798 "Unable to create the cache directory (/var/www/nextdomdev/var/cache/twig/f3)."
Les droits de certains répertoire sont assez bizarres :

[code]

[2018-12-16 17:23] Astral0 commented on #798
Pour réparer :

[code]

[2018-12-16 17:42] Astral0 opened #799 "Plugin Xiaomi : les équipements "disparaissent" de manière aléatoire"
Sur la capture ci-dessous : à gauche = v0.0.2, milieu =v0.0.6, à droite = develop.
Jamais de problème en 0.0.2
Même version du plugin Xiaomi
Même config (capteur, etc.) car provient dans les 3 cas d'une migration.
Je considère donc que le problème vient de chez nous.

![image](https://user-images.githubusercontent.com/39194968/50056816-5a9a5f80-0162-11e9-9981-ef85c6913e44.png)

[2018-12-16 17:43] Astral0 commented on #799
J'ajoute que les équipements restent bien visibles et actifs dans le dashboard.

[2018-12-26 14:30] cyrilphoenix71 opened #808 "Résumé global non mis a jour dans le header"
Voici un screenshot qui montre que apres allumage des lamps le résumé n'est plus a jour :
![image](https://user-images.githubusercontent.com/18350629/50448749-376e6d80-0923-11e9-9c50-b210a8c7151d.png)

[2018-12-28 23:11] Astral0 opened #809 "Restore plante avec plugin Sonos"
On a ca dans les logs :

[code]

Autre chose : dans la page "logs" il y a le petit "v" vers à gauche de restore, or il s'est planté et n'a pas terminé...

[2019-01-05 21:54] cyrilphoenix71 opened #817 "Ajouter bouton + et - pour modifier en live le parametre taille de base widget"

[2019-01-11 09:15] perarem opened #828 "renvoi vers la page de connexion en cas d'expiration de la durée de vie de la session"
Lors de l'expiration d'une session, plutôt que d'afficher un ou plusieurs message(s) d'erreur (Token d'accès invalide), ne pourrait-on pas renvoyer directement vers la page de connexion ?

[2019-01-21 22:16] cyrilphoenix71 opened #844 "Difference de chargement page : JS ?"
La procedure de chargement d'une page semble differente entre :
- ouverture via clic sur lien
- F5

Un bon exemple est de tester la PR : https://github.com/NextDom/plugin-Meross/pull/3
Ouvrir la page du plugin : c'est tout buggé, F5 c'est OK

[2019-01-22 07:16] Sylvaner commented on #844
Ce n'est pas un bug, c'est le fonctionnement normal :)

[2019-01-22 12:00] cyrilphoenix71 commented on #844
Non ya vraiment une difference de resultat, ca ne devrait pas

[2019-01-23 09:29] slobberbone opened #855 "Zone grisée incomplète derrière modale"
Si l'on affiche la console lors de l'import, les logs sont affichés dans une popup/modale, la zone grisée prend la place de l'écran et non de la totalité de la page.

[2019-01-23 09:29] slobberbone commented on #855
![zone popup incomplete](https://user-images.githubusercontent.com/3833875/51596646-c5754e00-1ef9-11e9-989a-3983d20d7977.png)

[2019-01-25 16:44] byackee commented on #1
Salut,

La couleur est défini par le plugin, donc on a pas trop la main.
Je vais regarder pour ecraser la class et du coup changer la couleur

Merci

[2019-01-25 16:45] byackee commented on #2
Salut,

Je vais voir pour intégrer ca apre la version 0.1

[2019-01-30 10:45] cyrilphoenix71 commented on #855
tjs présent ? @slobberbone

[2019-02-01 15:20] Astral0 opened #873 "Sauvegarder les fichiers de config"
Si on déplace des fichiers de conf dans /etc/nextdom, il faut les sauvegarder / restaurer.
Attention, /etc/nextdom contient des paramètres qui sont amenés par les paquets nextdom-mysql et nextdom-common, donc il ne faut pas tout sauvegarder /etc/nextdom, mais uniquement les paramètres générés par nextdom.

[2019-02-03 04:19] nemocaledonie opened #4 "Affichage heure non mise à jour (Desktop)"
Bonjour à tous,
Après avoir mis la dernière version de NextDom (0.1.1), l'heure en haut droite (Desktop) ne s'affiche plus (00.00 1 janvier 1970, soit l'heure UNIX). Sous la version 0.0.6 ça s'affichait normalement.
Dans l'onglet "Santé" l'heure est OK, mais j'ai toujours "Mise à jour" en rouge (et une erreur si l'on lance la mise à jour).
Par ailleurs le plugin ESP-Easy ne fonctionne pas dans cet

[2019-02-05 12:09] Astral0 opened #882 "Chargement du menu au début et non à la fin du chargement d'une page"
Serait-il possible que le menu soit chargé au début du chargement d'une page et pas à la fin ?
En effet, quand on accède puis internet, le chargement d'une page peut être particulièrement lent et on doit attendre qu'elle soit finie pour accéder aux sous-menus (ceux qui doivent être dépliés, comme tout ce qu'on trouve sous "Procole domotique") :

![image](https://user-images.githubusercontent.com/3

[2019-02-09 23:59] perarem opened #896 "Affichage du menu tronqué"
Affichage du menu tronqué :
ici, la dernière ligne du menu :
![screen shot 02-10-19 at 12 47 am](https://user-images.githubusercontent.com/10147784/52527776-5dcb4b00-2cce-11e9-926d-04b7de50557f.PNG)

ici, il manque 3 lignes :
![screen shot 02-10-19 at 12 52 am](https://user-images.githubusercontent.com/10147784/52527778-63c12c00-2cce-11e9-8f2d-7eb7072bb997.PNG)

[2019-02-10 07:56] byackee commented on #896
Salut @perarem, Normalement le menu est scrollable, peux tu essayer stp?

[2019-02-10 10:26] perarem commented on #896
@byackee j'ai pris les screens en limite basse du scroll ;-)
On y voit d'ailleurs que le curseur bas " V " de la barre de scroll n'apparait pas.

[2019-02-10 12:32] Esso1-jeedom opened #898 "bugg affichage camera en mode design"
petit pb sur le mode design, les cameras sont afficher comme sur le dashboard en miniature.
donc impossible de modifier la fenetre .
a gauche sur ma prod
a droite maj develop a ce jour
Meme plugins camera ( source astral)
![bugg camera](https://user-images.githubusercontent.com/40739563/52533744-838d3a00-2d38-11e9-83b5-83ea9500baf2.JPG)

ca impact  les camera dan le design...

[2019-02-11 10:47] cyrilphoenix71 commented on #828
Ne fonctionne pas chez je r'ouvre l'issue

[2019-02-11 20:06] perarem commented on #828
En fait, il faut faire un F5 pour avoir la page de connexion lors d'une session expirée

[2019-02-11 20:52] cyrilphoenix71 commented on #828
bah justement la PR qui a été validée pour cette issue corrigeait ca, mais chez moi ca ne fonctionne pas donc j'ai réouvert

[2019-02-11 22:46] slobberbone commented on #855
Oui

[2019-02-12 09:02] cyrilphoenix71 opened #909 "Page update non à jour sur premiere ouverture apres une install fresh"
![image](https://user-images.githubusercontent.com/18350629/53866458-e5685900-3ff1-11e9-928c-3ecbd8012f75.png)

le core n'apparait pas, un clic sur "vérifier" résoud.

[2019-02-12 09:04] cyrilphoenix71 commented on #909
![image](https://user-images.githubusercontent.com/18350629/53866475-f31dde80-3ff1-11e9-893b-956577001225.png)

de plus les icones des plugins ont disparues

[2019-02-14 10:44] cyrilphoenix71 commented on #909
lancer une verif mise a jour en fond apres postinst ?

[2019-02-14 10:49] cyrilphoenix71 opened #913 "Sur la derniere dev 0.1.2 (base jeedom 3.3.10) apres restore notre core est estampillier 3.3.3"
![image](https://user-images.githubusercontent.com/18350629/52782099-847ede00-304e-11e9-97be-86343a85ca2e.png)

[2019-02-14 11:37] cyrilphoenix71 opened #914 "Ajouter un vidage cache ou CTRL+F5 après un restore"
Car après restore le thème dynamique ne fonctionne pas

[2019-02-14 12:09] slobberbone commented on #914
Comme expliqué, le rapport au thème n'est qu'un effet supplémentaire de la non déconnexion de la session après un restore.

[2019-02-14 12:26] cyrilphoenix71 opened #915 "Supprimer le /public/css/theme.html au postinstall"
Car sur un post install on peut se retrouver avec une firstuse en mode dark, si theme choisit avant le postinst etait le dark

[2019-02-14 14:29] cyrilphoenix71 commented on #914
non car le theme n'est pas associé a l'utilisateur, il le sera bientot, le je parle bien d'un vidage cache

[2019-02-15 09:27] perarem commented on #828
Bon, pour ma part, je n'ai plus de problème sur les dernières develop.

[2019-02-15 17:10] Astral0 commented on #915
Je ne comprends pas : c'est quoi ce fichier theme.html ?
Est ce qu'il est généré après l'installation ?

[2019-02-15 17:15] Astral0 commented on #914
Sans parler du thème, je pense que vider le cache doit être fait après un restore. En effet, sinon on a tous les capteurs qui reprennent leur valeur de l'état précédent sauvegardé. Or, quand on utilise une sauvegarde pour l'installer sur une nouvelle machine (par ex. sur une machine de tests/dev), on peut se retrouver avec des capteurs qui ne fonctionneront plus (par ex des Zwave alors que la mach

[2019-02-15 17:16] Astral0 commented on #913
3.3.3 correspond il à la valeur du nextdom dont provient la sauvegarde ?

[2019-02-19 21:49] slobberbone opened #924 "Problème lors du redimensionnement d'une modale"
Se rendre sur la page des mises à jour, cliquer sur le bouton "Mise à jour sélective" et redimensionner la modale :

![pblm resize modale](https://user-images.githubusercontent.com/3833875/53050014-9fab7c80-3498-11e9-9fd9-0a6e0989e614.png)

[2019-02-19 23:30] perarem commented on #765
Pour info, le bug c'est propagé a Jeedom depuis peu :)

[2019-02-20 11:20] noodom opened #6 "Pb de mise à jour du statut du mode (plugin mode)"
Bonjour,

Lorsque je modifie le mode depuis le plugin mode que ce soit en mode dashboard ou design, le statut courant n'est pas mis à jour. Il faut rafraîchir la page pour voir le bon statut en cours.

Plugin Mode : Version : 2018-05-09 06:18:18 (stable)
NextDom : v0.1.2

[2019-02-20 11:27] noodom opened #7 "Après récupération d'un backup Jeedom, renommage dans un champ texte/html du Design (jeedom vers nextdom)"
Suite à la récupération d'un backup d'une sauvegarde Jeedom vers une nouvelle installation NextDom,
J'ai constaté que le contenu des champs text/html du mode design sont modifiés (remplacement de jeedom par nextdom)

=> Ce qui pose un problème pour le code HTML/Javascript faisant référence à des images dont le com comprend jeedom (lien cassé)
=> Ca peut être plus gênant dans le cas de renommage au

[2019-02-20 11:41] noodom opened #8 "Pb sur changement de thème (customisation)"
J'avais sélectionné le mode Dark suite à mon install.

Je retourne dans le menu de customisation : le mode White est sélectionné.
Lorsque je sélectionne le mode Dark ou Mix, la sélection revient automatiquement sur white.

Sinon, je n'ai pas trouvé de logique sur la prise en compte du changement de mode :
- La plupart du temps, le changement de mode n'est pas possible
- J'ai réussi ("aléatoirement

[2019-02-22 10:42] byackee commented on #828
on cloture ?

[2019-02-22 13:34] cyrilphoenix71 commented on #915
@Astral0 theme.css pardon, c'est celui qui regenerer à la sauvegarde ou au changement de theme

[2019-02-22 13:46] noodom opened #9 "Impossible de décocher "Ne pas mettre à jour" pour un plugin"
Dans le menu de mise à jour des plugins, j'ai un plugin avec l checkbox "Impossible de décocher "Ne pas mettre à jour" coché.

Je n'arrive plus à la décocher : lorsque je clique dessus, elle est bien décochée mais impossible de sauvegarder cet état.

=> Conséquence : impossible de faire la mise à jour du plugin

(NextDom v0.1.2)

[2019-02-23 10:57] perarem opened #930 "Fonctionnalité étendue de la PR Multi objets pères sur le Dashboard"
Dans la même idée que la PR Multi objets pères sur le Dashboard #929 , je verrais bien une barre secondaire avec les objets enfants de l'objet père sélectionné, se serait pratique lorsque l'on a pas mal d'enfants attachés à un père.
Ou alors avoir la possibilité de réduire les zones objets enfants en cliquant sur leur nom sur le Dashboard, ou les 2...

[2019-02-23 23:01] perarem opened #931 "La mise en page "Alertes" des équipements a sauté."
Plus de couleur, taille et mauvaise position des champs Danger, Warning et Ok
![screen shot 02-23-19 at 11 50 pm](https://user-images.githubusercontent.com/10147784/53292721-1dd48f80-37c7-11e9-8dee-8653ead48383.PNG)

[2019-02-25 10:15] cyrilphoenix71 opened #932 "La sauvegarde et la suppression d'une note ne fonction plus -> erreur SQL"
La sauvegarde et la suppression d'une note ne fonction plus
![image](https://user-images.githubusercontent.com/18350629/53330462-d34e3280-38ee-11e9-9a10-311837ca3a66.png)

[2019-02-25 10:18] slobberbone commented on #932
Il manque la commande getTableName, du coup la fonction de save/remove ne fonctionne plus.

[2019-02-25 12:26] cyrilphoenix71 commented on #914
@Astral0 c pas a cause de cette erreur aussi ?
![image](https://user-images.githubusercontent.com/18350629/53337169-f8e43780-3900-11e9-9a2e-11c6b9f3f426.png)

[2019-02-25 13:58] slobberbone opened #934 "Une installation de 0 échoue"
Lors d'un postinst :
` >>> Copy icons

cat: vendor/node_modules/bootstrap/dist/js/bootstrap.min.js: No such file or directory

 OK
step_nextdom_prerequisites_verification ...  OK
step_nextdom_apache_php ...  OK
step_nextdom_configuration ... rm: cannot remove '/var/www/html/core/config': Is a directory`

[2019-02-25 16:13] cyrilphoenix71 opened #935 "Bug modale configuration équipements"
- gestion disposition tableau
- divers bug graphiques

[2019-02-26 09:10] slobberbone opened #936 "Popup de double authentification illisible avec le thème dark"
![theme sombre double authentification](https://user-images.githubusercontent.com/3833875/53400979-343d3f80-39af-11e9-94bb-4f751e7cacba.png)

[2019-02-26 09:18] slobberbone opened #937 "Logiciels de double authentification Open source"
Proposer une application de double authentification Open source comme andOTP : https://github.com/andOTP/andOTP sous Android

Au minimum en lien dans la présentation, ou mieux  un QR Code / lien de téléchargement de l'application

[2019-02-26 09:46] cyrilphoenix71 opened #938 "Page résumé avec quelques bug graphique"
- bouton historique
- liste commandes
- modale historique

[2019-02-26 10:30] slobberbone opened #939 "Double authentification - Pas de raz sur echec"
Lors de la saisie du numéro de double authentification. Si on saisit un mauvais code, le champs n'est pas remis à vide après échec d'authentification
![non raz apres echec](https://user-images.githubusercontent.com/3833875/53406332-07daf080-39ba-11e9-9b20-84a19d6fc6b3.png)

[2019-02-26 10:37] slobberbone opened #940 "Aucune information de l'utilisateur courant sur la page profil"
Sur la page profil, si on affiche avec la sidebar réduite, aucune information sur l'utilisateur actuelle n'est affichée ... Lorsuq'on active la double authentification, ou autre, ce serait intéressant d'avoir un moyen de valider visuellement l'utilisateur avec lequel on est connecté et qu'on est en train de modifier.

[2019-02-26 11:28] slobberbone commented on #940
@cyrilphoenix71  a pousser dans la bonne branche stp !

[2019-02-26 11:58] cyrilphoenix71 commented on #940
A remplacer dans la page admin/profils

`<li class="header pull-left"><i class="fas fa-briefcase spacing-right"></i>{{ 'Profil de ' }}{{ profilsUser.getLogin() }}</li>`

[2019-02-26 13:23] Sylvaner commented on #915
Un theme.css doit exister sinon la page plantera (les couleurs n'existeront pas).
Mais quel est le problème que le firstuse soit noir ou blanc ?
Surtout qu'on est pas censé faire des postinstall régulièrement

[2019-02-26 13:24] Sylvaner commented on #913
oui

[2019-02-27 14:50] GsCbo commented on #7
Perso j'ai fait l'install en 0.1.2 et ça m'a remplacé dans le plugin ovh et dans la partie réseau de l'administration

[2019-02-27 15:00] GsCbo opened #10 "Update Core - 20190227 - Erreur liens lors de l'update du core"
NextDom: 0.1.2
Lors de l'update du core via l'ihm. Une erreur se produit sur le téléchargement de l'archive.
Le dl se fait sur https://github.com/nextdom/core/archive/master.zip
qui n'existe pas d'où les infos en 404 sur l'ihm également.
Alors qu'il devrait aller la chercher sur https://github.com/nextdom/nextdom-core/archive/master.zip

`Désactiver toutes les tâches cron
. OK
Désactiver tous les

[2019-02-27 19:00] cyrilphoenix71 opened #941 "Bugs sur le dashboard"
Nouvelle barre de navigation des parents :
- Manque cursor sur les bouton

Redimensionnement auto en mode edition :
- Fonctionne mal, on tombe pas sur un vrai multiple de grille + marge
- Seulement à la hausse

Boutons de redimensionnement auto :
- Couleur pas calée sur le thème
- Mal placés
- 1 classe par bouton alors qu'il pourraient être dans un div

Chargement de la page dash :
- Pendant le ch

[2019-02-28 15:32] doudz opened #11 "Installation impossible sur Ubuntu 16.04"
Bonjour,

Je tente d'installer Nextdom dans une VM afin de faire des tests. J'ai donc installer un Ubuntu server 16.04 avec juste openssh et j'ai lancé
`wget -O- https://raw.githubusercontent.com/NextDom/NextDom-DebInstaller/master/deb-install.sh | sudo bash`
Le processus est très long mais j'obtiens toujours le même résultat :

[code]

[2019-02-28 15:42] slobberbone commented on #11
Bonjour @doudz , en effet nous ne sommes pas compatible Ubuntu. Pour le moment c'est uniquement Debian 9.

[2019-02-28 15:48] doudz commented on #11
ah ok
il faudrait mettre à jour la page https://www.nextdom.org/elementor-230/installation-de-nextdom/ dans ce cas ;)

[2019-02-28 15:51] #1 closed

[2019-02-28 15:52] slobberbone commented on #4
@nemocaledonie nous avons corrigé ce point merci.

[2019-02-28 15:52] #4 closed

[2019-02-28 15:54] slobberbone commented on #11
Ah en effet ! Désolé, grosse boulette de notre part !

[2019-02-28 15:54] #11 closed

[2019-03-01 09:00] slobberbone opened #942 "Implémentation d'une Interface Entity"
Création d'un interface entity. Cette interface permet de définir les classes ayant une persistance en base de données.

namespace Intefaces/EntityInterface

[2019-03-01 09:45] perarem commented on #931
OK avec le Fix

[2019-03-01 09:54] Sylvaner opened #943 "Les filtres n'affichent pas les sous-enfants"
Voici ma hiérarchie :
![capture d ecran 2019-03-01 a 10 52 42](https://user-images.githubusercontent.com/957104/53630413-4e298d00-3c10-11e9-977d-46c2117b16be.png)

Lorsque je clique sur "Maison", je n'ai pas que le premier niveau des enfants :
![capture d ecran 2019-03-01 a 10 54 04](https://user-images.githubusercontent.com/957104/53630443-626d8a00-3c10-11e9-9b48-7245f1e7dbb4.png)

[2019-03-01 13:27] perarem commented on #930
OK avec le dernier fix

[2019-03-02 09:32] perarem commented on #941
@cyrilphoenix71 Le bouton de redimensionnement est devenu invisible mais opérationnel…

![screen shot 03-02-19 at 10 29 am](https://user-images.githubusercontent.com/10147784/53680084-4f24f200-3cd6-11e9-8f3c-785324a66e8e.PNG)

[2019-03-02 23:33] cyrilphoenix71 commented on #817
ou plutot ajouter une icone raccourcis vers le reglage

[2019-03-02 23:40] cyrilphoenix71 commented on #621
@Sylvaner c'est deja le cas non ? on clos ?

Ou alors on laisse en feature pour ajouter quelque part un bouton pour desactiver tous les logs plugin et scenario ?

[2019-03-04 10:46] perarem opened #947 "Boutons Redémarrer et Eteindre inopérant sur page administration."
Sur la page Administration, les boutons Redémarrer et Eteindre sont inopérant sans un F5 préalable.

[2019-03-04 13:10] perarem opened #948 "Plugin OpenVPN (Jeedom SAS)"
Impossible de créer un équipement sur le plugin OpenVPN :

![screen shot 03-04-19 at 01 59 pm](https://user-images.githubusercontent.com/10147784/53735122-44a95a80-3e86-11e9-817b-caa1a3b9ca33.PNG)

![screen shot 03-04-19 at 02 05 pm](https://user-images.githubusercontent.com/10147784/53735354-e4ff7f00-3e86-11e9-9b2e-e8c7a6621d4f.PNG)

`function printEqLogic(_eqLogic){
    $('#bt_uploadCaCrt').file

[2019-03-05 18:16] cyrilphoenix71 commented on #941
@perarem tu peux reouvrir une issue car la c un nouveau bug lié au thème

[2019-03-05 22:06] perarem opened #951 "Disparition du bouton de redimensionnement en mode édition du dashboard"
Sur la branche Fixes, dans le mode édition du Dashboard, le bouton de redimensionnement est devenu invisible mais opérationnel…
![screen shot 03-02-19 at 10 29 am](https://user-images.githubusercontent.com/10147784/53840710-1c5f5000-3f9b-11e9-81d4-7dfc7349f8c7.PNG)

[2019-03-06 08:24] cyrilphoenix71 commented on #915
@Sylvaner je dis juste qu'au postinstall on devrait repartir d'un theme standard soit le white

[2019-03-06 08:31] cyrilphoenix71 commented on #799
tjs présent ? @Astral0

[2019-03-06 08:32] cyrilphoenix71 commented on #798
@Astral0 tu peux faire un commit dans la branche fixes ?

[2019-03-06 08:35] cyrilphoenix71 commented on #764
@astral on fait quoi ?

[2019-03-06 08:38] cyrilphoenix71 commented on #721
@DanoneKiD tjs présent ?

[2019-03-06 08:39] cyrilphoenix71 commented on #694
Avec la future suppression de ce mode mobile on supprime ?

[2019-03-06 08:46] cyrilphoenix71 commented on #508
@Astral0 ca doit etre fixé dans la branche UI

[2019-03-06 12:30] perarem opened #952 "Suggestion : Affichage de la branche dans la barre inférieure de Nextdom"
En plus de la version, se serait sympa d'afficher la branche utilisée à côté de la version de Nextdom voir la logger quelque part.
Indispensable lorsque l'on test plusieurs branches et une petite mémoire (…)

[2019-03-06 22:54] byackee commented on #10
Nous ne gerons pas encore la mise a jour via l'interface.
Nous allons l'intégrer prochainement

[2019-03-06 23:07] Gis70 opened #13 "Core 0.1.2 bug widget avec température / humidité"
L'écriture de la température se fait verticalement :
![image](https://user-images.githubusercontent.com/16589132/53920314-0a4de200-406d-11e9-8ae8-f197187e7e49.png)

La flêche pour la tendance est mal placée aussi.

Sur Jeedom 3.3.16 ça fonctionnait bien.

Code perso du widget activé.

[2019-03-06 23:09] Gis70 opened #14 "Core 0.1.2 : bug suppression unitaire alertes"
La suppression unitaire des alertes via la corbeille ne marche pas, vider complètement fonctionne.

[2019-03-06 23:13] Gis70 opened #15 "Core 0.1.2 : plugin Suivi Conso ne fonctionne pas bien pour les graphs (pb ajax ?)"
Erreur au chargement du panel et pas de graph
![image](https://user-images.githubusercontent.com/16589132/53920538-d1623d00-406d-11e9-8b2d-cdcae1447d46.png)

[2019-03-06 23:15] Gis70 opened #16 "Problème import dossier avec image sur migration jeedom => nextdom"
![image](https://user-images.githubusercontent.com/16589132/53920652-1edeaa00-406e-11e9-9c05-187c76d7fb60.png)

Ca m'a fait le coup lors du passage 3.3.x à la beta aussi.

[2019-03-07 06:42] Gis70 opened #17 "Bug plugin Volet impossible de lancer le demon à cause de setClass"
Erreur sur la fonction deamon_start du plugin : Call to undefined method listener::setClass()

J'ai essayé de le réinstaller mais rien n'y fait.

[2019-03-07 08:15] slobberbone commented on #17
Ouais à priori le plugin volet c'est pas ça ... as-tu regarder le plugin Opening ?
Ce problème tu l'as aussi sous Jeedom ?

[2019-03-07 08:16] slobberbone commented on #16
Ce fichier ne se trouve plus dans le plugin ?

[2019-03-07 08:17] slobberbone commented on #15
Es-tu sur que ce bug concerne Jeedom et non pas le plugin ?

[2019-03-07 08:19] slobberbone commented on #8
Ce bug est corrigé pour la prochaine version

[2019-03-07 08:19] #8 closed

[2019-03-07 08:20] slobberbone commented on #7
La prochaine version ne fera plus ce changement. @Sylvaner tu confirmes ?

[2019-03-07 08:21] slobberbone commented on #2
@byackee c'est reglé ?

[2019-03-07 08:50] Gis70 commented on #15
Ca fonctionnait bien avant la migration :)

[2019-03-07 08:53] Gis70 commented on #17
Je n'ai pas regardé coté nextdom. Non c'est à l'issue de la migration, pas de pb avant

[2019-03-07 08:53] Gis70 commented on #16
Je n'ai plus doc/images/..... je pense que c'est de la vieille arborescence qui n'est pas recopiée, j'avais déjà eu ce problème lors du passage en jeedom beta

[2019-03-07 10:24] Gis70 commented on #16
J'ai réinstallé le plugin est c'est OK je clos

[2019-03-07 10:24] #16 closed

[2019-03-07 11:03] Gis70 commented on #17
idem avec plugin officiel alarme
![image](https://user-images.githubusercontent.com/16589132/53952450-0784d880-40d1-11e9-967b-677191268a5b.png)

[2019-03-07 17:07] Gis70 opened #18 "Bug dans des calculs dans les scenario"
Bonjour,

Je fais des comparaisons dans un scénario, la sortie du test n'est pas bonne, ça fonctionnait bien sur Jeedom
[scenario13.log](https://github.com/NextDom/nextdom-core/files/2942430/scenario13.log)

[2019-03-07 21:34] Sylvaner opened #954 "Méthodes manquantes dans la classe Listener"
Certains plugins plantes à cause de méthodes manquantes (listener::setClass)

[2019-03-07 22:05] slobberbone commented on #934
testé et validé

[2019-03-07 22:09] Sylvaner commented on #943
OK

[2019-03-07 22:45] Gis70 commented on #934
+1 je viens de partir d'un debian 9 tout neuf

[2019-03-08 06:09] Sylvaner commented on #936
OK

[2019-03-08 06:14] Sylvaner commented on #930
OK

[2019-03-08 06:14] Sylvaner commented on #938
OK

[2019-03-08 06:18] Sylvaner commented on #932
Ok

[2019-03-08 06:47] Gis70 opened #956 "Bug affichage ne pas répéter les actions scénario"
![image](https://user-images.githubusercontent.com/16589132/54012472-70725c00-4176-11e9-94e0-4ed38b9a978f.png)

l'image interdit est décalée

[2019-03-08 10:01] slobberbone opened #957 "Affichage en mode liste en plus du mode tuile sur Gest plugin et Mise a jour"
<a href="https://github.com/cokecorp"><img src="https://avatars2.githubusercontent.com/u/9156515?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [cokecorp](https://github.com/cokecorp)**
_Friday Dec 07, 2018 at 15:52 GMT_
_Originally opened as https://github.com/NextDom/nextdom-core/issues/2_

----

avoir si possible technique la possibilité de basculer d'un affichage li

[2019-03-08 10:01] slobberbone commented on #957
<a href="https://github.com/byackee"><img src="https://avatars2.githubusercontent.com/u/4707496?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [byackee](https://github.com/byackee)**
_Friday Jan 25, 2019 at 16:45 GMT_

----

Salut,

Je vais voir pour intégrer ca apre la version 0.1

[2019-03-08 10:01] slobberbone commented on #957
<a href="https://github.com/slobberbone"><img src="https://avatars3.githubusercontent.com/u/3833875?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [slobberbone](https://github.com/slobberbone)**
_Thursday Mar 07, 2019 at 08:21 GMT_

----

@byackee c'est reglé ?

[2019-03-08 10:01] slobberbone opened #958 "orthographe"
<a href="https://github.com/noodom"><img src="https://avatars2.githubusercontent.com/u/24904155?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [noodom](https://github.com/noodom)**
_Tuesday Feb 19, 2019 at 13:00 GMT_
_Originally opened as https://github.com/NextDom/nextdom-core/pull/5_

----

- Il doit y avoir un doublon (à part l'orthographe différente) pour : "Aucun f

[2019-03-08 10:01] slobberbone opened #959 "Pb de mise à jour du statut du mode (plugin mode)"
<a href="https://github.com/noodom"><img src="https://avatars2.githubusercontent.com/u/24904155?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [noodom](https://github.com/noodom)**
_Wednesday Feb 20, 2019 at 11:20 GMT_
_Originally opened as https://github.com/NextDom/nextdom-core/issues/6_

----

Bonjour,

Lorsque je modifie le mode depuis le plugin mode que ce soit en

[2019-03-08 10:01] slobberbone opened #960 "Après récupération d'un backup Jeedom, renommage dans un champ texte/html du Design (jeedom vers nextdom)"
<a href="https://github.com/noodom"><img src="https://avatars2.githubusercontent.com/u/24904155?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [noodom](https://github.com/noodom)**
_Wednesday Feb 20, 2019 at 11:27 GMT_
_Originally opened as https://github.com/NextDom/nextdom-core/issues/7_

----

Suite à la récupération d'un backup d'une sauvegarde Jeedom vers une nouve

[2019-03-08 10:01] slobberbone commented on #960
<a href="https://github.com/GsCbo"><img src="https://avatars1.githubusercontent.com/u/44973640?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GsCbo](https://github.com/GsCbo)**
_Wednesday Feb 27, 2019 at 14:50 GMT_

----

Perso j'ai fait l'install en 0.1.2 et ça m'a remplacé dans le plugin ovh et dans la partie réseau de l'administration

[2019-03-08 10:01] slobberbone commented on #960
<a href="https://github.com/slobberbone"><img src="https://avatars3.githubusercontent.com/u/3833875?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [slobberbone](https://github.com/slobberbone)**
_Thursday Mar 07, 2019 at 08:20 GMT_

----

La prochaine version ne fera plus ce changement. @Sylvaner tu confirmes ?

[2019-03-08 10:01] slobberbone opened #961 "Impossible de décocher "Ne pas mettre à jour" pour un plugin"
<a href="https://github.com/noodom"><img src="https://avatars2.githubusercontent.com/u/24904155?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [noodom](https://github.com/noodom)**
_Friday Feb 22, 2019 at 13:46 GMT_
_Originally opened as https://github.com/NextDom/nextdom-core/issues/9_

----

Dans le menu de mise à jour des plugins, j'ai un plugin avec la checkbox "Ne

[2019-03-08 10:01] slobberbone opened #962 "Update Core - 20190227 - Erreur liens lors de l'update du core"
<a href="https://github.com/GsCbo"><img src="https://avatars1.githubusercontent.com/u/44973640?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GsCbo](https://github.com/GsCbo)**
_Wednesday Feb 27, 2019 at 15:00 GMT_
_Originally opened as https://github.com/NextDom/nextdom-core/issues/10_

----

NextDom: 0.1.2
Lors de l'update du core via l'ihm. Une erreur se produit sur

[2019-03-08 10:01] slobberbone commented on #962
<a href="https://github.com/byackee"><img src="https://avatars2.githubusercontent.com/u/4707496?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [byackee](https://github.com/byackee)**
_Wednesday Mar 06, 2019 at 22:54 GMT_

----

Nous ne gerons pas encore la mise a jour via l'interface.
Nous allons l'intégrer prochainement

[2019-03-08 10:01] slobberbone opened #963 "Core 0.1.2 : bug pas de surlignage lors de sélection de texte"
<a href="https://github.com/Gis70"><img src="https://avatars1.githubusercontent.com/u/16589132?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [Gis70](https://github.com/Gis70)**
_Wednesday Mar 06, 2019 at 23:06 GMT_
_Originally opened as https://github.com/NextDom/nextdom-core/issues/12_

----

Dans la personnalisation du code dans un widget, le surlignage ne fonctionne

[2019-03-08 10:01] slobberbone opened #965 "Core 0.1.2 : bug suppression unitaire alertes"
<a href="https://github.com/Gis70"><img src="https://avatars1.githubusercontent.com/u/16589132?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [Gis70](https://github.com/Gis70)**
_Wednesday Mar 06, 2019 at 23:09 GMT_
_Originally opened as https://github.com/NextDom/nextdom-core/issues/14_

----

La suppression unitaire des alertes via la corbeille ne marche pas, vider co

[2019-03-08 10:01] slobberbone opened #966 "Plugin Suivi Conso ne fonctionne pas"
<a href="https://github.com/Gis70"><img src="https://avatars1.githubusercontent.com/u/16589132?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [Gis70](https://github.com/Gis70)**
_Wednesday Mar 06, 2019 at 23:13 GMT_
_Originally opened as https://github.com/NextDom/nextdom-core/issues/15_

----

Erreur au chargement du panel et pas de graph
![image](https://user-images.g

[2019-03-08 10:01] slobberbone commented on #966
<a href="https://github.com/slobberbone"><img src="https://avatars3.githubusercontent.com/u/3833875?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [slobberbone](https://github.com/slobberbone)**
_Thursday Mar 07, 2019 at 08:17 GMT_

----

Es-tu sur que ce bug concerne Jeedom et non pas le plugin ?

[2019-03-08 10:01] slobberbone commented on #966
<a href="https://github.com/Gis70"><img src="https://avatars1.githubusercontent.com/u/16589132?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [Gis70](https://github.com/Gis70)**
_Thursday Mar 07, 2019 at 08:50 GMT_

----

Ca fonctionnait bien avant la migration :)

[2019-03-08 10:12] Gis70 commented on #960
J'ai encore eu le pb fresh installation d'hier soir 1.3 branche dev

[2019-03-08 10:14] Gis70 commented on #965
Événements aléatoire car ça a fonctionné ensuite. Je surveille.

[2019-03-08 19:42] Gis70 commented on #965
Ca ne marche pas je confirme quand on se retrouve en dehors de la page /index.php?v=d&p=dashboard

[2019-03-08 19:49] cyrilphoenix71 commented on #957
non

[2019-03-08 20:49] Gis70 opened #969 "Problème entre plugin MySensors et version NodeJS installé sur NextDom"
Le plugin MySensors ne fonctionne pas car SerialPort et Bindings ont été compilé avec des anciennes version de NodeJS.

Cf log :
`Error: The module '/var/www/html/plugins/mySensors/resources/node_modules/@serialport/bindings/build/Release/bindings.node'
was compiled against a different Node.js version using
NODE_MODULE_VERSION 57. This version of Node.js requires
NODE_MODULE_VERSION 64. Please try

[2019-03-08 21:04] Gis70 opened #970 "lastChangeStateDuration ne marche pas comme il devrait"
j’ai crée un virtuel que je passe à 1 ou 0 via une URL. (toujours répéter)
Dans le testeur d’expression j’exécute : lastChangeStateDuration(#[Aucun][test][on]#,1)
Il apparaît que le temps est mis à jour seulement au 2ème renvoi à 1 de la valeur et pas sur le premier.

Pb quand on utilise ça avec un Nut pr faire de la présence sur les premières secondes :)

[2019-03-08 21:08] cyrilphoenix71 commented on #970
Tu aurais une idée du fix ?

[2019-03-08 22:01] Gis70 opened #972 "Historique dans le testeur d'expressions n'a pas d'historique au clic dans le champ"
J'ai des vestiges d'historique Jeedom dans le testeur d'expression mais pas les nouveaux que j'ai pu faire sur Nextdom, il faut commencer à écrire pour voir apparaitre la commande

[2019-03-09 23:15] Gis70 opened #974 "setIsVisible ne marche pas dans un scénario"
La fonction setIsVisible ne marche pas dans mon scénario bloc code :
`$o=eqLogic::byId(492); $o->setIsVisible(1); // ou 0 pour rendre non visible
$p=$o->save();`

![image](https://user-images.githubusercontent.com/16589132/54078530-e935fd00-42c9-11e9-864b-282db7878f67.png)

[2019-03-09 23:16] Gis70 commented on #963
Ca ne marche pas non plus dans bloc code d'un scénario

[2019-03-10 14:18] Gis70 commented on #939
La correction ne fonctionne pas chez moi. Vidage du cache effectué sous Chrome.

[2019-03-10 15:22] Gis70 opened #975 "Ascenseur menu de gauche pour lisibilité"
![image](https://user-images.githubusercontent.com/16589132/54087158-9e12fd00-4350-11e9-85d5-210f7ed74ed4.png)
L’ascenseur n'était pas visible, mais maintenant il l'est, je n'arrive pas à reproduire pour l'instant

[2019-03-10 17:08] Gis70 commented on #966
Dans le plugin il y a des appels de ajax::success(jeedom::toHumanReadable($txt));
il y a aussi des appels dans la DB : jeedom.LaTable

[2019-03-11 20:54] Sylvaner commented on #934
ok

[2019-03-11 21:15] Sylvaner commented on #934
``

[2019-03-11 21:15] #934 closed, assigned to slobberbone

[2019-03-11 21:44] Sylvaner commented on #931
Ok mais va falloir revoir les col sans les row

[2019-03-11 22:08] slobberbone commented on #855
Testé et validé

[2019-03-11 22:13] slobberbone commented on #924
Corrigé pour cette modale, mais il y a un problème globalement pour l'ensemble des modales qui peuvent se redimensionner (ex import backup ... j'ouvrirai un ticket pour ça)

Testé et validé

[2019-03-11 22:13] Sylvaner commented on #924
OK

[2019-03-11 22:14] slobberbone commented on #930
c pas super sexy mais ca fait le taff
Testé et validé

[2019-03-11 22:14] #930 closed, assigned to nobody

[2019-03-11 22:15] slobberbone commented on #931
Validé et testé

[2019-03-11 22:15] #931 closed, assigned to nobody

[2019-03-11 22:15] slobberbone commented on #932
Validé et testé

[2019-03-11 22:16] Gis70 commented on #961
Idem pour l'inverse, lorsque je coche Ne pas mettre à jour, cela ne sauvegarde pas l'état

[2019-03-11 22:16] slobberbone commented on #935
Euh @cyrilphoenix71 on ne sait pas trop ce qu'il faut tester. Il faut mettre plus d'info, des captures d'écrans etc ...

[2019-03-11 22:19] slobberbone commented on #936
Validé et testé

[2019-03-11 22:20] slobberbone commented on #938
Pareil, quoi testé ... pas très clair.
Validé et ok car tout semble bien.

[2019-03-11 22:20] Sylvaner commented on #935
Ok

[2019-03-11 22:22] slobberbone commented on #943
Testé et validé

[2019-03-11 22:44] Gis70 commented on #959
ça fait ça avec d'autre device comme mon qubino pr le chauffage, les logos confort ou autre ne se rafraîchissent pas, il faut faire f5

[2019-03-11 23:02] Gis70 commented on #828
Comment on test ? time out de combien de temps ?

[2019-03-11 23:08] Gis70 commented on #799
tout va bien chez moi sur la branche dev
![image](https://user-images.githubusercontent.com/16589132/54163908-e1f22900-445a-11e9-8268-4c634b9064ad.png)

[2019-03-12 06:21] Gis70 commented on #959
Mon mode à moi sur le dash change bien de widget au changement de mode en cliquant dessus. Alarme aussi. Pas le Qubino chauffage fil pilote.

[2019-03-12 09:59] slobberbone opened #978 "Séparation des commandes système de l'interface"
Dans le fichier system.html.twig, on a :
`<legend>{{ 'Liste des commandes' }}</legend>
                    <div class="bs-sidebar form-group">
                        <ul class="nav nav-list bs-sidenav list-group">
                            {% if systemCanSudo %}
                                <li class="cursor list-group-item"><a class="bt_systemCommand label-list" data-command="sudo ../../scr

[2019-03-12 10:01] slobberbone commented on #978
![Sélection_453](https://user-images.githubusercontent.com/3833875/54191431-2e1e8700-44b6-11e9-8044-d329ee9b7f38.png)

[2019-03-12 11:32] #924 closed, assigned to nobody

[2019-03-12 11:32] #932 closed, assigned to nobody

[2019-03-12 11:32] #938 closed, assigned to nobody

[2019-03-12 11:33] #936 closed, assigned to nobody

[2019-03-12 11:33] #943 closed, assigned to nobody

[2019-03-12 11:33] slobberbone commented on #970
@Gis70 tu peux valider ?

[2019-03-12 17:16] Gis70 opened #979 "méthode manquante checkAndFixCron()"
Bonjour,

J'ai fais la màj du plugin thermostat ajd et il apparait qu'il manque une fonction :

cf :
https://github.com/jeedom/core/search?q=checkAndFixCron&unscoped_q=checkAndFixCron

[2019-03-12 17:52] slobberbone commented on #979
Commande ajoutée. Faut que je l'inclue proprement maintenant dans le code voir si c pertinent.

[2019-03-12 20:10] Gis70 commented on #970
@slobberbone OK validé

[2019-03-12 20:16] Gis70 opened #980 "Fenêtre interface web plugin espeasy trop petite"
Dans le plugin espeasy on peut accéder à l'interface web d'un module, mais là c'est beaucoup trop petit

![image](https://user-images.githubusercontent.com/16589132/54232904-12de6680-450c-11e9-9849-ecba1a94a49b.png)

[2019-03-12 20:49] slobberbone commented on #979
@Gis70 PR a alidé stp :)

[2019-03-12 21:49] Gis70 opened #983 "Min Max value ne s'affiche pas plugin ESPEASY"
Les Min Max value ne sont pas éditables malgré que l'on coche les cases. De plus les valeurs par défaut max sont à 0 !

![image](https://user-images.githubusercontent.com/16589132/54238498-f1d04280-4518-11e9-8d77-a71977d5854f.png)

Si je modifie directement le Max Value dans la table dans la DB ça marche.

[2019-03-12 22:27] Gis70 commented on #935
Je ne sais pas quoi tester et comme j'ai des pb de modale déjà...

[2019-03-12 22:45] cyrilphoenix71 commented on #941
@slobberbone
To test :
- Aller dans le dashboard
- Passer en mode edition (le crayon en bas)
- Dans les differents objets (pieces), Utiliser les fonctions de redimensionnement dans le coin superieur droit de l'objet piece
- Modifier les options tuiles dans la page "profil" et re-tester les 3 etapes précedentes

Puis tester la navbar en haut du dashboard

[2019-03-12 22:47] cyrilphoenix71 commented on #939
@slobberbone
To test :
- en externe avec profil active en 2factor d'authentification
- tenter de se connecter en se trompant de mot de passe et/ou code 2 factor
- verifier que le champs se vide

[2019-03-12 22:52] cyrilphoenix71 commented on #935
@slobberbone @Gis70
To test :
- aller dans le dash
- cliquer sur le titre d'un equipement pour aller dans sa page config
- cliquer sur configuration avancée (de l'equipement pas des commandes)
- tester tout ce qui est dans la modale qui s'ouvre (info, reglages etc)
- s'attarder sur l'onglet disposition et surtout la disposition tableau
- revenir à chaque fois sur le dash pour valider les changemnt

[2019-03-12 22:54] cyrilphoenix71 commented on #970
@slobberbone on clos ? (l'emeteur de l'issue valide donc...)

[2019-03-13 07:51] Gis70 commented on #983
VOilà dans la DB
![image](https://user-images.githubusercontent.com/16589132/54261919-41d8f480-456d-11e9-850a-d9d864fb6614.png)

[2019-03-13 16:42] Gis70 commented on #979
OK validé

[2019-03-13 19:38] Sylvaner commented on #935
Validé

[2019-03-13 20:10] #974 closed, assigned to nobody

[2019-03-13 20:46] slobberbone commented on #975
Pas reproduit

[2019-03-13 20:46] #975 closed, assigned to nobody

[2019-03-13 23:07] Gis70 commented on #972
une commande pr reseté la table ? et que je resteste ?

[2019-03-13 23:29] perarem commented on #828
@Gis70 tu définis la durée de vie de la session dans "administration & réglages" => "Général"
![Screen Shot 03-14-19 at 12 23 AM](https://user-images.githubusercontent.com/10147784/54321033-92913180-45ef-11e9-84b1-8d35a9b3c55d.PNG)
Puis tu ouvres une session sans cocher la case "Se souvenir de moi" et normalement au bout de x heure(s) la moindre action te renvoi sur la mire de connexion

[2019-03-14 00:01] perarem opened #985 "Tableau d'un équipement non centré dans la tuile du dashboard"
Le tableau d'un équipement n'est pas centré dans la tuile du Dashboard

**Comment reproduire ?**
Étapes pour reproduire le problème :
1. Editer un équipement
2. Cliquez sur le bouton 'Configuration avancée' puis sur l'onglet 'Disposition'
3. Sélectionner 'Tableau' dans le champ 'Disposition'
4. Définir les dimensions du tableau puis sauvegarder.
5. Dans 'Configuration détaillée' organiser votre ta

[2019-03-14 08:57] Gis70 commented on #983
OK validé

[2019-03-14 20:51] Astral0 commented on #932
ok

[2019-03-14 20:55] Astral0 commented on #855
ok

[2019-03-14 21:02] Astral0 commented on #935
ok

[2019-03-14 21:03] Astral0 commented on #938
ok

[2019-03-14 21:06] Astral0 commented on #941
ok

[2019-03-14 21:09] Gis70 opened #987 "Liste déroulante illisible dans fonction dans scénario thème Dark"
Le menu déroulant est illisible

![image](https://user-images.githubusercontent.com/16589132/54391680-d34b8200-46a5-11e9-9732-f8a9f6d30b11.png)

[2019-03-14 21:34] Gis70 commented on #972
Ca marche une fois que l'on commence à taper qqch, si on clique une fois rien n’apparaît

[2019-03-14 21:37] Gis70 commented on #932
ok

[2019-03-14 21:38] Gis70 commented on #970
je me permets de clore :)

[2019-03-14 21:38] #970 closed, assigned to nobody

[2019-03-14 21:53] #979 closed, assigned to slobberbone

[2019-03-14 22:53] perarem commented on #987
Confirmé sur la branche develop du 12/03 pas sur la branche Fixes

[2019-03-14 22:58] Gis70 commented on #954
OK

[2019-03-14 22:59] Gis70 commented on #939
marche toujours pas je viens de réessayer sur chrome

[2019-03-14 23:23] perarem opened #988 "Sur la branche Fixes, La plupart des modales KO dans les scénarios"
Dans la page programmation de l'éditeur de scénario les modale KO appelées par les boutons (peut-être d'autre aussi...)  :
![Screen Shot 03-15-19 at 12 16 AM](https://user-images.githubusercontent.com/10147784/54397713-b28c2800-46b7-11e9-88a0-dfdc9dd7c0aa.PNG)

Exemple sur la modale Sélectionner la commande :
![Screen Shot 03-15-19 at 12 06 AM](https://user-images.githubusercontent.com/10147784/54

[2019-03-14 23:41] perarem commented on #988
Oupss déjà signalé dans #950
Le ferme...

[2019-03-14 23:41] #988 closed, assigned to nobody

[2019-03-15 16:28] Sylvaner commented on #983
Déjà dans la branche develop

[2019-03-15 16:28] #983 closed, assigned to nobody

[2019-03-15 20:39] Gis70 commented on #939
Ok validé

[2019-03-15 21:03] #939 closed, assigned to nobody

[2019-03-15 21:46] Astral0 opened #990 "Le menu de filtrage des pièces en haut du dashboard bouffe la moitié de l'écran d'un smartphone"
Le menu de filtrage des pièces en haut du dashboard bouffe la moitié de l'écran d'un smartphone.
Il faudrait pouvoir le replier ou le faire disparaitre.

[2019-03-16 18:38] Gis70 opened #991 "Couleur écriture historique des commandes thème Dark illisible"
![image](https://user-images.githubusercontent.com/16589132/54479936-f7809d80-4822-11e9-8451-cdf0072154cf.png)

![image](https://user-images.githubusercontent.com/16589132/54479957-2eef4a00-4823-11e9-9d7c-1b93a474f4cf.png)

Les champs de recherche dans la configuration de l'historique des commandes est quasiment de la même couleur que le background

[2019-03-18 11:35] slobberbone opened #993 "Add NextDom Javascript Factory"
Add Javascript classes to generate HTMl Element. Based on VanillaJS.

[2019-03-18 21:00] daodevinc opened #994 "Bug interface Admin"
**Décrivez le bug**
Bug concernant les pourcentages des values récupérées sur les stats !

**Comment reproduire ?**
Étapes pour reproduire le problème :
Rubrique "Administration" de ND !

**Screenshots**
![nd](https://user-images.githubusercontent.com/9304947/54563270-0b660400-49c9-11e9-8d5b-7006a90bb1bb.png)

**Information matérielles**
 - OS : Debian 9 Proxmox
 - Navigateur : Fox
 - Version Next

[2019-03-19 08:45] slobberbone commented on #935
validé

[2019-03-19 08:45] #935 closed, assigned to nobody

[2019-03-19 09:29] slobberbone commented on #941
Testé et validé. Attention par contre sur des html element on a plusieurs fois le mm id. C'est à proscrire

[2019-03-19 09:30] #941 closed, assigned to nobody

[2019-03-19 09:30] #855 closed, assigned to nobody

[2019-03-19 15:44] #994 closed, assigned to nobody

[2019-03-19 20:58] Gis70 commented on #980
OK c'est réglé avec la PR March

[2019-03-19 20:58] #980 closed, assigned to slobberbone

[2019-03-19 20:59] Gis70 commented on #972
je ferme ça marche dès que l'on tape un caractère

[2019-03-19 20:59] #972 closed, assigned to nobody

[2019-03-19 21:32] Gis70 commented on #961
un lien ? Je n'arrive plus à laisser cocher activer les paramètres personnalisés d'un widget :
![image](https://user-images.githubusercontent.com/16589132/54643324-dd4ef580-4a96-11e9-8be7-30f1d99ee935.png)

[2019-03-19 21:39] #954 closed, assigned to nobody

[2019-03-19 21:40] Gis70 commented on #956
Si je clique sur le bouton ne pas répéter pour l'enlever et remettre, ça redevient comme il faut. C'est suite à l'import de jeedom.

![image](https://user-images.githubusercontent.com/16589132/54643757-f73d0800-4a97-11e9-891f-ba11f19a15aa.png)

[2019-03-19 21:47] Gis70 commented on #951
Ok en thèmes DARK
![image](https://user-images.githubusercontent.com/16589132/54644105-d3c68d00-4a98-11e9-9021-8ffd29887f75.png)

En thème normal ça dit quoi sur branche develop ? @cyrilphoenix71 @slobberbone @Sylvaner

[2019-03-19 21:47] Gis70 commented on #959
Ok en develop avec plugin mode à jour. Je clos

[2019-03-19 21:47] #959 closed, assigned to nobody

[2019-03-19 22:22] Sylvaner commented on #915
Ah un post install, tu est sur un thème standard.

Faut bien penser que tu n'est pas censé faire un postinstall après, et que si c'est le cas, est-ce vraiment intéressant ?

[2019-03-20 08:49] slobberbone opened #997 "Erreur SQL - Restauration backup 0.0.6 vers develop"
**Restauration d'un backup NextDom 0.0.6**
` Sends the end event of the restore/migration...  NOK
[2019-03-20 08:44:51][ERROR] : [MySQL] Error code : 42S22 (1054). Unknown column 'order' in 'field list'  : SELECT `name`, `group`, `isActive`, `mode`, `schedule`, `scenarioElement`, `trigger`, `timeout`, `isVisible`, `display`, `description`, `configuration`, `type`, `order`, `id`, `object_id`

[2019-03-20 09:15] slobberbone commented on #997
`
[2019-03-20 09:10:02][ERROR] : Erreur sur scenario::control() : [MySQL] Error code : 42S22 (1054). Unknown column 's.order' in 'field list'  : SELECT `s`.`name`, `s`.`group`, `s`.`isActive`, `s`.`mode`, `s`.`schedule`, `s`.`scenarioElement`, `s`.`trigger`, `s`.`timeout`, `s`.`isVisible`, `s`.`display`, `s`.`description`, `s`.`configuration`, `s`.`type`, `s`.`order`, `s`.`id`, `s`.`object_id`FROM

[2019-03-20 12:20] Esso1-jeedom commented on #997
j'ai pourtant fait des restaure de  0.06 , sans pb;

[2019-03-20 12:21] Sylvaner commented on #997
D'un 0.0.6 ?
T'as retrouvé une clé usb perdu derrière un meuble ? Envoie moi le backup

[2019-03-20 12:24] Esso1-jeedom commented on #997
non ma prod etati en 0.0.6 ... et j'avais le opi qui faisait les test...
donc oui d'une 0.0.6 develop . vers 0.1.3 std.

[2019-03-20 17:25] maximouche opened #999 "Broken link in readme.md"
**Décrivez le bug**
Link to installation doc is wrong

Should be https://www.nextdom.org/en/elementor-230/installation-de-nextdom/

[2019-03-20 17:42] Gis70 commented on #951
OK en theme white branche develop je clos.
![image](https://user-images.githubusercontent.com/16589132/54706746-ed6edf80-4b3f-11e9-92aa-6c9dca00fa97.png)

[2019-03-20 17:42] #951 closed, assigned to nobody

[2019-03-20 17:44] Gis70 commented on #947
Ca fonctionne en develop sur fresh install debian 9. je clos, je n'ai pas dû faire F5

[2019-03-20 18:03] perarem commented on #947
Pas d'accord, toujours présent.

[2019-03-20 18:05] Gis70 commented on #947
Tu es en dévelop récente ?

Le mer. 20 mars 2019 à 19:03, perarem <notifications@github.com> a écrit :

[2019-03-20 18:07] slobberbone commented on #999
Thanks we will fix as soon as possible

[2019-03-20 18:22] perarem commented on #947
Arghhh autant pour moi :-(
Je confirme c'est OK avec la dernière develop.

[2019-03-20 18:22] #947 closed, assigned to nobody

[2019-03-20 19:56] Gis70 commented on #828
OK pr moi validé

[2019-03-20 19:56] #828 closed, assigned to byackee

[2019-03-20 20:14] Gis70 opened #1000 "Casser le lien de création des caméras ZoneMinder dans Camera"
Le plugin ZoneMinder créer par défaut les caméras dans le plugin Camera, c'est dérangeant. Il faudrait laisser le choix à l'user.

Même une fois supprimées elles reviennent. A dispo pour test.

Merci

[2019-03-20 20:28] Gis70 commented on #721
Pas revu ce pb sur la dernière dev

[2019-03-20 20:38] Gis70 commented on #937
OK validé white n dark

[2019-03-20 20:49] Gis70 commented on #985
Pour ma part il ne s'affiche pas une fois l'édition terminée.
![image](https://user-images.githubusercontent.com/16589132/54718087-05ebf380-4b5a-11e9-9991-03bdb102b4bc.png)

En mode édition 👍
![image](https://user-images.githubusercontent.com/16589132/54718112-13a17900-4b5a-11e9-848b-3dd4ed41a750.png)

[2019-03-20 21:09] DanoneKiD commented on #721
Tjs KO pour moi
![image](https://user-images.githubusercontent.com/522809/54719333-e3a7a500-4b5c-11e9-98da-fbb83cdbfd7c.png)

[2019-03-21 17:08] slobberbone commented on #997
Pas sur que ca vienne du 0.0.6 mais plus du fait que toutes les requêtes ne sont aps effectuées ou que y a de l'asynchrone qq part et qu'on commence un truc avant la fin d'un autre ....

[2019-03-22 09:09] cyrilphoenix71 opened #1002 "Afficher le résumé pièce sur dashboard"
Le résumé de la pièce ne s'affiche pas sur le dashboard
Ajouter un cadre similaire à l'icône mais aligné à droite avec le résumé dedans

[2019-03-22 09:16] cyrilphoenix71 opened #1003 "Ajouter une entete dans la page update"
Dans le même style que les autres pages paramètres, ajouter une entete à la page update pour éviter les confusions et inclure dans cette entete le champs recherche

[2019-03-25 20:30] Gis70 commented on #961
Ok validé

[2019-03-30 01:46] defunes43 commented on #999
Fixed in #1006

[2019-03-31 20:38] Gis70 opened #1007 "Page scénario bouton variable ne fonctionne pas"
Le bouton variable ne fonctionne pas.

![image](https://user-images.githubusercontent.com/16589132/55294716-b208c680-5405-11e9-8616-e55db254eef9.png)

[2019-03-31 21:11] slobberbone commented on #1007
Fixé dans la pr. je clos directement

[2019-03-31 21:11] #1007 closed, assigned to nobody

[2019-04-01 19:30] Gis70 commented on #1007
ok validé

[2019-04-01 20:08] Astral0 opened #1009 "Bug graphique thème Dark"
Page Réseau de zwave en thème "Dark" :

![image](https://user-images.githubusercontent.com/39194968/55356255-9fa49080-54ca-11e9-8501-146974336d57.png)

En thème "Mix" c'est mieux :

![image](https://user-images.githubusercontent.com/39194968/55356281-b0550680-54ca-11e9-8d9d-0eadafd01055.png)

[2019-04-01 20:09] Gis70 commented on #1009
+1 même soucis chez moi mais j'avais pas pris le temps de le dire :)

[2019-04-02 11:21] Esso1-jeedom opened #1011 "Zwave bug log dependance"
pb Zwave
"
Could Not Open OZW Log File.
"
alors que ca marcher en 0.1.3.

**Information matérielles**
 - OS : : Debian 9.5
 - Navigateur :  chrome,  firefox
 - Version NextDom : ex : 0.1.4

 - Installé via : paquet deb,
je n'ai pas reussi a installer le MAJ du plugins ..

[2019-04-02 19:43] Esso1-jeedom opened #1012 "recuperer le menu type F$B33"
le menu est simple

il y a des CSS
des icones
dans le répertoire /montheme sous nextdom

cela va servir pour des menu et cadre en HTML

.
voir comment faire
[montheme.zip](https://github.com/NextDom/nextdom-core/files/3035649/montheme.zip)

le plus simple et de copier coller le répertoire si il existe.

[2019-04-02 21:03] Gis70 opened #1013 "bug icône pas d'info pour un plugin dans Santé"
![image](https://user-images.githubusercontent.com/16589132/55436014-7f90d200-559b-11e9-8f21-7ef31b3bbd3b.png)

[2019-04-02 21:16] Gis70 opened #1014 "Statut OK pour dépendances manquant"
![image](https://user-images.githubusercontent.com/16589132/55436714-55401400-559d-11e9-8a63-ef8c0e045ee4.png)

[2019-04-02 21:26] Gis70 opened #1015 "Mauvais intitulé icone clé API"
![image](https://user-images.githubusercontent.com/16589132/55437243-bb796680-559e-11e9-9f1a-da4cdda50dd5.png)

Ce n'est pas rafraîchir mais réinitialiser ou regénérer plutôt.

Et d'ailleurs si on réinitialise, la clé api n'est pas rafraîchie, obligé de faire un f5

[2019-04-03 14:02] cyrilphoenix71 opened #1016 "Double bug sur les header (menu filtrag piece dashboard et action-bar)"
**Décrivez le bug**
Sur le dashboard lors du scroll, la barre de filtrage des objets, "sautille".
Sur les pages compenant une action-bar, celle-ci ne se fixe pas en haut et disparait

[2019-04-03 19:00] Gis70 opened #1017 "Manque Timeline avant bouton à cocher dans un scénario"
![image](https://user-images.githubusercontent.com/16589132/55505447-69464d00-5653-11e9-8b98-ea5a11f413c2.png)

[2019-04-03 19:23] Astral0 opened #1018 "Bug selection de date dans page Historique"
Voilà :

![image](https://user-images.githubusercontent.com/39194968/55506607-29349980-5656-11e9-8648-52a352223b1e.png)

On ne peut pas sélectionner une plage :

![image](https://user-images.githubusercontent.com/39194968/55506723-731d7f80-5656-11e9-8bff-aeb5e8cf33b1.png)

Et là ca marche :

![image](https://user-images.githubusercontent.com/39194968/55506838-b841b180-5656-11e9-84ea-6317600a1600.p

[2019-04-03 19:25] cyrilphoenix71 commented on #1017
Corrigé avec l'issue #1016

[2019-04-03 20:15] Gis70 commented on #1017
ok validé

[2019-04-04 14:08] cyrilphoenix71 commented on #1015
Corrigé avec l'issue #1016

[2019-04-04 14:11] cyrilphoenix71 commented on #990
ok validé

[2019-04-05 09:07] cyrilphoenix71 commented on #987
pas sur la branche fixes, je clos

[2019-04-05 09:07] #987 closed, assigned to nobody

[2019-04-05 09:11] cyrilphoenix71 commented on #991
bug disparu dans branche fixes, je clos

[2019-04-05 09:11] #991 closed, assigned to nobody

[2019-04-05 16:49] Gis70 commented on #1013
OK Validé

[2019-04-05 16:51] Gis70 commented on #1015
OK validé pr le texte, mais pas de refresh auto

[2019-04-05 16:53] Gis70 commented on #1016
ok validé

[2019-04-05 16:57] Gis70 commented on #963
OK dans un scénario mais toujours NOK dans la personnalisation d'un widget

[2019-04-05 17:00] Gis70 commented on #965
fonctionnement aléatoire, un coup ça marche, un coup ça marche après plusieurs clic. (non ce n'est pas ma souri qui déconne, jai testé avec un autre)

[2019-04-05 17:04] Gis70 commented on #985
OK validé, pour faire le carré c'est un code CSS ? on peut l'avoir ?

[2019-04-05 17:07] Gis70 commented on #990
c'est lequel de menu, je vois pas trop ? une capture svp ?

[2019-04-05 17:28] Gis70 opened #1020 "Bouton enregistrer ne fonctionne pas dans configuration commande"
Les cases à cocher ne reste pas cochées ou décochées quand on sauvegarde dans config / commande (bouton engrenage d'une commande)

![image](https://user-images.githubusercontent.com/16589132/55645452-e9e28600-57d8-11e9-836a-bed0bfa6f191.png)

Idem dans Fixes

[2019-04-05 17:31] Esso1-jeedom commented on #1020
je me rappelle plus mais ce bugg, je me demande si  faut pas modifier le nom de l'objet, valider et sortir
reéditer et retirer le afficher le nom dans un 2eme temps..
ou bien y a une diff entre le menu ici , et l'edition de la commande direct dans son module, . soit tu edit le module dans l dash ou dans le design , soit dans l'interface du plugins . direct dans la commande ...

[2019-04-07 23:08] noodom opened #1022 "[Page de mise à jour]Ajout de lien direct vers catégories (ancres ou onglets)"
Dans la page des mises à jour, une amélioration possible serait de proposer des liens vers les différentes catégories (core/plugins/widgets/scripts/autres) pour un accès direct (éviter de scroller sur une page potentiellement très longue.

- Possibilité de le gérer par des ancres (ancres devant toujours être accessibles une fois qu'on a sélectionné une catégorie => pouvoir revenir en haut de page

[2019-04-07 23:13] noodom opened #1023 "[Page de mises à jour] Filtre sur les composants à mettre à jour"
Dans la page de mises à jour, ajouter la possibilité de faire un filtre sur l'affichage des composants à mettre à jour.
(Sur le même principe installés/Non installés du market)

[2019-04-07 23:20] noodom opened #1024 "[Page Réseau] Message d'information incomplet (il manque 'Nextdom' à la fin)"
Dans la page réseau, la phrase d'information en haut de page est incomplète : il manque 'Nextdom' à la fin

Attention : cette configuration n'est là que pour informer de sa configuration réseau et n'a aucun impact sur les ports ou l'IP réellement utilisés pour joindre **Nextdom**

[2019-04-07 23:25] Salvialf commented on #960
J'ai du subir le même bug:
Suite restauration sauvegarde de prod Jeedom sur environnement de test Nextdom:
Le terme 'jeedom' a été remplacé par 'nextdom' dans l'url de mon adresse DNS - visible sur le market dans 'Mes Jeedoms'.

[2019-04-07 23:29] Salvialf commented on #1020
Je pense que c'est en lien:
Dans l'onglet 'code' des paramètres d'une commande, une fois cochée la case 'Activer' le reste malgré l'avoir décochée et enregistrer commande + équipement.

Les modifications du code ne sont pas enregistrées.

Voir PJ (Pour info: Les pop-ups de sauvegarde apparaissent bien en bas de la fenêtre)
![20190408_010328](https://user-images.githubusercontent.com/48010158/55691

[2019-04-08 08:54] cyrilphoenix71 commented on #1024
Ce n'est pas un bug, la phrase reprend le nom produit configurer dans la page "General" :
![image](https://user-images.githubusercontent.com/18350629/55711242-9ba5d080-59ec-11e9-8837-73025b1e6e14.png)

[2019-04-08 08:54] #1024 closed, assigned to nobody

[2019-04-08 10:59] Gis70 commented on #1020
HS, mais comment tu fais le gif ?

[2019-04-08 11:59] cyrilphoenix71 commented on #1023
Pas d'interêt avec :
- feature ajoutée dans PR UI : page page en update en onglets
- les objet à mettre a jour se classe en premier

[2019-04-08 11:59] #1023 closed, assigned to nobody

[2019-04-08 14:20] cyrilphoenix71 commented on #637
doublon

[2019-04-08 14:20] #637 closed, assigned to nobody

[2019-04-08 14:34] cyrilphoenix71 commented on #1003
doublon #1022

[2019-04-08 14:34] #1003 closed, assigned to cyrilphoenix71

[2019-04-09 00:12] noodom commented on #1024
Bizarre, j'ai bien un nom de renseigné et je ne le vois pas dans la page réseau.

[2019-04-09 08:34] psycofdj opened #1027 "Gestion des chemins d'upload pour plan3d"
**Décrivez le bug**

J'ai des doutes sur https://github.com/NextDom/nextdom-core/blob/develop/core/ajax/plan3d.ajax.php#L180-L184
[code]
n'y a-t-il pas ici un problème ? on pose `/var/lib/nextdom/data/3d/$key/` dans le header path (si vide)
et juste derrière, ça construit le répertoire de décompression à base de `$(pwd)/../..//var/lib/nextdom/data/3d/<key>/`

je ne vois rien dans `Plan3dHeader::{s

[2019-04-09 09:17] Gis70 opened #1028 "Login Market Jeedom non sauvegardé"
Pour tester que c'est OK, allez dans Services / Market et tester vos login, la réponse doit être succès et sinon erreur 500 avec l'ancien code.

[2019-04-09 09:20] Gis70 commented on #1028
Ok validé

[2019-04-10 07:53] Astral0 commented on #798
Ben non je peux pas faire de commit, je constate que les droits sont cassés mais j'ai aucune idée de qui casse ces droits :)

[2019-04-10 08:09] #999 closed, assigned to nobody

[2019-04-10 08:34] Salvialf commented on #1020
J'utilise un logiciel de capture d'écran et je transforme le mp4 en gif

[2019-04-14 12:15] Gis70 commented on #1022
OK Validé mais pas d'icône sur les plugins, widegets...:
![image](https://user-images.githubusercontent.com/16589132/56092722-b7fbae80-5ebf-11e9-8e08-14dc11e8463e.png)

[2019-04-14 12:16] Gis70 commented on #957
ok validé

[2019-04-14 12:18] Gis70 commented on #940
OK validé

[2019-04-14 12:20] Gis70 commented on #538
ok validé

[2019-04-14 12:28] Gis70 commented on #508
de base on n'arrive pas sur top et nouveauté, il faut sélectionner une autre catégorie puis revenir sur top et nouveauté.

[2019-04-15 09:14] Gis70 commented on #721
OK validé

[2019-04-16 08:03] cyrilphoenix71 opened #1030 "Modales cmd.history comprend mal les dates"
Depuis le dashboard, en cliquant sur une commande d'un objet, on accede à la modale graphique historique de cette commande.
Les date de filtrage start/end sont mal compris par cette modale et le graphe affiché n'est pas celui demandé.

[2019-04-17 10:15] cyrilphoenix71 commented on #913
bug disparu sur dev actuelle

[2019-04-17 10:15] #913 closed, assigned to nobody

[2019-04-17 16:44] Gis70 commented on #1014
OK dans UI

[2019-04-17 16:45] cyrilphoenix71 commented on #1018
doublons avec #1030

[2019-04-17 16:45] #1018 closed, assigned to nobody

[2019-04-17 16:46] #1014 closed, assigned to nobody

[2019-04-17 17:03] Gis70 commented on #966
Dans le PANEL on arrive sur SUIVI CONSO :

![image](https://user-images.githubusercontent.com/16589132/56306692-695e4680-6143-11e9-8c2c-d4d0986403ee.png)

Il manque les graphiques,  le type heure creuse ou plein et la puissance instantanée en cours et la puissance maxi de l'abonnement (en haut à droite dans les espèces de drapeaux vides)

On peut voir plus haut le 6 mars lors de mon passage pour l

[2019-04-17 17:07] Gis70 commented on #966
Voilà ce que j'obtiens en cliquant sur le message de debug :
![image](https://user-images.githubusercontent.com/16589132/56306932-0ae59800-6144-11e9-941a-3b21733f54a1.png)

[2019-04-18 15:19] Astral0 commented on #915
Sauf que si c'est un fichier généré, il doit se trouver ailleurs que dans public/css/

[2019-04-19 15:55] therealcorwin opened #1033 "Resume domotique : bug Deplacement equipement v1.4"
**Décrivez le bug**

Dans l'écran "Résumé Domotique", lorsque je sélectionne un équipement dans la colonne "Aucun" pour le déplacer dans vers un "Dashboard" il n'y a pas de soucis.

Par contre si je veux déplacer un équipement de "Dashboard" ==>  "Aucun" j'ai une erreur mysql qui claque
Idem lorsque je sélectionne un équipement dans la colonne "Aucun", commence à le déplacer puis le relâche

**Scr

[2019-04-19 20:52] Gis70 commented on #1030
Ok validé

[2019-04-20 08:38] Esso1-jeedom commented on #997
tjrq ok pour moi

[2019-04-20 13:17] #961 closed, assigned to Gis70, Esso1-jeedom

[2019-04-20 13:28] Sylvaner commented on #997
@slobberbone C'est bon ?

[2019-04-20 19:02] Gis70 commented on #965
Ca à l'air OK cette fois :)

[2019-04-21 08:21] slobberbone commented on #997
Oui ok pour moi

[2019-04-21 08:22] #997 closed, assigned to slobberbone

[2019-04-21 08:22] #909 closed, assigned to Sylvaner

[2019-04-21 08:22] #914 closed, assigned to Astral0

[2019-04-21 08:23] #965 closed, assigned to nobody

[2019-04-21 16:07] daodevinc opened #1035 "Erreur lors de la sauvegarde en SMB"
**Décrivez le bug**
Lorsque l'on fait une seauvegarde en SMB (qui fonctionne !), une message d'erreur est retourné dans les logs :

`[2019-04-21 01:59:07][ERROR] : Erreur dans l'exécution du terminal, la valeur retournée est : 1. Détails : Domain=[WORKGROUP] OS=[Windows 6.1] Server=[Samba 4.4.16] NT_STATUS_NO_SUCH_FILE listing \SAUVEGARDE\Nextdom\Core\..`

**Information matérielles**
 - OS : Debia

[2019-04-22 18:09] #1013 closed, assigned to slobberbone, Gis70

[2019-04-22 18:10] #721 closed, assigned to Gis70, cyrilphoenix71

[2019-04-22 18:10] #956 closed, assigned to Gis70

[2019-04-22 18:11] #963 closed, assigned to nobody

[2019-04-22 18:13] #1015 closed, assigned to Gis70

[2019-04-22 18:14] #1017 closed, assigned to DanoneKiD, ColonelMoutarde, cyrilphoenix71, Esso1-jeedom

[2019-04-22 18:15] #1016 closed, assigned to cyrilphoenix71

[2019-04-22 18:17] #958 closed, assigned to nobody

[2019-04-22 18:25] #985 closed, assigned to byackee, cyrilphoenix71

[2019-04-23 07:13] Gis70 opened #1037 "[Develop] La vue mobile est Ko"
Sur Develop  la vue mobile est KO

[2019-04-23 07:40] Gis70 commented on #990
OK validé

[2019-04-23 07:40] #990 closed, assigned to nobody

[2019-04-23 20:01] #1028 closed, assigned to DanoneKiD, ColonelMoutarde, Gis70, cyrilphoenix71

[2019-04-23 20:15] Gis70 commented on #1033
Le problème existe quand on veut mettre un équipement dans Aucun, si on met qqch de aucun vers un objet existant c'est bon.

[2019-04-23 20:28] therealcorwin commented on #1033
Cela a peut être corrigé dans la nouvelle version en cours. Je retenterais quand elle sera dispo. Si pas de souci, je fermerais l'issue.

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: Gis70 <notifications@github.com>
Sent: Tuesday, April 23, 2019 10:15:23 PM
To: NextDom/nextdom-core
Cc: therealcorwin; Author
Subject: Re: [NextDom/nextdom-core] Resu

[2019-04-24 10:26] psycofdj opened #1039 "Détailler un peu plus les messages de la procédure d'installation"
Tel que suggéré par @cyrilphoenix71, une option `-v` et/ou `--verbose` au script `install/postinst` permettrait d'avoir un peu plus de détails sur ce qu'il se passe lors de la procédure d'installation.

En particulier, il serait intéressant de détailler le contenu de l'étape `assets`, géré par le script `gen_globals.sh`

[2019-04-24 13:01] cyrilphoenix71 opened #1040 "Vider adresse navigateur au firstuse"
SI avant un postinstall on etait sur la page :
http://192.168.2.12/index.php?v=d&p=custom

au firstuse l'adresse est toujours la et à la validation de la derniere etape, nextdom s'ouvre du coup sur la page custom plutot que le dashboard.

[2019-04-24 19:23] cyrilphoenix71 opened #1041 "Impossible de se connecter sous IExplorer"
A la connexion j'ai cette erreur sous IExplorer :
![image](https://user-images.githubusercontent.com/18350629/56687674-21a56500-66d7-11e9-88d5-5f8d6e142b30.png)
Tout est ok sous chrome, firefox et edge

[2019-04-26 05:44] psycofdj opened #1042 "The theme css utilisateur est généré à chaque requête"
**Décrivez le bug**

Suite à quelques tumultes de merge, une erreur s'est introduite faisant que le fichier est regénéré à chaque requête, pénalisant ainsi les performance de nextdom

ci après les lignes incriminée:

https://github.com/NextDom/nextdom-core/blob/15568a76a3a55266ca78b9a3733538816841dcf2/src/Helpers/PrepareView.php#L583-L586

[2019-04-26 16:57] psycofdj opened #1045 "Problem with apache access"
The `var` directory should not be entirely served by apache.
However following items must be available to browser:
- generated `theme.css`
- plugin icons from market cache

---

Le dossier `var` ne devrait pas être entièrement servi par apache.
Les elements suivants doivent cependant rester accessible depuis le navigateur:
- le `theme.css` généré
- les icones de plugin du market

[2019-04-26 19:52] Gis70 opened #1046 "Avoir le choix de sauvegarder ou non les plugins lors des backups"
Avoir le choix de sauvegarder ou non les plugins lors des backups, ça permettrait d'alléger, et lors d'un restore de repartir sur des bonnes bases sans vieux vestiges dans les plugins.

[2019-04-26 20:10] Gis70 opened #1047 "OK dans log restore backup mal écrit ==> oK"
![image](https://user-images.githubusercontent.com/16589132/56833870-189bcb80-6870-11e9-9cbc-75c2ac6cee32.png)

En develop du 26/04

[2019-04-26 22:13] Gis70 commented on #960
Voilà un soucis :
![image](https://user-images.githubusercontent.com/16589132/56839089-450c1380-6881-11e9-9a94-d1bc7bba33b6.png)
à la place de nextdom jai jeedom dans mon sous domaine et il a été remplacé tout seul

[2019-04-26 22:34] Gis70 opened #1048 "Tous les dossiers ne sont pas sauvegardé lors d'un backup"
Lors de la backup, tous les dossiers perso ne sont pas sauvegardés :

ex : gsg (gestion des pellets)
un dossier avec des backup de JPI

les themes dans montheme

Il faudrait sinon prévenir que rien n'est sauvegardé

[2019-04-27 10:14] Gis70 commented on #969
Pas reproduit en develop du 26/04, le plugin mysensor fonctionne correctement, une maj du plugin mysensors a dû corriger le pb

[2019-04-27 10:14] #969 closed, assigned to nobody

[2019-04-27 20:17] Gis70 opened #1049 "[develop] Plugin WIDGET répertoire fonts non trouvé"
![image](https://user-images.githubusercontent.com/16589132/56854638-3d5c7580-693a-11e9-99b1-50477959079a.png)

[2019-04-27 20:19] Gis70 opened #1050 "[develop] Résumé domotique en erreur si présence d'un ancien équipement"
![image](https://user-images.githubusercontent.com/16589132/56854653-7bf23000-693a-11e9-8f87-aa99fbf2a018.png)

J'ai dû supprimé la ligne de l'équipement dans edLogic

Le plugin previsionmeteo s'appelait avant previsionpluie peut être...

[2019-04-28 13:59] cyrilphoenix71 opened #1051 "Plugin gestion d'accès qui s'affiche à 990€ dans market jeedom"
viens du fait que 2 catégories ont été ajoutée par Jeedom : Premium et Partenaires

[2019-04-28 17:15] psycofdj commented on #1047
C'est fait *exprès*, afin de mieux différencier le `oK` du `Ko`. Ce n'est à mon sens pas un bug.

Ceci étant dit, cela peut se changer :)

[2019-04-28 17:31] #1042 closed, assigned to psycofdj

[2019-04-28 17:43] #1040 closed, assigned to nobody

[2019-04-28 18:49] psycofdj commented on #1035
je n'ai pas ce message d'erreur, par contre le backup ne fonctionne tout simplement pas sur la branch develop (03c2b2b79bf677224a5b7239c76dde86b2c3e1e9)

[2019-04-29 05:42] #1037 closed, assigned to psycofdj

[2019-04-29 05:42] #1045 closed, assigned to psycofdj

[2019-04-29 05:42] #1049 closed, assigned to nobody

[2019-04-29 08:03] psycofdj commented on #1009
+1

[2019-04-29 09:13] psycofdj commented on #1039
@cyrilphoenix71 est-ce que les outputs suivants t'iraient ? Le premier est en mode non-verbeux et le second en mode verbeux.

[code]

[code]

[2019-04-29 09:27] cyrilphoenix71 commented on #1039
T en feu !! c'est parfait !

[2019-04-29 11:27] psycofdj commented on #1046
plutôt que de laisser le choix de backuper ou non les plugins,
je propose de laisser ce choix au moment du restore

[2019-04-30 07:31] cyrilphoenix71 commented on #1009
@psycofdj @Gis70 est ce tjs présent sur PR Gui ?

[2019-05-01 08:48] psycofdj opened #1061 "Probleme avec le plugin JeeXplorer"
**Décrivez le bug**

Dans https://github.com/KiboOst/jeedom-jeexplorer/blob/16c145c7a504858d56fc9b58d831d71f9834fb92/desktop/js/jeexplorer.js#L17-L19

[code]

Comment reproduire:

- installer le plugin JeeXplorer
- activer le plugin
- on arrive sur un erreur de fichier js introuvable

[2019-05-01 10:04] psycofdj commented on #817
@cyrilphoenix71 tu peux me dire sur quelle page valider cette issue ?

[2019-05-01 11:57] #1047 closed, assigned to psycofdj

[2019-05-01 12:48] #1061 closed, assigned to nobody

[2019-05-01 12:50] #1039 closed, assigned to psycofdj

[2019-05-01 21:32] Gis70 opened #1063 "un jeedom qui traîne"
![image](https://user-images.githubusercontent.com/16589132/57043971-6138f780-6c69-11e9-8eb0-843697a5eeff.png)

[2019-05-02 12:09] cyrilphoenix71 opened #1064 "Jquery bootstrap >> NPM"
Proposition issue de la PR https://github.com/NextDom/nextdom-core/pull/1059
![image](https://user-images.githubusercontent.com/18350629/57074318-d2b58c00-6ce3-11e9-94d6-bd60c7934986.png)

[2019-05-02 12:47] cyrilphoenix71 opened #1065 "Amelioration Assert des test travis"
il faudrait changer l'assert par une fonction a nous qui, lorsque y'a des logs, les prints et fasse l'assert
et faudrait utiliser cette nouvelle fonction partout où on fait un simple assert.

[2019-05-02 14:30] dcjona opened #1066 "Soucis migration"
**Décrivez le bug**
[ START RESTORE / MIGRATION ]
*************** Starting procedure at 2019-05-02 16:22:56 ***************
Sends the start event of the restore/migration...  OK
File used for restoration : /usr/share/nextdom/backup/backup-dcjona-3.3.22-2019-05-02-10h27.tar.gz
Checking rights...
OK
Désactiver toutes les tâches cron... OK
Désactiver tous les scénarios... OK
Extract the backup...
OK

[2019-05-02 14:43] dcjona commented on #1066
après retour et actualisation :
[MySQL] Error code : 42S02 (1146). Table 'nextdom.update' doesn't exist : SELECT count(*) FROM `update` WHERE `status`="update"

[2019-05-02 17:52] Gis70 commented on #1051
OK validé

[2019-05-02 18:11] Gis70 opened #1067 "Autres problème avec JeeXplorer : ouverture d'un fichier"
Quand on souhaite ouvrir un fichier ça ne fonctionne pas :

![image](https://user-images.githubusercontent.com/16589132/57096807-6acc6900-6d16-11e9-8dde-0304a4874a2f.png)

![image](https://user-images.githubusercontent.com/16589132/57096815-71f37700-6d16-11e9-833d-d76611278da7.png)

Les erreurs s'accumulent...

[2019-05-02 18:34] #508 closed, assigned to nobody

[2019-05-02 20:17] Gis70 opened #1068 "Filtre année / tous... graphique dépendant de la plage renseignée"
Les boutons de filtre de date sont dépendant de la plage renseignée plus haut.

Comme c'est par défaut un mois, année et tous ne marche pas.

![image](https://user-images.githubusercontent.com/16589132/57104113-d3701180-6d27-11e9-9026-c67b71f1d65c.png)

[2019-05-02 20:32] Gis70 commented on #1009
@cyrilphoenix71 oui c'est tj là

[2019-05-02 20:36] Gis70 opened #1069 "[GUI] Vue mobile pas de thème chargé"
Les thèmes choisis pr vue mobile ne sont pas chargés :

![image](https://user-images.githubusercontent.com/16589132/57105271-a40ed400-6d2a-11e9-8367-f2830268fbbc.png)

[2019-05-03 19:10] #1051 closed, assigned to Gis70

[2019-05-03 19:10] #1030 closed, assigned to nobody

[2019-05-03 19:11] Gis70 commented on #1022
il y a les icones depuis le merge dans develop.

[2019-05-03 19:11] #1022 closed, assigned to Gis70

[2019-05-03 19:11] #957 closed, assigned to Gis70

[2019-05-03 19:13] #940 closed, assigned to Gis70

[2019-05-03 19:14] #937 closed, assigned to Gis70

[2019-05-03 19:15] #896 closed, assigned to nobody

[2019-05-03 19:16] #817 closed, assigned to byackee

[2019-05-03 19:17] #538 closed, assigned to Gis70

[2019-05-03 19:38] Gis70 opened #1070 "Mettre les icônes des plugins dans la page màj"
Page maj  :
![image](https://user-images.githubusercontent.com/16589132/57161366-b56be500-6deb-11e9-9d4f-d67404e6974a.png)

Page gestion des plugins :

![image](https://user-images.githubusercontent.com/16589132/57161392-c4eb2e00-6deb-11e9-9e26-0a3dfc6b3078.png)

c'est quand même plus joli :)

[2019-05-03 20:35] psycofdj opened #1071 "Traiter la migration de configuration samba"
Suite à la réparation des backups sur partage samba, la sémantique de la configuration du répo à changer.

Il faut gérer la modification automatique de cette configuration pour que les utilisateurs ne se retrouve pas avec des erreurs de backups lors de la prochaine release nextdom

avant:

![image](https://user-images.githubusercontent.com/1496191/57164184-9a9d6e80-6df3-11e9-819a-81f3ead051d1.png)

[2019-05-03 20:36] Gis70 commented on #1035
OK validé, les sauvegardes refonctionnent. @Sigri44 le message vient du fait qu'il va y avoir une fonction dépréciée. Mais c'est réglé dans la branche develop.

[2019-05-03 20:36] #1035 closed, assigned to psycofdj

[2019-05-03 21:08] Gis70 commented on #808
@cyrilphoenix71 pour moi c'est fixé ça marche sur la develop, je clos.

[2019-05-03 21:08] #808 closed, assigned to nobody

[2019-05-03 21:21] Gis70 opened #1072 "bug flèche remontée rapide"
La flèche pour revenir en haut ne marche plus :)

![image](https://user-images.githubusercontent.com/16589132/57166305-04b91200-6dfa-11e9-9729-fad360b877f6.png)

[2019-05-03 21:33] psycofdj commented on #1067
je ne constate le problème que sur l'action "ouvrir" des fichiers

le mode *edit* fonctionne, il faut pour cela aller sur un fichier sur lequel on a les droits d'écriture (pas le core, donc)

et il se trouve qu'il se passe la même chose sur la page de démonstration de la bibliothèque sous-jacente au plugin: https://studio-42.github.io/elFinder/#elf_l1_TUlNRS10eXBlcw

[2019-05-03 21:33] #1067 closed, assigned to psycofdj

[2019-05-03 21:40] psycofdj commented on #1072
sur le commit d869022073ecab90efcd0014b1bcad740012bf73

[2019-05-03 21:43] Gis70 commented on #661
Fait dans la branche #1059

[2019-05-03 21:43] #661 closed, assigned to nobody

[2019-05-04 11:13] psycofdj commented on #1064
Prière de valider les markets plugin (jeedom/nextdom) et le market widget

[2019-05-04 22:19] Gis70 opened #1077 "scénario : manque des commandes dans la liste des actions (message, enregistrement...)"
Sur la branche https://github.com/NextDom/nextdom-core/commit/d869022073ecab90efcd0014b1bcad740012bf73 lorsque l'on veut créer une action dans un scénario qui servira a envoyer un message ou une photo, cette commande n'est pas proposée dans le menu déroulant.

@cyrilphoenix71 pense que cela se situe dans https://github.com/NextDom/nextdom-core/blob/develop/assets/js/modals/cmd.human.insert.js

Je

[2019-05-05 11:32] Astral0 opened #1078 "Certains plugins utilisent les chemins en dur vers /var/www/html/log"
Exemple sur le plugin FTPD, on trouve ce code dans core/class/ftpd.class.php :

[code]

Sous Nextdom, le chemin des logs est maintenant /var/log/nextdom, et il n'y a plus de lien symbolique depuis /var/www/html/log, donc le plugin ne fonctionne pas.

Sous Nextdom, il existe une variable NEXTDOM_LOG.

Il faudrait avoir un code PHP propre qui teste si on est sous Nextdom ou Jeedom pour éviter de cas

[2019-05-05 15:30] #1064 closed, assigned to psycofdj

[2019-05-05 19:51] Gis70 opened #1079 "CSS Perso non sauvegardée pour le mobile"
La CSS perso n'est pas sauvegardée pr le mobile, elle l'est pr le dashboard PC
branche : 740fc05b

[2019-05-08 16:02] #1071 closed, assigned to psycofdj

[2019-05-08 16:02] #1069 closed, assigned to psycofdj, cyrilphoenix71

[2019-05-08 16:08] #1077 closed, assigned to nobody

[2019-05-09 19:40] Gis70 opened #1081 "Nettoyage DB migration Jeedom vers NextDom"
Lors de la migration d'un Jeedom vers NextDom, il faudrait nettoyer la DB pour ne pas avoir d'erreur de plugin introuvable (plugin supprimé manuellement dans le dossier ou proprement via supprimer mais toujours des traces dans la DB)

[2019-05-09 20:20] cyrilphoenix71 opened #1082 "Exclure #dashboard dans la classe content du css"
Le plugin Google Cast à son design cassé et donc à tester après le fix
Ajouter :not(dashboard) dans le css qui contient ".content"

[2019-05-09 23:42] themaluxis commented on #1082
Dans mon cas, résolu comme ça ("/usr/share/nextdom/vendor/node_modules/admin-lte/dist/css/AdminLTE.css") :

`.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}`
modifié en
`.content:not(line1 marquee) {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padd

[2019-05-10 11:13] themaluxis commented on #1081
Soucis rencontré après la suppression de AlternativeMarketForJeedom AVANT de faire mon backup -> migration

Fixé a l'aide de
`UPDATE config SET value=0 WHERE plugin='AlternativeMarketForJeedom';
`

[2019-05-10 13:08] themaluxis commented on #1079
Après test, dans mon cas, la modification est bien effective dans "/var/www/html/var/custom/mobile/custom.css" mais n'est pas retournée dans l'interface de modification du CSS Perso.
Donc le CSS custom est bien pris en compte, mais Nextdom n'affiche juste pas le contenu actuel du fichier apparement.

[2019-05-10 19:07] Gis70 opened #1083 "Market bug lors de la recherche d'un plugin par un nom composé"
Recherche de RF Link (l'espace créer l'erreur) :

![image](https://user-images.githubusercontent.com/16589132/57550640-40f2f200-7367-11e9-9291-509a85755f58.png)
branche 35d13ee

[2019-05-11 19:43] edgd1er opened #1084 "le test mysqladmin n'est pas un test, il sera toujours vrai."
**Décrivez le bug**

pstinst L400:
Hostpass contient toutes les infos pour se connecter a mysql qu'il soit distant ou local. le OR ne sera jamais operationnel puisque le retour du mysqladmin sera toujours 0.

**Comment reproduire ?**
Étapes pour reproduire le problème :
1. créer un docker mysql
2. lancer le postinst avec les options pour accéder au conteneur mysql distant
3. Attendre 2 minutes que

[2019-05-12 21:14] themaluxis opened #1087 "Barre blanche sur les design mobile"
Lorsque l'on utilise un design sur un smartphone, celui ci apparaît avec un barre blanche de 50px en haut, ça décale toute la page vers le bas. Très génant lorsque l'on fait un design à la taille de son écran ^^

Étapes pour reproduire le problème :
Sur PC on peut reproduire le problème avec l'outils de dev Google Chrome
- Pour cela aller dans un design, passer en mode simulation de mobile avec le

[2019-05-14 19:59] Sylvaner commented on #1087
Bonjour,
Actuellement je travaille sur une nouvelle version mobile qui devrait intégralement remplacer l'ancienne.
Je vais bientot mettre en place une explication pour pouvoir la tester.

[2019-05-14 20:49] Sylvaner commented on #1083
Corrigé, merci

[2019-05-14 20:49] #1083 closed, assigned to nobody

[2019-05-16 19:37] Gis70 opened #1095 "Page update vide après avoir cliqué sur Sauvegarde"
Dans la page update, lorsque l'on clic sur "Sauvegarde" sur la branche 877ef8a (develop) ,tous les îcones des plugins / scripts... disparaissent. Pas d'erreur dans la console.Un refresh de la page ne les fait pas réapparaitre.

Pour qu'ils réapparaissent il faut cliquer sur vérifier les mises à jour.

De plus cela ne sauvegarde pas car la case ne pas mettre à jour ne reste pas cochée.

[2019-05-18 07:39] Esso1-jeedom opened #1097 "bouton Activer desactiver tout les scénarios ne marche pas"
**Décrivez le bug**
lors de l'appui sur le bouton pour activer ou désactiver les scénarios, rien ne ce passe.

rien ne marche , ( n'active pas, ou ne désactive pas , tout les scénarios)

![active T](https://user-images.githubusercontent.com/40739563/57966343-cae72000-7950-11e9-8d56-ec0a886ec24b.JPG)
![activer T](https://user-images.githubusercontent.com/40739563/57966344-cd497a00-7950-11e9-8a6b-bc

[2019-05-18 22:24] themaluxis commented on #1087
Cela permettra tout de même d'utiliser des design customs ?

[2019-05-20 11:23] themaluxis opened #1098 "Problème de l'affichage des message si on a scrollé"
**Décrivez le bug**
Lors de l'ouverture de la popup des messages, si la page a été scrollé vers le bas, la popup message s'ouvre mais autoscroll en TOP, du coup on ne voit pas les messages et ça casse le scroll, obligé de faire F5 pour récupérer la main sur la page

**Comment reproduire ?**
Étapes pour reproduire le problème :
1. Aller sur le dashboard et scrollé en milieu / bas de page
2. Cliquez

[2019-05-20 13:41] nextdom-user opened #1099 "Review conditions testing"
Review all condition tests :

- != ''
- !== ''
- == ''
- === ''

And replace them by empty($var)

[2019-05-20 20:10] cyrilphoenix71 opened #1101 "Bug theme jquery introduit par mise a jour du vendor"
les modales sont bugguées graphiquement depuis que jquery est passé par npm

[2019-05-21 05:34] #1084 closed, assigned to nobody

[2019-05-21 07:55] cyrilphoenix71 opened #1102 "Bouton d'installation plugin sur modale market jeedom non coherents"
Quand un plugin est deja acheter, le bouton est quand meme acheter.
Quand un plugin est gratuit le bouton est quand acheter

[2019-05-21 08:51] cyrilphoenix71 opened #1103 "Impossible d'installer un plugin jeedom depuis market jeedom"
En cause les ===

[2019-05-21 09:17] cyrilphoenix71 commented on #1097
le bug n'en est pas un, "desactiver tous" desactive en fait la gestion globale des scenarios, j'ajoute un test et un message

[2019-05-21 12:09] cyrilphoenix71 opened #1104 "Decalage hierarchique inutile sur le dash"
Dans la nouvelle hierarchie du dash on a un decalage inutile dans le cas ou le premier parent est configuré "invisible"

[2019-05-21 12:25] Esso1-jeedom opened #1105 "roue qui tourne sans arret sous chrome"
sous chrome uniquement et sous la develop ( sous la std 0.1.4 pas de pb)

a priori un bugg java . car il ne fait que charger du java ...
![Capture](https://user-images.githubusercontent.com/40739563/58095922-40aeee00-7bd4-11e9-9e71-77e3fe3ad3d4.JPG)

[2019-05-21 16:39] Esso1-jeedom commented on #1105
![image](https://user-images.githubusercontent.com/40739563/58114258-b5475400-7bf7-11e9-8bce-8fc76e2f493e.png)

[2019-05-21 16:47] Esso1-jeedom commented on #1105
jquery.min.js:2 [Deprecation] Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check https://xhr.spec.whatwg.org/.
send @ jquery.min.js:2
VM1105:54 Uncaught TypeError: html.style is not a function
    at displayObject (<anonymous>:54:6)
    at Object.success (<anonymous>:27:393)
    at Object.success (base.j

[2019-05-21 19:41] Gis70 commented on #1103
ok validé

[2019-05-21 19:42] Gis70 commented on #1102
ok validé

[2019-05-21 19:43] Gis70 commented on #1101
ok validé si tu confirmes que ça c'est conforme (bord arrondi et plus de blanc)
![image](https://user-images.githubusercontent.com/16589132/58125728-83db8200-7c11-11e9-8890-9289c4ae301c.png)

[2019-05-21 19:44] Gis70 commented on #1097
ok validé

[2019-05-22 04:54] #1105 closed, assigned to nobody

[2019-05-22 04:54] Esso1-jeedom commented on #1105
pb de cache

[2019-05-22 04:57] Esso1-jeedom commented on #898
alors en ayant chercher....  Il y a 2 option d'images dans camera, la miniature, et la standard... normalement   camera en dash=> Miniature
Camera afficher avec Image camera )> Std.... mais la on affiche tout le temps la miniature
en plus l'image afficher en camera suis la taille de la miniature.
si je l'agrandi dans le dash, elle sera grande en camera ... etc

[2019-05-22 05:16] Esso1-jeedom commented on #898
https://youtu.be/4e-kFPqNj6I

[2019-05-22 07:47] cyrilphoenix71 opened #1107 "Résumé objet sur dashboard disparu depuis migration jeedom > nextdom"
Depuis la demarrage du fork et le passage sous adminLTE, le resumé de chaque objet qui etait initialement dans le menu flottant jeedom, à disparu et n'a pas été réintégré.

[2019-05-22 07:48] cyrilphoenix71 opened #1108 "Déplacer le menu "Liste objets & résumé" dans la section "outils""
Pour plus de cohérence et moins de confusion

[2019-05-22 07:53] cyrilphoenix71 commented on #1002
doublon

[2019-05-22 07:53] #1002 closed, assigned to cyrilphoenix71

[2019-05-22 19:06] Gis70 opened #1109 "Enregistrement non effectué dans l'éditeur de fichier dans OS/DB"
Tout est dans titre branche : 09407e8

[2019-05-22 19:37] Gis70 commented on #1109
En fait c'était un pb de droit

[2019-05-22 19:37] #1109 closed, assigned to nobody

[2019-05-22 20:37] Gis70 commented on #1108
ok validé

[2019-05-22 20:38] Gis70 commented on #1107
ok validé

[2019-05-22 20:39] Gis70 commented on #1072
ok validé

[2019-05-23 05:40] Sylvaner commented on #1108
validé

[2019-05-23 05:40] #1108 closed, assigned to Gis70

[2019-05-23 05:41] Sylvaner commented on #1104
Ok

[2019-05-23 05:41] #1104 closed, assigned to nobody

[2019-05-23 15:36] Sylvaner commented on #1072
validé

[2019-05-23 15:36] #1072 closed, assigned to Gis70

[2019-05-23 15:36] Sylvaner commented on #1103
Validé

[2019-05-23 15:36] #1103 closed, assigned to Gis70

[2019-05-23 15:37] Sylvaner commented on #1102
validé

[2019-05-23 15:37] #1102 closed, assigned to Gis70

[2019-05-23 15:39] Sylvaner commented on #1097
Validé

[2019-05-23 15:39] #1097 closed, assigned to Gis70

[2019-05-26 06:13] Esso1-jeedom commented on #898
ok  t un champion sylvaner ;)

[2019-05-26 06:13] #898 closed, assigned to nobody

[2019-05-26 19:31] #1101 closed, assigned to Gis70

[2019-05-26 19:35] #1107 closed, assigned to Gis70

[2019-05-27 07:33] #952 closed, assigned to nobody

[2019-05-27 13:59] #1070 closed, assigned to nobody

[2019-05-27 13:59] cyrilphoenix71 commented on #1070
traitée dans PR Fixes May

[2019-05-27 19:21] Gis70 commented on #1095
c'est OK partout sauf pour le core qui disparait

[2019-05-30 18:41] Gis70 opened #1117 "Les icônes des boutons inclusions de certains plugins ne sont pas présents"
Sur la 2.0.0 (et avant) les icônes des plugins suivants n'ont pas l'icônes des boutons inclusions.

- ESPEASY
![image](https://user-images.githubusercontent.com/16589132/58655709-030c3c80-831b-11e9-820c-6c43364a75d1.png)
- MySensor
- Xiaomi
-Zwave..
![image](https://user-images.githubusercontent.com/16589132/58655828-5088a980-831b-11e9-9a4b-aa8b9c937e5b.png)

[2019-05-30 18:44] Gis70 opened #1118 "Page de configuration de certains plugin complètement KO"
Certains plugins ayant reçu une màj pour une compatibilité avec les dernières versions de jeedom ont leurs pages de configuration complètement KO.

Zwave :

![image](https://user-images.githubusercontent.com/16589132/58655888-80d04800-831b-11e9-93d9-65a8e7f10a23.png)

JMQTT

![image](https://user-images.githubusercontent.com/16589132/58655910-8cbc0a00-831b-11e9-8fb3-16e7f1e59c82.png)

RFXCOM

![im

[2019-05-30 22:20] #1095 closed, assigned to Gis70

[2019-05-31 09:32] Esso1-jeedom opened #1119 "bugg icone plugins"
bugg de certaine icone sur certain plugins

sur la 0.2.0

jeedom a changer la class  des icones

![image](https://user-images.githubusercontent.com/40739563/58696307-9d11ca80-8397-11e9-9038-44b185d22da2.png)

![image](https://user-images.githubusercontent.com/40739563/58696267-853a4680-8397-11e9-8843-a679c5a754ce.png)

pour Xiaomi c la class fa fa-sign-in qui du coup est fas fa-sign-in  d'ou l'err

[2019-05-31 10:43] #1119 closed, assigned to nobody

[2019-05-31 10:44] Esso1-jeedom commented on #1118
attention le plugins ZWAVE n'as pas de pb sur la stable.

plugins virtuelle..
plugins camera .
plugins Agenda

[2019-05-31 11:05] Esso1-jeedom commented on #1117
![image](https://user-images.githubusercontent.com/40739563/58701968-c2f19c00-83a4-11e9-9ae2-0f0edda97f8a.png)
pb

[2019-05-31 11:07] Esso1-jeedom commented on #1117
c la class fa fa-sign-in qui du coup est fas fa-sign-in
j'ai modifier et 'icone reviens si tu mets fa fa-sign-in

[2019-05-31 21:20] homefefeld opened #1120 "Mouse-over ne fonction plus depuis la 0.2.0"
**Décrivez le bug**
Le mouse-over sur l'ecran general de fonctione plus depuis la release 0.2.0

**Comment reproduire ?**
les 'bulles'  mouse over ne fonctionnent plus:

**Screenshots**
voici la version 0.1.4
![image](https://user-images.githubusercontent.com/3512839/58735405-936d7e80-83fa-11e9-9983-8e677ed79c2f.png)

[2019-06-02 09:14] homefefeld commented on #1120
cyrilphoenix71,
Si je ne me trompe pas, cette regression est apparue avec le commit :
commit  **e2290aa9b1e656b231dc1cec121d2df69b062b31**

cela avait l'air de fonctionner avec le commit precedent :
commit  e0faf07c98f5e162eb3e4aaa76fb5b566d10c9c5

[2019-06-03 04:59] Esso1-jeedom opened #1122 "page selection market plugins HS"
v 0.2.0

la page de selection de plugins est HS
elle reprend la page de plugins general, mais n'affiche rien .

![image](https://user-images.githubusercontent.com/40739563/58777144-265e1280-85cd-11e9-86c3-22db204216c4.png)

[2019-06-04 04:57] Esso1-jeedom opened #1123 "impossible de mettre un graphique"
ajout d'un graph

versions 0.2.0
la roue tourne et plus d'accés a la page design

![image](https://user-images.githubusercontent.com/40739563/58852235-02b2cf00-8696-11e9-931a-32e395ac679b.png)

[2019-06-04 11:27] themaluxis opened #1124 "Ajout de timestamp dans les logs"
Salut, je trouve qu'il serait fort agréable d'ajouter un timestamp dans les logs Nextdom en effet, je ne regarde pas souvent les logs, mais lorsque j'y vois une erreur, j'aimerais bien savoir quand celle ci c'est produite, afin de pouvoir mettre en relation erreurs et divers déclencheurs :)

[2019-06-09 21:19] Gis70 opened #1128 "Couleur bouton camera sur panel ou dash"
En dark, les boutons sont illisibles :

![image](https://user-images.githubusercontent.com/16589132/59164444-fce14180-8b0c-11e9-8222-a47591be372e.png)

![image](https://user-images.githubusercontent.com/16589132/59164448-08346d00-8b0d-11e9-890c-b53b4dd7444b.png)

[2019-06-10 19:58] #141 closed, assigned to cyrilphoenix71

[2019-06-10 19:59] #1117 closed, assigned to nobody

[2019-06-10 20:02] #749 closed, assigned to nobody

[2019-06-10 20:03] #694 closed, assigned to nobody

[2019-06-10 22:54] cyrilphoenix71 opened #1130 "Remplacer les graphiques actuelles par les graphiques adminTE"
https://adminlte.io/themes/AdminLTE/pages/charts/morris.html

![image](https://user-images.githubusercontent.com/18350629/59232103-60d63980-8be3-11e9-8069-e58944f0f116.png)

[2019-06-11 05:21] Gis70 commented on #1122
Corrigé sur  44e2bbc

[2019-06-11 05:21] #1122 closed, assigned to nobody

[2019-06-11 05:21] Gis70 commented on #1118
corrigé sur  44e2bbc

[2019-06-11 05:21] #1118 closed, assigned to nobody

[2019-06-11 05:23] Gis70 commented on #1009
corrigé sur 44e2bbc

[2019-06-11 05:23] #1009 closed, assigned to Melissendra

[2019-06-11 05:24] #799 closed, assigned to nobody

[2019-06-11 05:27] Gis70 commented on #798
@Astral0 tj d'actu ou on clos ?

[2019-06-11 09:06] homefefeld opened #1131 "creation d'une "Note" ne fonctionne plus ('Expert=>Administration&Reglage=>Notes)"
**Décrivez le bug**
Quand on veut creer une note (Expert->admin->notes) , une erreur apparait à l'écran 👍

**Comment reproduire ?**
Étapes pour reproduire le problème :
1. Aller 'Expert=>Administration&Reglage=>Notes (dans la section Outils)'
2. Cliquez sur 'creer une note'
->

**Screenshots**
![image](https://user-images.githubusercontent.com/3512839/59258458-4ed2b600-8c38-11e9-80b9-84ae6b61e42e.

[2019-06-11 09:06] homefefeld commented on #1131
enfin, la note est crée.. mais avec l'erreur...

[2019-06-11 10:54] Esso1-jeedom commented on #1130
cela résoudrais le pb des graphiques ;)

[2019-06-11 11:36] byackee commented on #1120
Ça fonctionne après un refresh de la page. Lors du 1er chargement les tooltips ne fonctionnent pas.

[2019-06-11 13:30] byackee commented on #1131
corrigé avec la version 0.2 branche develop

[2019-06-11 13:30] #1131 closed, assigned to nobody

[2019-06-11 13:38] byackee commented on #1124
Salut,

Je n'ai pas compris ta demande, on a bien un timestamp dans les logs

![image](https://user-images.githubusercontent.com/4707496/59276586-e5b26900-8c5e-11e9-919d-283e94ce2e31.png)

Peux tu m'éclairer stp

[2019-06-11 14:07] byackee commented on #578
On clos? la maj du core se fait pour un user lambda. Pour un dev il sait comment faire

[2019-06-11 14:56] byackee commented on #960
Pour le moment lors de la migration nous remplacons tous les termes jeedom par nextdom. Il y a beaucoup de terme jeedom dans la base de données. Nous n'avons pas encore eu le temps de les trier.

[2019-06-14 15:25] Ikes72000 opened #1135 "Possibilité d'ajouter un ou des tag à un eqLogic directement en bdd"
Dans le cadre de la création d'un plugin, j'ai le besoin de faire interagir entre eux différents objets (eqLogic) du plugin.
Exemple:
- event détecté sur une info de l'objet a -> déclenchement d'actions sur les objets b,d et e,
- event détecté sur une info de l'objet c -> déclenchement d'actions sur les objets b et f

Alors il y a la solution, à chaque event, de rechercher dans la configuration de

[2019-06-18 20:22] Astral0 opened #1136 "Amélioration de la version mobile "full" (celle en AdminLTE)"
J'utilise depuis plusieurs mois Nextdom sur mon smartphone pour faire diverses actions (surveillance des indicateurs, lancer des actions : clic sur des boutons virtuels, surveillance webcam "rapide").

il ne s'agit pas d'utiliser toutes les fonctionnalités offertes par AdminLTE, donc pas de paramétrage, pas de création de scénarios, etc. Mais en consultation ou en dépannage ponctionel (relance d'u

[2019-06-19 18:38] Astral0 commented on #1130
Ca claque ces graphiques ! Mieux que ceux de base jeedom  :)

[2019-06-27 11:17] #993 closed, assigned to slobberbone

[2019-06-30 14:41] cyrilphoenix71 opened #1140 "Bug icones fontawesome modale icon.selector"
Dans la modale icon selector, on affiche toutes les icones fontawesome or :
- sont FREE que les SOLID (fas) et les BRAND (fab)

donc il faudrait que l'on filtre si elles existent dans le sprites\solid.svg ou brands.svg et ajouter le bon prefixe fas ou fab

ex:
# build the icon class (allow name to be null so that other functions
  # e.g. buildTabset can pass an explicit class value)
  iconClass <-

[2019-06-30 21:00] Gis70 opened #1141 "Page mise à jour plugins KO"
La recherche de maj de plugin n'a pas l'air fonctionnelle, en 2semaines je n'ai eu aucune proposition de maj
De plus j'ai 4 plugins en orange que j'ai mis à jour mais ils restent en orange.

C'est comme si cette page était figée.

Develop neuve  1bf04f6

[2019-06-30 21:02] Gis70 opened #1142 "Valeurs stockée en cache ou autre non restaurée après un restore"
Après un restore, toutes les valeurs sont à 0, ce qu'il y avait dans le cache ? du moins ce qui était présent durant le backup n'est pas restauré, il faut attendre la maj des valeurs.7
7
Branche develop  1bf04f6

[2019-07-01 09:41] slobberbone commented on #1081
A rajouter dans le processus de migration proposé par cette PR : https://github.com/NextDom/nextdom-core/tree/feature/UpdateThemeFolder

[2019-07-01 09:42] slobberbone commented on #1066
Ne devrait plus être présente dans la prochaine version, une fois cette PR validée: https://github.com/NextDom/nextdom-core/tree/feature/UpdateThemeFolder

[2019-07-01 09:44] slobberbone commented on #1048
Sera corrigé dans : https://github.com/NextDom/nextdom-core/tree/feature/UpdateThemeFolder

[2019-07-01 09:46] slobberbone commented on #1027
A voir après intégration : https://github.com/NextDom/nextdom-core/tree/feature/UpdateThemeFolder

[2019-07-01 09:51] vinceg77 opened #1143 "La sélection revient sur 'White' dans le choix des themes"
**Décrivez le bug**
Lors du changement de thème, la selection (le point bleu en dessous de chaque thème) revient systématiquement sur White, meme si l'on vient de choisir Dark ou Mix. Au moment d'appuyer sur 'sauvegarder' le choix du thème  Mix ou Dark la sélection est sur 'White' ce qui n'est pas logique, voire confusant.

**Comment reproduire ?**
Étapes pour reproduire le problème :
1. Aller 'Ad

[2019-07-01 10:17] vinceg77 opened #1144 "Bandeau des plugins replié dans la page Mise à Jour"
**Décrivez le bug**
Dans la page de MAJ le bandeau du Core dans l'onglet Core est OK et déplié par défaut. Dans l'onglet Plugin par contre le bandeau plugin est lui replié par défaut, jusqu'au prochain refresh de la page.

**Comment reproduire ?**

Étapes pour reproduire le problème :
_Si (et seulement si ?) une mise à  jour de plugin est disponible :_
1. Aller dans 'Mise(s) à jours'
2. Cliquez su

[2019-07-01 10:25] vinceg77 opened #1145 "Bug pour lancer la mise à jour d'un plugin"
**Décrivez le bug**
Alors qu'un plugin demande une MAJ et s'affiche bien comme tel, un click sur le plugin en question ne provoque pas le lancement de la MAJ jusqu'au prochain refresh de la page;

**Comment reproduire ?**
Étapes pour reproduire le problème :
_Si et seulement si une mise à jour de plugin est disponible :_
1. Aller dans 'Mise(s) à jours'
2. Cliquez sur l'onglet 'Plugins'
3. Cliquer

[2019-07-01 11:02] vinceg77 opened #1146 "Choisir un fichier distant comme avatar"
**Décrivez le bug**
Lors du choix d'un avatar il est possible de choisir soit un icone déjà présente dans la liste (fichiers locaux sur l'hôte) soit de cliquer sur 'Choisir un fichier' ce qui laisse entendre que l'on pourrait sélectionner n'importe quel image qui sera logiquement uploadée sur la machine hôte du NexDom. Lorsque l'on opte pour cette dernière option et que l'on clique sur choisir un

[2019-07-01 11:08] cyrilphoenix71 commented on #1143
Traitée en UI

[2019-07-01 11:08] #1143 closed, assigned to nobody

[2019-07-01 13:36] cyrilphoenix71 commented on #1144
traitée en develop

[2019-07-01 13:36] #1144 closed, assigned to nobody

[2019-07-01 13:36] cyrilphoenix71 commented on #1145
traitée en develop

[2019-07-01 13:36] #1145 closed, assigned to nobody

[2019-07-01 13:37] cyrilphoenix71 commented on #1079
n'a pu lieu d'etre

[2019-07-01 13:37] #1079 closed, assigned to nobody

[2019-07-01 15:48] vinceg77 opened #1147 "Fonction copie de bloc scénario"
**Votre demande de fonctionnalité est-elle liée à un problème? Si oui, décrivez le s'il vous plait.**
Il est fréquent de devoir réutiliser un ensemble d'actions oui de conditions contenues dans un bloc au sein d'un scénario quitte a y apporter qqs modifs
Pour l'instant  il faut ressaisir à chaque fois le bloc entièrement.
Il peut aussi arriver par exemple que les actions de la partie 'SINON' d'un

[2019-07-01 15:52] vinceg77 commented on #1147
Hum... https://www.jeedom.com/forum/viewtopic.php?f=132&t=29767&p=517400&hilit=dupliquer+un+bloc#p604091

[2019-07-02 16:14] byackee commented on #1123
Fix

[2019-07-02 16:14] #1123 closed, assigned to byackee

[2019-07-02 16:17] byackee commented on #1120
Fix sur la branche UI, elle sera merge sous peu sur develop

[2019-07-02 16:17] #1120 closed, assigned to byackee

[2019-07-03 15:23] vinceg77 opened #1149 "Bug avec le plugin VigilanceMétéo"
**Décrivez le bug**

Les équipements du plugin VigilanceMétéo sont basés pour la plupart sur une localisation (champs "Localisation à utiliser"). Lors de la création de l'équipement il est possible de sauvegarder tout en laissant ce champs vide. Si l'équipement est de type 'Vigilance Météo France' (uniquement) et que pour une raison ou une autre la localisation se retrouve vide (oubli à la créatio

[2019-07-03 15:59] vinceg77 commented on #1146
En fait ce n'est pas qu'au niveau du choix des avatars... C'est partout où il y a une boite de dialogue 'Choisir un fichier'

[2019-07-03 16:14] vinceg77 opened #1150 "Refonte du mode de déplacement des objets sur le dashboard"
**Votre demande de fonctionnalité est-elle liée à un problème? Si oui, décrivez le s'il vous plait.**
Le déplacement ainsi que la modification de la taille des tuiles d'objet sur un dashboard entraîne une "réorganisation" automatique de toutes les tuiles du dashboard.

C'est particulièrement pénible quand elles sont nombreuses, ont a l'impression de jouer aux chaises musicales mais sans musique !

[2019-07-03 20:11] slobberbone commented on #401
Docker fault.

[2019-07-03 20:11] #401 closed, assigned to nobody

[2019-07-03 20:18] slobberbone commented on #1081
A faire après validation de https://github.com/NextDom/nextdom-core/issues/960

[2019-07-03 20:19] slobberbone commented on #578
Fixed in 0.3.0

[2019-07-03 20:22] slobberbone commented on #764
Bug du firmeware Xiaomi

[2019-07-03 20:22] #764 closed, assigned to nobody

[2019-07-03 20:23] slobberbone commented on #1066
Fixed in https://github.com/NextDom/nextdom-core/issues/960

[2019-07-03 20:26] slobberbone commented on #689
Fixed in https://github.com/NextDom/nextdom-core/issues/960

[2019-07-03 20:26] slobberbone commented on #36
Fixed in 0.1.4

[2019-07-03 20:26] #36 closed, assigned to nobody

[2019-07-03 20:28] slobberbone commented on #1142
Après un restore il faut que toute les commandes soient executée une première fois. Ce n'est pas une histoire de cache. Je te laisse rouvrir l'issue si je réponds à coté ;)

[2019-07-03 20:28] #1142 closed, assigned to nobody

[2019-07-03 20:29] slobberbone commented on #1141
En 0.2.0 ? Des fixs ont été fait là dessus pour la prochaine version

[2019-07-03 20:31] slobberbone commented on #1041
IE n'est plus maintenu par Microsoft. Nous non plus.

[2019-07-03 20:31] #1041 closed, assigned to nobody

[2019-07-03 20:40] slobberbone commented on #1012
Fixed in #960

[2019-07-03 20:40] #1012 closed, assigned to slobberbone

[2019-07-03 20:43] slobberbone commented on #1020
Toujours d'actualité en 0.3.0

[2019-07-03 20:44] slobberbone commented on #1011
Tu l'as toujours celui là @Esso1-jeedom ? Si non je te laisse clore !

[2019-07-03 20:46] slobberbone commented on #966
Toujours d'actualité @Gis70 ?

[2019-07-03 20:47] slobberbone commented on #962
Fixed in 0.3.0

[2019-07-03 20:47] #962 closed, assigned to nobody

[2019-07-03 20:48] slobberbone commented on #915
@cyrilphoenix71 ca en est où celui là ?

[2019-07-03 20:51] slobberbone commented on #948
@Sylvaner une idée pour celui là ?

[2019-07-03 20:52] slobberbone commented on #873
Config : /var/lib/nextdom/config
mais également /usr/share/nextdom/data ...

[2019-07-03 20:53] slobberbone commented on #882
@cyrilphoenix71 tu l'as pas fais ça avec ton coup de karcher recent ?

[2019-07-03 20:54] slobberbone commented on #809
@Astral0 non reproduit, avec l'une de tes sauvegarde contenant le plugin en future 0.3.0. #960

[2019-07-03 21:26] Gis70 commented on #966
Malheureusement oui...

Le mer. 3 juil. 2019 à 22:46, Slobberbone <notifications@github.com> a
écrit :

[2019-07-03 21:27] Gis70 commented on #1020
Oui faut fixer ça me fait bien ***

Le mer. 3 juil. 2019 à 22:43, Slobberbone <notifications@github.com> a
écrit :

[2019-07-04 08:44] slobberbone opened #1152 "Erruer de backup sur sauvegarde distante"
Si un backup distant (samba ou Jeedom) est activée mais échoue, il est alors impossbile de générer le backup localement.

[2019-07-04 08:44] slobberbone commented on #1152
Fixed in #960

[2019-07-04 08:52] slobberbone opened #1153 "LEs backups ne contiennet pas la version de Nextdom"
Les backups contiennent la version de Jeedom et non celle de NextDom

[2019-07-04 08:52] slobberbone commented on #1153
Fixed in #960

[2019-07-04 14:12] cyrilphoenix71 commented on #1141
On clos alors ?

[2019-07-04 19:16] vinceg77 opened #1155 "Problème avec le plugin Click-Link"
**Décrivez le bug**
Le plugin click-link permet entre autre d'ouvrir une vue/design/panel/dashboard/url dans une modale/fenêtre courant/nouvel onglet

La création d'un équipement dans ce plugin ne présente apparemment aucun problème particulier, la sauvegarde s'effectue correctement et l'équipement apparaît correctement dans le dashboard de son objet

Lors du clic sur le bouton de l'équipement gén

[2019-07-04 19:34] Gis70 commented on #1141
c'est toujours KO sur UI

[2019-07-04 22:04] cyrilphoenix71 opened #1156 "Faire un script pour changer de branche"
Créer un script pour changer proprement de branche avec choix de branche

[2019-07-05 14:50] #1156 closed, assigned to nobody

[2019-07-06 10:09] vinceg77 opened #1157 "Les backups ne sauvegardent pas les notes"
Suite à une mise à jour et donc réinstallation de la version 0.2.0 puis restauration du dernier backup, les notes (Outils/Notes) ne sont pas réintégrées (/ sauvegardées ?)
Le restore fonctionne mais Outils/Notes est vide après restauration

**Information matérielles**
 - OS : [Debian 9.9]
 - Navigateur : [chrome]
 - Version NextDom : [0.2.0]
 - Branche NextDom : [master]
 - Installé via : [wget]

[2019-07-06 10:11] nextdom-user commented on #1157
En fait les ntoes sont bien sauvegardées rassures-toi mais il existe un bug en 0.2.0 sur l'affichage des notes qui échoue.

A tester en 0.3.0

[2019-07-08 14:24] cyrilphoenix71 commented on #1130
REVIEW :
- [ ] bouton toggle qui marchent pas le premier coup
- [ ] bouton toogle a convertir en checkbox ou en vrai toogle bouton comme dansnextdom market
- [ ] avoir le choix de l'echelle temps 1jrs 1s 1m 1y
- [ ] par defaut 1m
- [ ] pouvoir "glisser" l'echelle temps
- [ ] quand je dis zoom total c'est zoom sur les 2 echelles
- [ ] dans modale ajouter une box
- [ ] dans theme.html, mettre text c

[2019-07-10 14:37] Nibb31 opened #1160 "Impossible de scroller sur un design dont la taille est supérieure à la fenêtre."
**Décrivez le bug**
Il est impossible de scroller (et donc d'éditer) une page de Design qui dépasse la taille de l'écran:
- Verticalement, Nextdom limite la scroll bar à la hauteur de la fenêtre (ou la résolution de l'écran) et masque une partie de la page avec la bannière de copyright.
- Horizontalement, il n'y a pas de scroll bar du tout.
Il est utile de dépasser la taille de l'écran, par exempl

[2019-07-10 15:38] Astral0 opened #1161 "Switch de la version mobile vers la version AdminLTE impossible"
Lorsqu'on est sur un Smartphone, c'est la version mobile qui arrive par défaut ( /mobile ).

Il n'y a pas de bouton "ouvrir la version Desktop" et il faut pour cela, commencer par se déconnecter.
Sauf que le bouton Déconnexion est sans effet !

Il faudrait d'une part corriger le bouton Déconnexion, d'autre part remonter la possibilité de switcher entre les versions mobile et desktop sans avoir bes

[2019-07-12 04:48] Esso1-jeedom opened #1165 "migration perte d'image du design"
suite  a une migration les images de fond du design sont sauvegardé .
par contre les images incorporé dans le design sont perdu

elles sont dans /core/img/planXX
il suffit de les mettre dans publics /img/ pour les recuperer dans le design
![image](https://user-images.githubusercontent.com/40739563/61103017-bc107b80-a470-11e9-879c-e980c517b755.png)
![image](https://user-images.githubusercontent.com

[2019-07-15 09:18] #1140 closed, assigned to nobody

[2019-07-15 16:02] Sylvaner commented on #1155
Bonjour je viens de poster un correctif à tester : https://github.com/NextDom/nextdom-core/pull/1169
Merci pour ce retour

[2019-07-15 16:04] #1066 closed, assigned to nobody

[2019-07-16 11:15] cyrilphoenix71 opened #1170 "Dashboard bugué"
- la gestion de l'affichage des "summary" est pas bonne du tout
- le filtrage categorie est bugué
- le lien homelink est incomplet
- parfois le menu onglet disparait

[2019-07-16 11:21] cyrilphoenix71 commented on #915
on clos

[2019-07-16 11:21] #915 closed, assigned to Astral0

[2019-07-16 11:23] #1065 closed, assigned to psycofdj

[2019-07-16 11:52] cyrilphoenix71 opened #1171 "Tooltip du dashboard passent sous le menu objet"
Passer en mode edition sur le dashboard (crayon)
Les bouton en haut a droite des pieces (resize) ont un tooltip
Le tooltip est au dessus du bouton est passe sous le menu du haut

[2019-07-16 12:01] #1099 closed, assigned to nextdom-user

[2019-07-16 18:55] Gis70 commented on #1020
C'est toujours là est pas difficile à tester... pas plus tard qu'avant hier sur UI...

[2019-07-17 05:43] Sylvaner opened #1173 "Affichage des plugins"
Les plugins s'affichent tous au chargement initial de la page.

![Capture d’écran 2019-07-17 à 07 41 03](https://user-images.githubusercontent.com/957104/61350081-9d422880-a866-11e9-9a1a-d10ae9a3c3ad.jpg)

[2019-07-17 18:57] Gis70 opened #1174 "Icone NextDom KO"
L'îcône est KO sur develop 30ad4a3

![image](https://user-images.githubusercontent.com/16589132/61403371-84bd2700-a8d5-11e9-8e02-e94da81b4ba5.png)

[2019-07-18 08:24] slobberbone opened #1175 "Error on import"
Sur import d'un backup certains dossiers ne peuvent être créés.
![Sélection_174](https://user-images.githubusercontent.com/3833875/61441578-34ca7880-a946-11e9-9740-533cfa5d0c7e.png)

[2019-07-18 11:04] slobberbone commented on #1175
Fixé

[2019-07-18 17:35] Gis70 commented on #1152
OK

[2019-07-18 17:36] Gis70 commented on #1157
OK sur develop en 0.3.0

[2019-07-18 17:36] #1157 closed, assigned to nobody

[2019-07-18 17:38] Gis70 commented on #960
Quoi valider ? dans la partie réseaux jeedom est toujours remplacer par nextdom

[2019-07-18 17:39] Gis70 commented on #1153
validé OK

[2019-07-18 17:40] Gis70 commented on #1171
on valide quoi ?

[2019-07-18 17:42] Gis70 commented on #1170
ok validé

[2019-07-18 17:43] Gis70 commented on #1098
ok validé, mais on a droit à un go on top quand même avant

[2019-07-18 17:49] Gis70 commented on #1174
Corrigé par c33c6451b2c10c247623b30ff88e4c17a06c1edd

[2019-07-18 17:50] Gis70 commented on #1174
ok validé

[2019-07-19 08:56] byackee commented on #1146
@vinceg77 j'ai corrigé pour avatar, il y a un autre cas? car l'uplaod dans plan fonctionne bien

[2019-07-19 09:19] byackee opened #1178 "modal template scénario vide"
**Décrivez le bug**
Le modal template dans scénario est vide

**Comment reproduire ?**
Étapes pour reproduire le problème :
1. Aller dans un scénario
2. Cliquez sur template
2. Cliquez sur market

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/4707496/61524446-c30e2f80-aa16-11e9-80e5-fdd8c187a1e1.png)

**Information m

[2019-07-19 09:24] byackee opened #1179 "regrouper tous les market jeedom au meme endroit"
Il existe un market scénario qui est accessible dans les template scénarios -> template -> market qui ouvre une modale.

Il faudrait regouper tous les markets jeedom au meme endroit

[2019-07-19 09:43] vinceg77 commented on #1146
Là je suis en vacances, très loin de mon Nextdom, et j'avoue que je ne me souviens pas de mémoire dans quelle autre page on a la possibilité d'uploader un fichier. Mais j'avais trouvé le même problème sur cette autre page. (Edit : pour uploader un icône personnalisé, non ?)
Je ne suis pas expert, mais j'ai l'impression que c'est juste un problème de droit...

[2019-07-19 12:28] Gis70 commented on #1171
ok validé

[2019-07-19 17:34] #1179 closed, assigned to nobody

[2019-07-19 17:35] #1161 closed, assigned to nobody

[2019-07-19 17:50] #1124 closed, assigned to byackee

[2019-07-20 07:44] j-kwan opened #1182 "Accès aux informations du thème utilisé"
L'objectif étant de pouvoir adapter le visuel (les icônes par exemple) en fonction du thème global de façon à pouvoir basculer sur un pack d'icônes pour un thème sombre ou clair.
Il faudrait donc pouvoir facilement récupérer les informations du thème utilisé pour faire des tests dessus.
Ou sinon encore mieux, juste avoir un booléen en faisant appel à une méthode du type `isDarkTheme()` pour savoir

[2019-07-20 10:05] #1174 closed, assigned to nobody

[2019-07-20 10:06] #1171 closed, assigned to nobody

[2019-07-20 10:06] #1170 closed, assigned to nobody

[2019-07-20 10:07] #1098 closed, assigned to nobody

[2019-07-20 10:08] #1153 closed, assigned to slobberbone

[2019-07-20 10:09] #1152 closed, assigned to slobberbone, Gis70

[2019-07-22 10:09] slobberbone opened #1183 "Fix and check on calling rm function"
La fonction de suppression de dossier ne controle pas les dossiers/fichiers passés en entrée.

[2019-07-22 10:10] slobberbone commented on #1183
Sur un restore d'un backup, si du code ne le controle pas, la suppression de tout le système  peut être possible.

![Capture d’écran de 2019-07-21 22-44-26](https://user-images.githubusercontent.com/3833875/61624801-9f96ef00-ac79-11e9-828c-6aac4fe2550f.png)

[2019-07-22 10:17] slobberbone opened #1184 "Error on not empty dashboard"
Import a backup then try to display dashboard

[code]

[2019-07-22 14:46] slobberbone commented on #1165
Fixée dans https://github.com/NextDom/nextdom-core/pull/1176

[2019-07-22 21:20] cyrilphoenix71 commented on #1173
tous ou ceux resté d'un précédent backup ? a verifier si c le cas sur une fresh install ?

[2019-07-22 21:23] cyrilphoenix71 commented on #1150
les tuiles se déplacent mais normalement reste organisées suivant leur numérotation, tu peux confirmer ?

[2019-07-22 21:31] cyrilphoenix71 commented on #1068
je clos car les graphs sont en train d'etre revus

[2019-07-22 21:31] #1068 closed, assigned to cyrilphoenix71

[2019-07-22 21:33] cyrilphoenix71 commented on #1048
@slobberbone on clos ?

[2019-07-22 21:34] cyrilphoenix71 commented on #1046
n'est ce pas trop compliqué a cause des ramification commandes/objets etc ?

[2019-07-22 21:35] cyrilphoenix71 commented on #1027
@slobberbone c fait non ?

[2019-07-22 21:40] #960 closed, assigned to slobberbone

[2019-07-22 21:41] cyrilphoenix71 opened #1188 "dans la partie réseaux jeedom est toujours remplacer par nextdom"

[2019-07-22 21:44] cyrilphoenix71 commented on #882
non car le probleme est ailleurs, c'est le div_loading qui est par dessus

[2019-07-22 21:44] #844 closed, assigned to nobody

[2019-07-22 21:45] cyrilphoenix71 commented on #809
on clos ?

[2019-07-22 21:45] cyrilphoenix71 commented on #798
on clos ?

[2019-07-22 21:47] #765 closed, assigned to nobody

[2019-07-22 21:52] cyrilphoenix71 commented on #746
A

[2019-07-22 21:52] #746 closed, assigned to nobody

[2019-07-22 21:52] #689 closed, assigned to nobody

[2019-07-22 22:00] cyrilphoenix71 commented on #621
@Sylvaner ?

[2019-07-22 22:02] cyrilphoenix71 commented on #578
on clos ?

[2019-07-22 22:05] cyrilphoenix71 commented on #492
@Astral0 tjs d'actualité ?

[2019-07-22 22:08] #438 closed, assigned to byackee

[2019-07-22 22:12] #19 closed, assigned to Sylvaner

[2019-07-22 22:22] #1178 closed, assigned to byackee, cyrilphoenix71

[2019-07-23 08:15] Gis70 commented on #1046
Oui clos

Le lun. 22 juil. 2019 à 23:34, cyrilphoenix71 <notifications@github.com> a
écrit :

[2019-07-23 08:52] byackee opened #1189 "pb affichage des modals Market (icones invisibles)"
valable pour market widget notamment

[2019-07-23 09:31] vinceg77 commented on #1150
Oui en mode édition, les tuiles se déplacent et leur numérotation changent bien en fonction de leur nouvel emplacement (mais les espacements entre les tuiles ne sont pas beaux ni propres, certaines tuiles étant collées, d'autres espacées !).
Mais il est impossible de positionner précisément une tuile où on veut. Si on déplace une tuile, les autres  tuiles vont se déplacer automatiquement autours s

[2019-07-23 11:07] byackee commented on #1189
jeedom
![jeedom](https://user-images.githubusercontent.com/4707496/61707421-c40ecc00-ad4a-11e9-83ac-3b57bdeb9da2.png)

nextdom
![nextdom](https://user-images.githubusercontent.com/4707496/61707443-cb35da00-ad4a-11e9-8a69-a2b3fed13292.png)

[2019-07-23 11:46] #621 closed, assigned to Sylvaner

[2019-07-23 11:46] #578 closed, assigned to Sylvaner

[2019-07-23 12:03] slobberbone commented on #1020
Testé et Validé  1/3

[2019-07-23 12:10] slobberbone opened #1190 "Not possible to change order in Resume page"
![Sélection_178](https://user-images.githubusercontent.com/3833875/61711113-95e1ba00-ad53-11e9-9a3d-4c23f7bcb2da.png)

[2019-07-23 12:11] slobberbone commented on #1189
Testé et validé 1/3

[2019-07-23 12:14] slobberbone commented on #1183
Testé et validé 1/3

[2019-07-23 12:15] slobberbone commented on #1184
Testé et validé 1/3

[2019-07-23 12:16] slobberbone commented on #1175
Testé et validé 1/3

[2019-07-23 12:34] slobberbone commented on #1171
Testé et validé 2/3

[2019-07-23 12:34] slobberbone commented on #1170
Testé et validé 2/3

[2019-07-23 12:47] homefefeld opened #1191 "Create a Wikipedia page for NextDom"
Est-ce que quelqun a le courage de comencer une page wiki pour NextDom.
Merci.

[2019-07-23 21:24] cyrilphoenix71 opened #1193 "le HOMELINK ne se reinitialise pas à la sauvegarde de la page profil"
Aller dans l'onglet interface de la page profil, changé l'objet par defaut
Sauvegardez
Cliquer sur le logo NEXTDOM (lien HOMELINK)
Ca ouvre la page lié au precedent objet par défaut
Apres un F5 c bon

[2019-07-24 07:16] #1020 closed, assigned to byackee, cyrilphoenix71

[2019-07-24 07:20] #1189 closed, assigned to byackee

[2019-07-24 07:21] slobberbone commented on #1184
Testé et validé 1/3

[2019-07-24 07:21] #1184 closed, assigned to slobberbone

[2019-07-24 07:21] #1183 closed, assigned to slobberbone

[2019-07-24 07:21] #1175 closed, assigned to slobberbone

[2019-07-24 07:22] #1155 closed, assigned to nobody

[2019-07-24 07:53] #1146 closed, assigned to byackee

[2019-07-24 09:04] byackee opened #1194 "Fonction suppressions des plugins ne fonctionne pas"
**Décrivez le bug**
Sur la page des plugins lorsque l'on clique sur  "supprimer" pour un plugin rien ne se passe

**Comment reproduire ?**

**Information matérielles**
 - OS : Debian 9
 - Navigateur : [ex : chrome, safari]
 - Version NextDom : 0.3.0
 - Branche NextDom : develop

[2019-07-24 10:13] slobberbone commented on #1194
@byackee tu peux retester avec la dernière develop stp ?

[2019-07-24 10:59] byackee opened #1196 "menu en mode mobile qui se chevauche"
**Décrivez le bug**
menu en mode mobile qui se chevauche

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/4707496/61788592-b7ee4180-ae12-11e9-8b01-d5f55e1c48ce.png)

**Information matérielles**
 - OS : Debian 9
 - Version NextDom : 0.3.0
 - Branche NextDom : develop

[2019-07-24 11:03] #1194 closed, assigned to byackee

[2019-07-24 11:03] byackee commented on #1194
c'est ok

[2019-07-24 11:52] byackee commented on #1160
c'est corrigé

[2019-07-24 13:32] byackee commented on #1190
cette fonction ne marche pas uniquement vers "Aucun".
Meme erreur sous jeedom
![image](https://user-images.githubusercontent.com/4707496/61797738-47521f80-ae28-11e9-9fee-8c48b6ae2b74.png)

[2019-07-24 13:41] byackee commented on #1063
Message provenant du market jeedom, ce n'est pas dans le core :)

[2019-07-24 13:41] #1063 closed, assigned to byackee

[2019-07-24 13:46] byackee commented on #1050
@Gis70 ce message n'est pas lié au résumé domotique. nextdom cherche un plugin qui n'existe pas dans le repertoire plugin.
J'ai reproduis ton erreur et elle apparait a différents endroits lorsque nextdom veut afficher un eqlogic lié au plugin manquant
![image](https://user-images.githubusercontent.com/4707496/61798760-2ee30480-ae2a-11e9-926d-ed14093489cb.png)

[2019-07-24 13:48] byackee opened #1197 "Checker si le plugin est présent physiquement avant d'afficher un eqlogic"
si un plugin n'est plus présent dans le répertoire plugin et que nextdom veut afficher un eqlogic lié a ce plugin ça pète tout

![image](https://user-images.githubusercontent.com/4707496/61798868-5a65ef00-ae2a-11e9-9018-fddca2c23bae.png)

[2019-07-24 13:49] byackee commented on #1050
je clos cette issue a j'en crée une issue #1197 pour trouver une solution plus globale

[2019-07-24 13:49] #1050 closed, assigned to nobody

[2019-07-24 13:50] slobberbone commented on #873
Fait pour la 0.3.0

[2019-07-24 13:50] #873 closed, assigned to slobberbone

[2019-07-24 13:51] #1160 closed, assigned to byackee

[2019-07-24 13:51] #809 closed, assigned to nobody

[2019-07-24 13:51] #1173 closed, assigned to nobody

[2019-07-24 13:51] #1087 closed, assigned to byackee

[2019-07-24 13:57] byackee commented on #1027
oui c'est corrigé

[2019-07-24 13:57] #1027 closed, assigned to slobberbone

[2019-07-24 13:59] byackee commented on #1190
#1033

[2019-07-24 13:59] #1190 closed, assigned to nobody

[2019-07-24 14:01] byackee commented on #1033
meme probleme sous jeedom. le pense que le pb vient du faite que "aucun" n'est pas un objet en tant que telle.
![image](https://user-images.githubusercontent.com/4707496/61799903-428f6a80-ae2c-11e9-8f68-cd7923fe7dea.png)

[2019-07-24 14:03] byackee commented on #1033
ca ne le fait que vers "aucun"

[2019-07-24 14:19] slobberbone commented on #1165
Avant : ![avant](https://user-images.githubusercontent.com/3833875/61801297-cc403780-ae2e-11e9-8360-a370bcb9349c.png)
Après : ![après](https://user-images.githubusercontent.com/3833875/61801306-cf3b2800-ae2e-11e9-8aff-0dec51193de2.png)

[2019-07-24 14:20] byackee commented on #1149
@vinceg77 cette erreur est aussi présente sur jeedom ?

[2019-07-24 14:20] slobberbone commented on #1165
Testé et validé 1/3

[2019-07-24 14:23] slobberbone commented on #1048
Fixé en 0.3.0

[2019-07-24 14:23] #1048 closed, assigned to nobody

[2019-07-24 14:29] vinceg77 commented on #1149
Je viens de tester. Oui et Non
1/ l'UI de Jeedom ne permet pas de laisser le champs 'Localisation à utiliser' vide lors de la création de l'équipement Vigilance Météo
2/ Si je crée un équipement Vigilance Météo basé sur la 'Localisation à utiliser' ZZZ puis que je supprime ensuite la localisation ZZZ depuis le plugin Localisation et trajets, que je refresh le tout, le dashboard apparaît bien.
Si j

[2019-07-24 14:39] byackee commented on #1165
a priori les images de ajouter "images/camera" ne sont pas restore
![image](https://user-images.githubusercontent.com/4707496/61802644-1d512b00-ae31-11e9-8684-fd63fb388563.png)

ces images sont sauvegrdées dans un sous repertoire
![image](https://user-images.githubusercontent.com/4707496/61802710-36f27280-ae31-11e9-8076-a7262524f963.png)

le plan est bien sauvegardé mais pas restore

[2019-07-24 14:44] byackee commented on #1165
en faite apres restore, il y a 2 repertoire plans apres restore
data/plans
data/custom/plans
![image](https://user-images.githubusercontent.com/4707496/61803319-3a3a2e00-ae32-11e9-82b7-fcfc15259975.png)

[2019-07-24 17:08] Gis70 commented on #1050
Ok 😀

Le mer. 24 juil. 2019 à 15:49, Fresnel Vincent <notifications@github.com> a
écrit :

[2019-07-24 17:10] Gis70 commented on #1150
+1 pour cette feature

Le mar. 23 juil. 2019 à 11:31, vinceg77 <notifications@github.com> a écrit :

[2019-07-24 18:54] slobberbone opened #1208 "Theme.css path is not well defined"
Nextdom 0.2.0
Le fichier de theme n'est pas dans le bon repertoire (public/css/theme.css mais dans var/public/css/themes.css)

[2019-07-24 21:31] slobberbone commented on #1165
Alors j'ai pas eu ça mais j'ai trouvé un cas où je faisais un peu de zele ;)

[2019-07-24 21:41] slobberbone commented on #1208
Il faudra revoir l'ensemble des emplacements (theme.css , backup etc ) en attendant j'ai juste fixé les erreurs. On devrait ne plus regénérer les theme.css à chaque changement de page.

[2019-07-24 22:30] cyrilphoenix71 opened #1209 "Le market de template ne s'ouvre plus"
Aller dans scenario, ouvrir un scenario puis template puis market

[2019-07-24 22:32] cyrilphoenix71 opened #1210 "Uniformiser et variabiliser les chemins images / themes etc (var/public)"
on utilise /public pour les images
/var/public pour le theme
etc
passer par une variable et uniformiser

[2019-07-24 22:39] cyrilphoenix71 opened #1211 "le footer de nextdom sort de la page quand le menu de gauche est ouvert et trop grand"
la c ok :
![image](https://user-images.githubusercontent.com/18350629/61833349-4fd04780-ae74-11e9-8785-3bf1033fdf94.png)

la non :
![image](https://user-images.githubusercontent.com/18350629/61833465-ac336700-ae74-11e9-8e9d-2595cc77add5.png)

[2019-07-25 07:29] byackee commented on #1165
on y est presque, tout est bien sauvegardé et au bon endroit masi lors de la restore on a un soucis de double repertoire custom
![image](https://user-images.githubusercontent.com/4707496/61854615-c09c5180-aebe-11e9-9d57-72520b53176b.png)

[2019-07-25 08:16] slobberbone commented on #1165
C'est un soucis déjà corrigé dans a11aa41af2ad3998b94f24f78e1c121fd6b9cb34
J'ai mergé la develop dans cette PR, je te laisse valider @byackee

[2019-07-25 08:29] slobberbone commented on #1173
Validé et testé

[2019-07-25 08:30] slobberbone commented on #1208
Validé et testé

[2019-07-25 08:30] #1208 closed, assigned to slobberbone

[2019-07-25 08:36] slobberbone commented on #1165
@byackee a validé

[2019-07-25 08:36] #1165 closed, assigned to slobberbone

[2019-07-25 11:36] cyrilphoenix71 opened #1215 "Afficher dans le about la version des librairies utilisées"

[2019-07-25 12:07] cyrilphoenix71 opened #1222 "Remplacer les champs de reglages numerique par des sliders adminlte"

[2019-07-25 12:32] #1141 closed, assigned to byackee

[2019-07-25 12:52] byackee commented on #1196
fixé sur la version stable de 0.3.0

[2019-07-25 12:52] #1196 closed, assigned to byackee

[2019-07-26 07:32] Sylvaner commented on #1188
Pas réussi à reproduire en restaurant des sauvegardes

[2019-07-26 09:36] homefefeld opened #1227 "nouveau type de Cmd au noyau: "File Uploader"."
Pourrions-nous ajouter un nouveau type de Cmd au noyau: "File Uploader". Nous pourrions ensuite créer de nouveaux plugins avec File Uloader accessible à partir de la "vue" et à partir des scénarios. J'aimerais pouvoir intégrer une telle fonction à mon plugin "SABnzbd": nous pourrions évidemment créer un widget personnalisé (à la @byackee ), mais je pense qu'il serait bien mieux de l'ajouter en tan

[2019-07-26 10:20] Sylvaner commented on #1227
Si je comprends bien une dropzone en widget ou on peut caller des fichiers ?

[2019-07-26 11:44] cyrilphoenix71 commented on #1193
ok pour moi avec la PR https://github.com/NextDom/nextdom-core/pull/1225

[2019-07-26 11:53] cyrilphoenix71 commented on #1209
Ok pour moi avec la PR https://github.com/NextDom/nextdom-core/pull/1224

[2019-07-26 12:35] cyrilphoenix71 opened #1228 "Scroll to top pénible des qu'on ouvre une modale"
Je crois que ca ete ajouter pour corriger un bug mais c'est chiant, par exemple dans market, on cherche un plugin ou ouvre sa popup et paf ca remonte le market en haut

[2019-07-26 20:05] Sylvaner commented on #1215
Mais encore ?

[2019-07-27 11:19] Sylvaner commented on #1149
Bonjour,

Je viens de tester avec la 0.3.0 et je n'ai pas eu de problème.
Peux-tu me dire si le problème est toujours présent @vinceg77 ?

[2019-07-27 11:23] Sylvaner commented on #948
Oui je vois bien :)

[2019-07-27 11:28] #942 closed, assigned to slobberbone

[2019-07-27 21:03] perarem commented on #948
Hello,
C'est OK pour moi pour le plugin OpenVPN… pas de soucis pour les autres.

[2019-07-29 07:11] cyrilphoenix71 opened #1237 "Rendre le menu actionBar scrollable avec la page plutôt que fixed To top en résolution XS"

[2019-07-29 07:27] byackee opened #1238 "class utils::o2a et utils::a2o ne fonctionnent pas"
**Décrivez le bug**
Le plugin tv samsung utilise les class utils::o2a et utils::a2o, celles ci sont bien présente dans le core mais le plugin n'y accede pas

exrait du code du plugin
		ajax::success(Utils::o2a($communicationStatus));

[code]

[2019-07-29 08:31] slobberbone commented on #1238
Pour moi c'est le plugin qui n'est pas bien codé ...
exrait du code du plugin :
ajax::success(Utils::o2a($communicationStatus));
doit devenir :
ajax::success(utils::o2a($communicationStatus));

[2019-07-29 09:27] byackee opened #1244 "manque Heartbeat dans config plugin"
**Décrivez le bug**
pas de champs pour parametrer le heartbeat

**Comment reproduire ?**
Étapes pour reproduire le problème :
1. Aller dans la config d'un plugin (ex: hue)

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/4707496/62037272-c6ae6d00-b1f3-11e9-9017-c5a2023870bd.png)

[2019-07-29 09:47] byackee opened #1245 "PHP notice avec plugin HUE"
**Décrivez le bug**

Le plugin HUE balance 4 PHP notice toutes les secondes, sous jeedom rien. A priori ca n'empeche pas le fonctionnement mais en 1h j'ai un log de 4mo

[code]

[2019-07-30 18:02] homefefeld opened #1254 "problème d'affichage sur le market NextDom."
apres avoir selectioné un plugin en bas de l'ecran,  l'ecran ne remonte pas automatiquement en haut.

**Comment reproduire ?**
Étapes pour reproduire le problème :
1. Aller sur plugin->Gestion&Markets
2. Cliquez sur 'Market Nextom"
3. Faites défiler jusqu'en bas
4. selectionner "Pulse Audio"
-> l'ecran de configuration n'apparait que si on click sur la double fleche en bas a gauche.

[2019-07-30 18:49] Sliver91 opened #1255 "BUG : Resultat recherche Market Vide"
**Décrivez le bug**
La recherche sur le market Jeedom pour les widget/scenario/script ne fonctionne pas "resultat vide".

**Comment reproduire ?**
Plugin
Gestion & Markets
Jeedom Market
"Sélectionné : Plugin/widget/script/scénario"
Choisir : Widget
Resultat : VIDE

**Screenshots**
https://i.ibb.co/bdT745X/script.png

**Information matérielles**
 - OS : [ex : Debian 9.5]
 - Navigateur : [ex : chrom

[2019-07-30 19:37] Gis70 commented on #1255
Salut,

Ca fonctionne chez moi en 0.3.0,tu as bien renseigné les login et mdp ?

Tu recherches quoi ?

[2019-07-30 19:42] Sliver91 commented on #1255
plusieurs widget
ah oui tu peu me montrer un imprime ecran de ta recherche de widget dans le market jeedom via Nextdom ? merci

[2019-07-30 19:44] Gis70 commented on #1255
en recherchant alarme
![image](https://user-images.githubusercontent.com/16589132/62159945-3109ff00-b313-11e9-9b64-b76021362374.png)

[2019-07-30 19:48] Gis70 commented on #1255
Essaie un ctrl + f5

[2019-07-30 19:49] Sliver91 commented on #1255
je reboot nextdom la :o etrange j'ai clear mes cookies..

[2019-07-30 20:45] Sliver91 commented on #1255
et bien oui tu a raison la 0.3.0 corrige ce probleme !

[2019-07-30 22:11] therealcorwin commented on #1255
Je ferme ton issue @Garry91 vue que ton souci est résolu apparemment.

[2019-07-31 07:53] GsCbo opened #1261 "Backup Samba - Erreur backup distant"
**Décrivez le bug**
Quand on effectue un backup samba. Le sauvegarde s'effectue mais l'archivage sur le serveur samba ne s'effectue pas avec l'erreur suivante.

`rotating backup archives...  OK
uploading backup to remote clouds... PHP Fatal error:  Uncaught TypeError: Argument 2 passed to Icewind\SMB\TimeZoneProvider::__construct() must be an instance of Icewind\SMB\System, none given, called in /

[2019-07-31 13:57] homefefeld commented on #1254
Ceci est aussi un bug 0.3.0.

[2019-07-31 19:22] Gis70 commented on #1261
Salut ça fonctionne chez moi, as tu bien remis ce qu'il fallait dans la config samba sous Nextdom car ça a évolué un peu. Peux tu poster ta config ?

[2019-07-31 23:36] vinceg77 opened #1265 "Bug lors de la création de template de scénario"
Lors de la création d'un template de scenario lorsque l'on clique sur le "+" après avoir donné un nom au template une erreur est générée,

**Comment reproduire ?**
1. Aller dans un scénario
2. 'template'
3. Donner un nom au template dans la textbox
4. cliquer sur l'icone '+'

**Screenshots**
![Capture](https://user-images.githubusercontent.com/51484329/62255172-5fafd480-b3fc-11e9-833c-962343785165

[2019-07-31 23:46] vinceg77 opened #1266 "Restauration via Samba"
Lors de la restauration d'un backup distant via Samba le backup distant est bien vu par Nextdom dans les sauvegardes disponibles mais lorsque l'on clique sur 'Restaurer la sélection' en ayant choisi la liste le backup à restaurer un message d'erreur apparaît 'le fichier est introuvable sur le serveur Samba: nomdubackup.tar.gz'

PS : ce n'est pas un problème de droits sur le serveur samba
PS2 : la

[2019-07-31 23:52] vinceg77 commented on #1191
Je veux bien m'y coller mais j'aurais besoin d'avoir au préalable une rapide discussion avec les devs à l'origine du projet. Notamment pour avoir qqs guidelines sur ce que vous voudriez voir (ou pas) sur cette page et d'autre part par rapport à l'historique de création du projet Nextdom. SI vous préférez que ca soit fait par un plus ancien que moi, pas de souci, je ne me vexerai pas.

[2019-08-01 00:11] vinceg77 commented on #1149
Je viens de re-tester en 0.3.0 :

Le comportment est désormais presque similaire à celui de Jeedom :

1/ l'UI de Nextdom 0.3.0 ne permet plus de laisser le champs 'Localisation à utiliser' vide lors de la création de l'équipement Vigilance Météo

2/ Si je crée un équipement Vigilance Météo basé sur la 'Localisation à utiliser' ZZZ puis que je supprime ensuite la localisation ZZZ depuis le plugin L

[2019-08-01 07:23] GsCbo commented on #1261
![image](https://user-images.githubusercontent.com/44973640/62273525-09638580-b43e-11e9-9fa3-de31f1e58259.png)

Et je vois bien mes backups dispo dans la sauvegarde.

[2019-08-01 10:20] homefefeld opened #1269 "bug avec "apt install" pour une installation initial (sans backup)"
the script apt d'install se plante si on n'a pas de backup dans /var/lib/nextdom/backup/

Setting up nextdom (0.3.0) ...
ls: cannot access '/tmp/nextdom-backup/backup*': **No such file or directory**
**mv: missing destination file operand after '/var/lib/nextdom/backup/'**

[2019-08-01 10:26] homefefeld opened #1270 "date de change log fausse"
**Y une erreur de copier/coller: la date (Version 0.3.0: (04/03/2019 - Version beta))  dans change log :**

Changelog
Version 0.3.0:  **(04/03/2019 - Version beta)**
 Améliorations graphiques
 Corrections de bugs [liste ici](https://github.com/NextDom/nextdom-core/milestone/12?closed=1)
 Amélioration de la lisibilité du code
 Amélioration des tests
 Nombreux visuels mis en standard AdminLTE
 Nouve

[2019-08-01 11:10] byackee opened #1271 "le reset des couleurs ne fonctionne pas bien"
**Décrivez le bug**
Lorsque l'on reset la couleur dans la page custom, la valeur hexadecimal change bien mais le selecteur de couleur non

**Screenshots**

![image](https://user-images.githubusercontent.com/4707496/62288839-91a55300-b45d-11e9-91ae-b92c6073e2f9.png)

**Information matérielles**
 - OS : 9.5
 - Navigateur : [ex : chrome, safari]
 - Version NextDom : 0.3.0

**Labels**
Ajouter à droite

[2019-08-01 15:34] cyrilphoenix71 opened #1272 "Niveau LOG non initialisé sur fresh install"
Sur fresh install, il faudrait initialisé les niveau de logs system et plugins a "Aucun" (pour gagner en perf ou "default"

[2019-08-01 15:36] cyrilphoenix71 commented on #1254
moi l'ecran remonte bien en 0.3.0

[2019-08-02 14:35] Esso1-jeedom opened #1274 "bugg impossible de supprimer un declenchement enregistrer"
sur la V0.3.0

impossible de supprimer un déclenchement, même après sauvegarde il réapparaît
![image](https://user-images.githubusercontent.com/40739563/62377659-7d3b8600-b543-11e9-9b8e-0b199b2a0b54.png)

[2019-08-02 23:22] #1255 closed, assigned to nobody

[2019-08-02 23:27] Gis70 opened #1275 "Plugin Widget : résultat de recherche KO / pas d'image"
Sur NextDom 0.3.0, dans le plugin widget, les icônes ne sont pas affichés, et la recherche et KO.

Ca marche si on passe par le market et que l'on va dans la rubrique widget

[2019-08-03 09:56] vinceg77 commented on #1275
Chez moi ca semble fonctionner :
![Capture](https://user-images.githubusercontent.com/51484329/62410444-b4fb0a00-b5e5-11e9-99f7-13badf5fe760.JPG)

[2019-08-03 12:10] vinceg77 opened #1276 "Bug Le contenu des commandes disparait"
**Décrivez le bug**
Lorsque l'on clique sur une commande existante puis que l'on clique juste après sur le contenu de la textbox/listbox correspondant à cette commande, ce contenu disparaît !

Cela concerne toutes les commandes dans toutes les pages qui contiennent oue ou plusieurs commandes (page scénario / page configuration avancée / plugins / etc...)

Dans les mêmes circonstances dans Jeedom l

[2019-08-03 12:24] vinceg77 opened #1277 "Probleme avec le plugin Dark Sky"
**Décrivez le bug**
Les commandes du plugin météo Dark Sky ne répondent pas

**Comment reproduire ?**
Étapes pour reproduire le problème :
1. Aller dans un équipement Dark Sky
2. Cliquez sur 'tester' de n'importe quelle commande de n'importe quel onglet
3. La réponse est vide

PS : La Clef API DarkSky.net est bien renseignée et est correcte

**Screenshots**
![Capture](https://user-images.githubuse

[2019-08-03 12:34] Gis70 commented on #1275
Sur le market ? J'ai pas précisé ...

Le sam. 3 août 2019 à 11:56, vinceg77 <notifications@github.com> a écrit :

[2019-08-03 12:39] vinceg77 commented on #1275
Ah pardon, j'ai cru que c'était dans le plugin lui même. Effectivement dans le market je n'ai qu'une icone sur 15 qui apparaît correctement !

[2019-08-03 14:14] vinceg77 opened #1278 "Probleme avec le plugin Heliotrope"
**Décrivez le bug**
Les commandes des onglets 'Lever du soleil' et 'Coucher du soleil' du plugin Héliotrope ne répondent pas

Étonnamment celles de l'onglet 'Position du soleil' fonctionnent.

Comment reproduire ?
Étapes pour reproduire le problème :

1. Aller dans un équipement Héliotrope
2. Cliquez sur l'onglet onglets 'Lever du soleil' ou 'Coucher du soleil'
3. Cliquer sur le bouton 'tester' de

[2019-08-03 14:45] cyrilphoenix71 commented on #1275
tous fonctionne sous develop, pouvez vous tester ? @Gis70 @vinceg77

[2019-08-03 15:20] vinceg77 commented on #1275
test sous master :
![Capture](https://user-images.githubusercontent.com/51484329/62413760-e938ef80-b612-11e9-9725-270c94a569e1.JPG)

[2019-08-03 15:22] vinceg77 commented on #1275
![Capture](https://user-images.githubusercontent.com/51484329/62413774-2f8e4e80-b613-11e9-893a-42554826d36e.JPG)

[2019-08-03 17:52] Gis70 commented on #1278
Salut ça fonctionne chez moi, en 0.3.0 master
![image](https://user-images.githubusercontent.com/16589132/62415327-3c696d00-b628-11e9-88c6-98195af67961.png)

[2019-08-03 17:57] vinceg77 commented on #1278
M.. c'est seulement chez moi alors.. J'ai arrêté / redémarrer le plugin, rien ...
J'ai plus qu'à désinstaller/réinstaller et reprendre toutes le commandes orphelines générées par l'opération...

Fait ch...

@cyrilphoenix71 tu peux clore dans ce cas, fausse alerte, désolé

[2019-08-03 17:59] Gis70 commented on #1278
Tu as lancé les cron daily ?attend 24h au cas où

Le sam. 3 août 2019 à 19:57, vinceg77 <notifications@github.com> a écrit :

[2019-08-03 18:02] vinceg77 commented on #1278
Ca fait plusieurs jours que j'avais constaté le pb, j'ai attendu exprès pour voir.

Mais chez moi les cron sont hourly !!?? (dans la config du plugin en tous cas)...

[2019-08-03 18:04] Gis70 commented on #1278
chez moi aussi cest hourly, mais je crois que l'heure du levé et couché se
faisait à 3h du mat

Le sam. 3 août 2019 à 20:02, vinceg77 <notifications@github.com> a écrit :

[2019-08-03 18:11] vinceg77 commented on #1278
ah ok.
Enfin, si qq'un a une idée pour réparer mon plugin sans avoir à tout refaire, je suis preneur !

[2019-08-03 18:12] Gis70 commented on #1278
tu as éssayé de le réinstaller ?

Le sam. 3 août 2019 à 20:11, vinceg77 <notifications@github.com> a écrit :

[2019-08-03 18:13] vinceg77 commented on #1278
Non pas encore, je redoute le nbre de commandes orphelines que ca va me faire. Je sais comment remplacer un id de commande par un autre mais faut quand meme aller voir à chaque fois à quelle commande ca correspondait. J'en ai pour 30 mns !

[2019-08-03 18:14] Gis70 commented on #1278
non mais tu réinstalle via le market sans désinstaller

Le sam. 3 août 2019 à 20:13, vinceg77 <notifications@github.com> a écrit :

[2019-08-03 18:23] vinceg77 commented on #1278
@Gis70 merci pour le tips
J'ai essayé mais ca marche pas... Pareil les commandes ne répondent rien..
Je vais essayer de générer une nouvelle clé API pour voir...

... non ca marche pas non plus. Je vais quand même attendre le cron au cas où...

EDIT : Mdr.. j'ai ouvert 2 issues en même temps (1 pour le plugin Dark Sky une autre - celle ci - pour héliotrope... Depuis tout à l'heure on parle d'hélio

[2019-08-04 08:13] Sylvaner commented on #1278
Peux-tu taper cette commande en ssh après avoir essayé d'activer quelques commandes :
[code]
?

[2019-08-04 10:19] vinceg77 commented on #1278
Merci @Sylvaner pour ton aide.
Le tail n'affiche aucune erreur de la part d'heliotrope, mais juste un pb de commande espeasy dont le nom serait vide que je traîne depuis des mois sous jeedom comme sous nextdom

Par contre il m'a prit l'idée de créer un nouvel équipement héliotrope et en fait, ca fonctionne pas : lorsque je tente de sauvegarder le nouvel équipement : "Erreur : Call to a member func

[2019-08-04 10:43] vinceg77 commented on #1261
Je viens de lancer un backup. Chez moi je n'ai pas les mêmes erreurs dans 'avancement de la sauvegarde'. A la fin j'ai juste un problème de droits (mais en fait les backups sont quand même déposées dans le dossier samba configuré) :

rotating backup archives...  OK
uploading backup to remote clouds...
mkdir failed on directory /var/run/samba/msg.lock: Permission denied
mkdir failed on directory /v

[2019-08-04 22:40] Gis70 commented on #1261
Hello, il faut refaire la config SAMBA ce n'est pas bon. Supprimé tout, il y a l'exemple de ce qui doit être inscrit dans le champ.

Le message d'erreur est là mais ce n'est pas lui le problème, je l'ai aussi.

Voilà un exemple de config
![image](https://user-images.githubusercontent.com/16589132/62430223-e674f200-b719-11e9-924d-f42572f689e3.png)

[2019-08-04 23:34] vinceg77 commented on #1261
Oui j'ai l'équivalent et ca sauvegarde malgré les messages d'erreur

[2019-08-04 23:53] Gis70 commented on #1261
et donc le transfert samba fonctionne aussi chez toi ?, le message d'erreur
c'est un bug dans le package de la fonction pas de nextdom

Le lun. 5 août 2019 à 01:34, vinceg77 <notifications@github.com> a écrit :

[2019-08-05 01:04] vinceg77 commented on #1261
oui, malgré les messages d'erreur je retrouve bien au final une sauvegarde dans mon repertoire sur le serveur samba...

[2019-08-05 08:19] GsCbo commented on #1261
Perso si dans partage je mets pas //ip/dossier_partage ben dans la page Sauvegardes / Restaurations j'ai une erreur samba.

Mais ça résout pas mon soucis.

[2019-08-05 10:43] Gis70 commented on #1261
tu es sur quelle version de Nextdom @GsCbo

[2019-08-05 12:14] GsCbo commented on #1261
la actuellement la 0.3.0, mais j'ai le soucis depuis que j'étais passé à la 0.1.4, puis j'ai l'impression au vu de mes logs que c'est un délire avec les dépendances installées par le plugin sonos

[2019-08-05 12:25] Gis70 commented on #1261
J'avais pas vu effectivement il y a un conflit de dépendances peut être, par contre en 0.3.0 il faudra modifier ta config pour le partage... sinon cela ne marchera pas.

[2019-08-05 12:31] GsCbo commented on #1261
Ben si je modifie ma config c'est ce que je disais au dessus, c'est pas bon au niveau de la page Sauvegardes / Restaurations. Je vois plus mes backups Samba alors qu'avec celle ci ça fonctionne ^^

[2019-08-05 12:32] Gis70 commented on #1261
c'est pas logique en 0.3.0 peut être encore à cause de sonos... tu pourrais essayer de le désinstaller ?

[2019-08-05 12:33] GsCbo commented on #1261
vais tester ce soir, toi il est installé chez toi?

[2019-08-05 12:38] Gis70 opened #1282 "Fonction "tendance" KO"
La fonction "tendance" est KO sur master 0.3.0, en 0.2.0 elle fonctionnait.

J'utilise cette fonction comme suivant :

(tendance(#[Ghislain][GeofenceMaison][Distance Position Ghislain]#, 0.3 min, 0.05) == -1

Si je me rapprochait de la maison alors la tendance était égale à -1, si je m'en éloignait = à 1, hors là c'est tout le temps égal à 1 quand je me rapproche : (terme après la tendance 11321..

[2019-08-05 14:48] vinceg77 opened #1283 "Bugs dans la recherche de widget"
**Décrivez le bug**
La recherche d'un widget n'affiche pas la même chose selon que l'on passe par plugin widget/market ou par plugin Gestion&Markets/jeedom market/widget :

1. A l’intérieur du plugin Widget, la recherche bug si après avoir saisi le nom du widget recherché dans la barre de recherche ce qui semble avoir pour effet de filtrer les résultats en fonction de la saisie mais aucun résultat

[2019-08-06 17:05] vinceg77 commented on #1277
Bon après revérification, reconfiguration de geotrav, modification de la clé API Dark Sky, ca fonctionne à nouveau.
Cette issue peut être clôturée !

[2019-08-06 17:32] #1277 closed, assigned to nobody

[2019-08-08 14:31] #1278 closed, assigned to nobody

[2019-08-08 14:38] Sylvaner commented on #1238
En efet, c'est un problème avec la classe Utils qui ne correspond pas.
Le PHP 5.6 est peut être plus permissif.

[2019-08-08 14:39] #1209 closed, assigned to nobody

[2019-08-08 14:39] #948 closed, assigned to perarem

[2019-08-08 14:40] #1193 closed, assigned to nobody

[2019-08-08 15:41] Sylvaner opened #1284 "Restauration sur une installation existante"
**Décrivez le bug**
Lors d'une restauration sur dans un instance déjà fonctionnel, les répertoire des plugins sont souvent mal copiés car non vide.
Il faudrait sans doute remplacer le "mv" par un "cp -fr"

**Comment reproduire ?**
Restaurer 2 fois la même sauvegarde

[2019-08-08 15:42] vinceg77 commented on #1284
+1

[2019-08-08 22:46] Gis70 commented on #1283
#1275

[2019-08-08 23:14] Gis70 commented on #1275
Alors sous develop @cyrilphoenix71 ça marche, j'ai les icônes seulement si j'ai cliqué sur un widget et que la modale du widget s'affiche. Ensuite les images sont chargées, sinon, pas d'icônes. La recherche fonctionne. Par contre le nom de la catégorie n'est pas en adéquation lorsque l'on arrive sur la page d'accueil. Mais ça doit être du ressort du plugin et pas de NextDom ?

[2019-08-12 05:43] Sylvaner commented on #1197
Fix pour limité l'impact, mais si le plugin redéfini la fonction "toHtml" (comme opening) et utilise d'autres modules cette erreur apparaitra

[2019-08-12 05:48] #1227 closed, assigned to nobody

[2019-08-12 22:05] Gis70 commented on #1282
résolu en utilisant seconds au lieu de min

[2019-08-12 22:05] #1282 closed, assigned to nobody

[2019-08-13 18:35] j-kwan opened #1288 "Feature - Push notifications PWA"
Bonjour à tous,
Cette demande concerne un amélioration du système de notifications.

Il serait intéressant d'avoir des pushs notifications navigateurs (en PWA) pour qu'on puisse :
- récupérer les notifications sans avoir besoin d'avoir l'onglet Nextdom tout le temps ouvert
- avoir les notifications directement sur le téléphone sans avoir à configurer un n-ième plugin (d'avoir du coup la possibilit

[2019-08-13 19:36] imfloflo opened #1289 "Feature - Notifications dirty indicator in browser tab"
It would be great to have a dirty indicator notification on the favicon in browser tab when there are notifications/alert in Nextdom.

A red dot with the number like in Discord when you have unread message. (or only ht number of unread like in gmail)

![image](https://user-images.githubusercontent.com/457577/62952797-a1714f80-bdec-11e9-9474-9b506e4062da.png)

[2019-08-14 09:58] ghost opened #1291 "PHP Warning: preg_match(): Delimiter must not be alphanumeric or backslash in /usr/share/nextdom/src/Model/Entity/InteractDef.php on line 600"
En restaurant ma sauvegarde de Jeedom sur NextDom j'ai eu les warning suivants :
...Database basic update
PHP Warning:  preg_match(): Delimiter must not be alphanumeric or backslash in /usr/share/nextdom/src/Model/Entity/InteractDef.php on line 600
PHP Warning:  preg_match(): Delimiter must not be alphanumeric or backslash in /usr/share/nextdom/src/Model/Entity/InteractDef.php on line 600
PHP Warn

[2019-08-14 10:02] ghost opened #1292 "Erreur restauration Jeedom : error while checking system consistency"
En restaurant un Jeedom 3.1.7, j'ai l'erreur suivante :
chechking system consistency......  Failure

FROM `eqLogic` el
LEFT JOIN object ob ON el.object_id = ob.id ORDER BY ob.name, el.name
PHP Notice:  Array to string conversion in /usr/share/nextdom/src/Helpers/Utils.php on line 412
PHP Notice:  Array to string conversion in /usr/share/nextdom/src/Helpers/Utils.php on line 412
PHP Notice:  Array

[2019-08-14 11:33] AgP42 opened #1293 "Incohérance version dans la page de mise à jour"
**Décrivez le bug**
Dans la page de mise à jour, la version indiquée est celle de Jeedom (en l'occurence ici c'est le core de la sauvegarde que j'ai installée), et non celle de NextDom

**Comment reproduire ?**
Étapes pour reproduire le problème :
1. Installer une sauvegarde Jeedom
2. Aller sur la page d'update

**Screenshots**
![update](https://nsa40.casimages.com/img/2019/08/14/19081401304645137

[2019-08-14 11:46] AgP42 opened #1294 "Widget thermostats - affichage d'un carré blanc autour de la consigne"
**Décrivez le bug**
Petit bug d'affichage.
Le soucis est dans le "border" qui est défini à 0px dans le widget thermostat mais est écrasé par un "border 1px !important".
Voir le screenshot.

**Comment reproduire ?**
Utiliser le plugin thermostat

**Screenshots**
![](https://nsa40.casimages.com/img/2019/08/14/19081401442927131.png)

**Information matérielles**
 - OS : debian 9
 - Navigateur : Mozill

[2019-08-14 11:58] cyrilphoenix71 commented on #1294
Bien vu je corrigerais des que je peux

[2019-08-14 13:04] TekiStone opened #1295 "Ajout Plugin par zip impossible"
**Décrivez le bug**
Il semble impossible de rajouter un plugin depuis un ZIP situer sur le PC depuis l'interface

**Comment reproduire ?**
Prérequis :
Avoir activé le service de fichier depuis "Expert" => "Administration & Réglages" => "Services" => "Fichier"

Étapes pour reproduire le problème :
1. Aller sur "plugins" puis "Gestion & Markets"
2. Cliquez sur "Autre Source"
3. Sélectionner "Fichier

[2019-08-15 14:12] Gis70 commented on #1276
Ok validé

[2019-08-15 14:14] Gis70 commented on #1274
ok validé

[2019-08-15 17:26] Gis70 commented on #1265
ok validé

[2019-08-15 17:34] Gis70 commented on #1197
ok validé

[2019-08-15 21:32] Sylvaner opened #1298 "Erreurs qui s'affichent pendant une restauration"
Plein de messages d'erreurs apparaissent pendant la restauration alors qu'ils devraient être cachés.

[2019-08-15 21:57] slobberbone commented on #1298
Lesquels ?

[2019-08-16 20:41] Sylvaner commented on #1295
Merci, c'est corrigé, à tester :)

[2019-08-16 20:42] Sylvaner commented on #1293
ah oui, ça va être sympa à gérer ça :) Merci

[2019-08-16 20:46] Sylvaner commented on #1291
Peux-tu exécuter cela :
[code]

et poster le retour ?

[2019-08-17 20:35] Gis70 commented on #1295
ok validé

[2019-08-17 20:37] Gis70 opened #1300 "Référence à Jeedom dans Ajout d'un plugin via une source autre"
![image](https://user-images.githubusercontent.com/16589132/63217045-7dd93c80-c13f-11e9-80a2-c06f8682878d.png)

[2019-08-19 08:21] TekiStone opened #1301 "Maj Fantôme Core"
**Décrivez le bug**
Une mise à jour est disponible pour le core mais la version est incorrecte.

**Comment reproduire ?**
Étapes pour reproduire le problème :
1. "Inconnue", NextDom m'a indiqué qu'une MaJ était présente
2. Cliquez sur 'Expert'
3. Cliquez sur 'Administration & Réglages'
3. Le core a une MaJ dispo, la version affichée dans la tuile est **404: Not Found**

**Screenshots**
![image](ht

[2019-08-20 12:33] Adrianos712 opened #1304 "Scénario non visible dans le dashboard"
**Décrivez le bug**
Les scénario n'apparaissent pas dans le dashboard

**Comment reproduire ?**
Étapes pour reproduire le problème :
1. créer un scénario avec la case "visible" activée  et appartenant à un objet
2. aller sur l'objet en question, il n'apparaît pas

**Information matérielles**
 - OS : Debian 9.9
 - Navigateur : Firefox
 - Version NextDom : 0.3.0
 - Branche NextDom : master
 - Instal

[2019-08-20 13:54] Adrianos712 opened #1305 "Possibilité de desactiver un scénario sur la version mobile"
**Décrivez ce que vous souhaitez**
Possibilité dans l'onglet scénario de la partie mobile d'activer/desactiver les scénarii.
Attention à ne pas mettre les boutons trop proche du déclenchement :-)

[2019-08-20 18:30] Gis70 commented on #1261
je n'ai pas sonos non, ça dit quoi alors ?

[2019-08-21 08:26] GsCbo commented on #1261
donc quand je le désinstalle les backups samba fonctionnent (j'ai tjrs un message d'erreur mais le backup se fait)
je le réinstalle et la les backups ne fonctionnent  plus.

@Gis70 tu pourrais tester chez toi stp vérifier que t'as le même comportement?

[2019-08-21 09:28] #1295 closed, assigned to nobody

[2019-08-21 16:11] #1274 closed, assigned to nobody

[2019-08-21 16:11] #1276 closed, assigned to nobody

[2019-08-21 16:11] #1197 closed, assigned to nobody

[2019-08-21 16:11] #1265 closed, assigned to nobody

[2019-08-26 09:20] j-kwan commented on #1288
Complément d'information sur la documentation de push notification
Documentation Mozilla : https://developer.mozilla.org/fr/docs/Web/API/notification
Exemple d'application avec jQuery : https://www.jqueryscript.net/other/jQuery-Plugin-For-HTML5-Desktop-Push-Notifications-easyNotify-js.html

[2019-08-26 19:46] ghost commented on #1291
Ca retourne rien ;-)
Je pense que tu voulais regexpExclud
root@nextdom:~# mysql -u root nextdom -e "SELECT * FROM config" | grep regexpExclud
core    interact::regexpExcludGlobal    nextdom:

[2019-08-26 19:50] ghost commented on #1292
Ca blind de warning la base ;-)
150 000 enregistrement  en 10 jours
ce | Erreur sur ecodevice::pull() : NextDom\Exceptions\CoreException Object ( [message:protected] => [MySQL] Error code : 42S22 (1054). Unknown column 'generic_type' in 'field list' : SELECT `name`, `generic_type`, `logicalId`, `eqType_name`, `configuration`, `isVisible`, `isEnable`, `timeout`, `category`, `display`, `order`, `com

[2019-08-30 14:55] cyrilphoenix71 commented on #1298
message plugins je crois en notify

[2019-08-30 14:57] cyrilphoenix71 opened #1322 "Nettoyer la page admin/Services"
Cette page qui contient le parametrage des mises a jours et services comme github etc a certains parametres devenus inutiles.
Il faudrait faire le menage car c'est tres confu, on parle a plusieurs endroit de mise a jour du core or maintenant on a qu'un seul endroit etc

[2019-08-30 14:58] cyrilphoenix71 opened #1323 "Bascule automatique theme light/dark sur heures matin/soir"
Ajouter une fonctionnalité de bascule automatique entre 2 des 3 themes a une certaines heure

[2019-08-30 22:55] slobberbone commented on #1323
^^ le truc qui ne sert à rien !

[2019-08-30 22:57] slobberbone commented on #510
ca sent le copier/coller foireux ...

[2019-08-30 22:59] slobberbone commented on #1292
La vraie question est doit-on accepter l'import d'un backup jeedom plus ancien que 3.2.X ?

[2019-09-02 19:23] ghost commented on #1292
Je pense que c'est lié à mon plugin ipx800...
Mais ta question est pertinente

[2019-09-02 19:23] #1292 closed, assigned to nobody

[2019-09-05 07:50] TekiStone commented on #1301
update : Ce matin j'ai retrouvé certaines informations dans les cadres :
![image](https://user-images.githubusercontent.com/35001669/64322119-3b7a8100-cfc2-11e9-81a9-14b8feb0b7b0.png)

Mais j'ai un décalage (je ne sais pas si c'est lié)
La version en bas de l'interface web :
![image](https://user-images.githubusercontent.com/35001669/64322194-6369e480-cfc2-11e9-9990-a737b7d6eb9a.png)

Et dans ma c

[2019-09-05 22:02] #1254 closed, assigned to nobody

[2019-09-05 22:05] #1275 closed, assigned to nobody

[2019-09-06 19:49] Gis70 opened #1330 "0.3.1 Page équipements KO"
[06-Sep-2019 21:47:04 Europe/Berlin] PHP Fatal error:  Uncaught Error: Call to a member function getStatus() on null in /var/www/html/src/Controller/Diagnostic/EqAnalyzeController.php:59
Stack trace:
#0 [internal function]: NextDom\Controller\Diagnostic\EqAnalyzeController::get(Array)
#1 /var/www/html/src/Helpers/PrepareView.php(378): call_user_func_array('NextDom\Control...', Array)
#2 /var/www/h

[2019-09-07 09:12] Sylvaner commented on #1304
En effet, nous les avions retiré. Mais est-ce vraiment utile ? Car nous essayons d'alléger le dashboard qui est... chargé pour certains

[2019-09-07 10:41] slobberbone commented on #1330
@Gis70 peux-tu me transmettre ton backup stp ? (via discord en privé)

[2019-09-07 11:49] Gis70 commented on #1304
Pour ma part je m'en fiche qu'il y soient pas. Au pire on peut faire un
virtuel. Je préfère un dash allégé.

Le sam. 7 sept. 2019 à 11:12, Sylvain Dangin <notifications@github.com> a
écrit :

[2019-09-07 14:44] Esso1-jeedom commented on #1330
pour moi ca fonctionne tjrs..
meme aprés restore etc.

[2019-09-07 19:59] Gis70 commented on #1330
Hello

 a résolu le pb

[2019-09-07 21:04] slobberbone commented on #1330
Ca veut dire qu'il faut rajouter ça après un restore backup ! Je le rouvre pour le faire ! Merci !

[2019-09-08 09:21] #1271 closed, assigned to nobody

[2019-09-08 21:00] Sylvaner commented on #1245
https://www.jeedom.com/forum/viewtopic.php?t=256&start=1620

[2019-09-09 07:12] Adrianos712 commented on #1304
Mon besoin est de pouvoir activer/désactiver le scénar depuis le dashboard, pas sur qu'un virtuel puisse faire ça.
Si on veut alléger le dashboard, il suffit juste de décocher "visible" dans le scénario, non ?

[2019-09-09 11:38] cyrilphoenix71 opened #1336 "Le menu filtre des pieces du dashboard ne fonctionne plus"

[2019-09-09 11:52] #1270 closed, assigned to byackee

[2019-09-09 11:53] cyrilphoenix71 commented on #1222
https://github.com/NextDom/nextdom-core/pull/1332

[2019-09-09 11:53] #1222 closed, assigned to nobody

[2019-09-09 13:56] cyrilphoenix71 opened #1338 "Le déplacement des tuiles sur le dashbord en mode edition est buggué"
Lorsqu'on edit le dashoard :
- la numerotation des tuiles ne s'affiche qu'au premier deplacement
- la sauvegarde memorise les position du mouvement n-1

[2019-09-09 21:26] Sylvaner commented on #1304
On va organiser un vote pour ça je pense :)

[2019-09-10 07:23] cyrilphoenix71 opened #1341 "Le theme n'est pas régénéré suite à une update"

[2019-09-10 08:28] slobberbone opened #1343 "Test Poll"
[![](https://api.gh-polls.com/poll/01DMD4JZAN7EJTCWAKJCPKYK2D/Option1)](https://api.gh-polls.com/poll/01DMD4JZAN7EJTCWAKJCPKYK2D/Option1/vote)
[![](https://api.gh-polls.com/poll/01DMD4JZAN7EJTCWAKJCPKYK2D/Option%202)](https://api.gh-polls.com/poll/01DMD4JZAN7EJTCWAKJCPKYK2D/Option%202/vote)
[![](https://api.gh-polls.com/poll/01DMD4JZAN7EJTCWAKJCPKYK2D/Option%203)](https://api.gh-polls.com/poll/01D

[2019-09-10 08:34] Sylvaner opened #1344 "Sondage sur la fonctionnalité d'accès aux scénarios sur le dashboard"
Jeedom a intégré il y a quelques versions la possibilité de contrôler les scénarios sur le dashboard.
Nous n'avions à l'époque pas intégré cette fonctionnalité.

Aujourd'hui @Adrianos712 lance le débat (à juste titre).

Donc êtes-vous pour intégrer la possibilité de contrôler les scénarios dans le dashboard ?
[![](https://api.gh-polls.com/poll/01DMD4YDQRNC8TMQSED61633H4/Oui%20il%20faut%20absolumen

[2019-09-10 08:34] Sylvaner commented on #1304
https://github.com/NextDom/nextdom-core/issues/1344

[2019-09-10 08:42] #1343 closed, assigned to nobody

[2019-09-10 09:44] cyrilphoenix71 commented on #1344
Je vous propose un truc comme ca :
![image](https://user-images.githubusercontent.com/18350629/64603196-49fcda00-d3c0-11e9-81d2-2c71f65b7c13.png)

[2019-09-10 09:45] slobberbone commented on #1081
Je vais rajouter une migration en 0.4.0 pour parcourir les plugins présents en bdd, si le dossier n'existe pas alors je supprime l'entrée en bdd.

[2019-09-10 20:05] #1336 closed, assigned to nobody

[2019-09-10 20:06] #1338 closed, assigned to nobody

[2019-09-11 09:15] Sylvaner opened #1345 "Remplacement de jeedom dans le SQL"
A la restauration, jeedom est remplacé par nextdom.
Il faut faire quelque chose de plus ciblé car cela pose problème dans plusieurs cas.

[2019-09-11 09:19] slobberbone commented on #1345
Il faudrait lister ce qu'on veut modifier ...

- BDD (quels champs)
- Fichier de config (lesquels)
- ??

[2019-09-11 15:12] Adrianos712 commented on #1344
Ce qui est important pour moi c'est :
- de pouvoir afficher dans une tuile l'état actif/inactif du scénar
- de pouvoir les activer / désactiver simplement et depuis l'UI mobile
Ce que tu proposes est super joli, mais si on doit naviguer, autant mettre un lien direct vers le "résumé scénario"

[2019-09-11 19:59] #1341 closed, assigned to nobody

[2019-09-11 19:59] #1330 closed, assigned to slobberbone

[2019-09-12 05:39] #1300 closed, assigned to nobody

[2019-09-12 12:01] slobberbone commented on #1345
Alors j'ai regardé, dans un backup voilà ce que je trouve :
![Sélection_198](https://user-images.githubusercontent.com/3833875/64782733-40ad7200-d566-11e9-97e2-644166ee7467.png)

Donc je vais laisser un sed avant import, juste pour le nom de la bdd et l'utilisateur (sauf si on fait djéà, ce qui devrait être le cas vu qu'on utilise nextdomdev comme user dans certains cas ...)

Ensuite en migration

[2019-09-12 16:28] Esso1-jeedom opened #1352 "bugg icone nom visible plugins"
nextdom 0.4.0

sur le theme claire, les icones des plugins ne sont pas visible.

en theme dark les icones sont visible .

![image](https://user-images.githubusercontent.com/40739563/64802449-fc809880-d58a-11e9-927e-0327f12bb673.png)

avec theme light
![image](https://user-images.githubusercontent.com/40739563/64802495-17530d00-d58b-11e9-9c2c-6ccfd524e962.png)

[2019-09-12 16:55] Esso1-jeedom opened #1353 "maj par nextdom"
en passant par la MAJ de nextdom.

cela fonctionne mais le tag n'est pas le bon
en V 0.4.0
en image

![image](https://user-images.githubusercontent.com/40739563/64804295-d6f58e00-d58e-11e9-90f5-be126edc0bbd.png)

[2019-09-12 20:11] cyrilphoenix71 opened #1354 "Problème de lien symbolique à l'installation de la version 0.4.0"
Erreur sur le postinst :
`step_nextdom_configuration ... ln: failed to access '/tmp/jeedom': Permission denied`

[2019-09-13 20:07] #1352 closed, assigned to nobody

[2019-09-15 18:45] Esso1-jeedom opened #1361 "zoom page design"
sur la 0.4.0 /0.4.1
les modes design sous android ne passe plus en zoom.
avant mon design tablette ce mettait a 100% en largeur de mon tel ( que je tourner de 90 % pour avoir le plein écran)
depuis la MAJ plus de mise à l'echelle. et plus de zoom possible .
y a plus urgent ,mais si au passage vous trouvez... !!!!

[2019-09-15 19:57] #1354 closed, assigned to slobberbone

[2019-09-15 20:02] #1304 closed, assigned to nobody

[2019-09-15 20:03] #1344 closed, assigned to nobody

[2019-09-16 05:34] Sylvaner commented on #1305
J'ai du mal à comprendre le besoin, pourquoi tu fais ça ? :)

[2019-09-16 05:38] Sylvaner commented on #1353
[code]
Sur les anciennes installations, le type de mise à jour est fixé à github et ne va donc pas mettre à jour

[2019-09-16 07:35] slobberbone commented on #1353
Est-ce que je tente de mettre ça dans une migration ? je teste au préalable si nextdom est isntallé en .deb @Sylvaner ?

[2019-09-16 09:13] Sylvaner opened #1365 "Scenario dashboard"
Problème d'affichage avec des noms de scénario longs

[2019-09-16 09:39] slobberbone commented on #1261
@GsCbo il y a un soucis lorsque le plugin Sonos est installé. Cependant en 0.4.X  sans le plugin, cela foncitonne. JE regarde comemnt corriger la compatibilité avec le plugin Sonos

[2019-09-17 05:18] Esso1-jeedom opened #1367 "bug plugin WIDGET"
les boutons ne fonctionnent pas
![image](https://user-images.githubusercontent.com/40739563/65013397-48c93100-d91b-11e9-8f8e-c0a4bed683c9.png)

[2019-09-18 07:04] Adrianos712 commented on #1305
Sur l'UI mobile, on ne peut pas voir l'état actif/inactif des scénarii, et encore moins le modifier.

Mon besoin est le suivant :
J'ai un scénar qui ouvre mes volets les jours de semaine pour me reveiller, puis réveiller mes enfants.
Les jours fériés où quand y'a pas école des fois j'oublie de désactiver, alors quand ça s'ouvre, je dois en speed, d'un oeil sans lunette et sans trop me réveiller dé

[2019-09-18 10:39] edgd1er commented on #1305
Bjr, le plugin DayInfo donne le status week end, vacances, je les utilises pour décaler l ouverture des volets a 9h. Il a une dependance avec un autre plugin de lunarok de gps, mais tu peux l utiliser sans cle api google en entrant directement des coordonnées gps. Si ca peut aider

[2019-09-18 14:39] titrax35 commented on #1367
Pour corriger le pb en attendant :
- Télécharger le fichier jwerty.js et le mettre dans plugins/widget/3rdparty (https://raw.githubusercontent.com/keithamus/jwerty/master/jwerty.js)

- Modifier le fichier `nano /usr/share/nextdom/plugins/widget/desktop/php/widget.php`
    et rajouter

[code]

a l extérieur des

`<?php ... ?>`

(au dessus de ``)

[2019-09-23 21:45] #1345 closed, assigned to slobberbone

[2019-09-24 05:48] Sylvaner opened #1374 "Mysql postinst"
Le script d'installation ne vérifie pas que mysql tourne.

[2019-09-24 06:38] edgd1er commented on #1374
dans le init du docker, j'ai mis une fonction pour attendre que le conteneur mysql soit en route:

cela pourrait etre une inspiration, avec un compteur de tentative a ajouter si besoin

[code]

[2019-09-24 19:19] #1365 closed, assigned to cyrilphoenix71

[2019-09-24 19:21] Sylvaner commented on #1301
Normalement c'est réglé dans la dernier develop donc en RC1 ce soir

[2019-09-25 16:27] Sylvaner commented on #1305
Edgd1er, l'homme au bon plugin :)
@adrianos712, penses-tu que cette solution pourrait convenir ?

[2019-09-25 19:04] Esso1-jeedom commented on #1367
c corriger en develop

[2019-09-25 19:05] Esso1-jeedom commented on #1353
cela fonctionne sur la versions deb . 5.0
![image](https://user-images.githubusercontent.com/40739563/65631591-251b8000-dfd8-11e9-9d35-f08c2075083d.png)

[2019-09-25 19:05] #1353 closed, assigned to nobody

[2019-09-25 19:05] Esso1-jeedom commented on #1301
oui
![image](https://user-images.githubusercontent.com/40739563/65631658-42e8e500-dfd8-11e9-9567-1f2089adc36b.png)

[2019-09-25 19:05] #1301 closed, assigned to Esso1-jeedom

[2019-09-25 21:00] Gis70 opened #1377 "Code affiché dans page Equipement"
Sur EqAnalyse (page équipement), du code ressort :

![image](https://user-images.githubusercontent.com/16589132/65639314-2785d600-dfe8-11e9-931e-543693162243.png)

Idem dans un autre onglet

![image](https://user-images.githubusercontent.com/16589132/65639414-64ea6380-dfe8-11e9-8c9b-76d0c51da155.png)

En 0.4.1

[2019-09-26 05:28] Esso1-jeedom opened #1378 "bugg scénario fonction A"
sur
 - Navigateur : [ex : chrome, safari]
 - Version NextDom : 0.5.0 RC0.83
 - Branche NextDom :
 - Installé via : deb

sur la fonction A dans un scénario,

retour d'erreur, malgré que l'action soit réalisée

exemple
  | Scenario : [bassin][heure creuse bassin]. Erreur : Bloc type A : 143, heure programmée invalide : 2019-09-25 22:10:00
-- | --

[2019-09-24 05:10:02][SCENARIO] Start : Scenario exe

[2019-09-28 08:59] Gis70 opened #1379 "Pas de retour sur UI si on tente de mettre le même nom à 2 équipements"
En RC1, si on tente d'appeler un équipement de la même façon qu'un autre on n'a pas de message d'avertissement, on a le OK vert et en fait rien ne se passe.
![image](https://user-images.githubusercontent.com/16589132/65814200-00452980-e1df-11e9-95e1-b79bd7870956.png)

Par exemple ici si j'appelle mes 2 objets caméra salon la sauvegarde ne se fait pas mais pas de retour user.

[2019-09-28 09:17] slobberbone opened #1380 "Service apache non reconfiguré lors du postinst"
Le postinst modifie la configuration apache mais ne recharge pas la configuration pour le service

[2019-09-29 09:34] Astral0 commented on #1380
C'est devenu le bordel ce postinst :(
Il y a 3 endroits où l'on modifie la configuration Apache, alors qu'il y a une routine pour ca : step_nextdom_apache_php()

D'autre part, on relance bien la conf à la fin de cette routine :
[code]
sauf que moi j'avais mis un temps d'attente entre ces commandes, pour laisser le temps aux filesystem lent (par ex. Docker) de terminer l'écriture des fichiers de co

[2019-09-29 18:52] Gis70 opened #1381 "Page OSDB problème de translate"
Problème de translate et alignement
![image](https://user-images.githubusercontent.com/16589132/65837699-d8e37f00-e2fa-11e9-8c8a-e4f1907ef4f7.png)

[2019-09-30 20:35] Gis70 commented on #1266
Toujours présent en 0.5.0 RC1

[2019-09-30 20:38] Gis70 commented on #1269
Je clos, je n'ai pas reproduit sur une fresh install debian en 0.5.0 RC1

[2019-09-30 20:38] #1269 closed, assigned to nobody

[2019-09-30 20:45] Gis70 commented on #1128
toujours d'actu sur 0.5.0 en rc1.

[2019-10-01 19:19] slobberbone commented on #1374
Merci @edgd1er Je vais voir pour intégrer ça

[2019-10-01 21:50] slobberbone opened #1385 "Log Cron_execution rempli à outrance"
Le ficiher de log cron_execution est rempli d'un warning concernant une fonction deprecated sans tenir compte du niveau de log.
Cette erreur à lieu 2 fois par seconde ...
`This method is deprecated. Use getEqType'`

[2019-10-01 22:24] Gis70 opened #1389 "Les clef API ne sont plus affichées page API"
depuis 0.4.1 plus de clef api plugin affichée :

![image](https://user-images.githubusercontent.com/16589132/66005189-04a56700-e4ab-11e9-858e-0e3e5c5ae689.png)

[2019-10-01 22:28] Gis70 commented on #1188
cette fois cest bon :)

[2019-10-01 22:28] #1188 closed, assigned to nobody

[2019-10-01 22:35] Gis70 commented on #1385
@slobberbone  tu peux pas faire qqch pr ça aussi :
![image](https://user-images.githubusercontent.com/16589132/66005700-8944b500-e4ac-11e9-81df-13fc45b33bb8.png)

[2019-10-02 07:30] slobberbone commented on #1188
Pas reproduit ... avez-vous une capture d'écran ?

[2019-10-02 07:31] slobberbone commented on #1385
En effet ...

[2019-10-02 07:51] slobberbone commented on #1385
A priori c'est dû à un plugin SuiviConso qui essaie de se connecter sans authentification ...

[2019-10-02 07:56] slobberbone commented on #1293
Fixed in c13e824c99f017c733118561c95093a51351fad2

[2019-10-02 07:56] #1293 closed, assigned to nobody

[2019-10-02 08:00] slobberbone commented on #1284
Fixé dans #1176

[2019-10-02 08:00] #1284 closed, assigned to nobody

[2019-10-02 08:01] slobberbone commented on #12
Fait

[2019-10-02 08:01] #12 closed, assigned to slobberbone

[2019-10-02 15:26] slobberbone commented on #510
@Sylvaner est-ce toi qui a fais ce script et si oui, à quoi sert-il ?

[2019-10-02 15:28] slobberbone commented on #1211
Non présent en 0.5.5

[2019-10-02 15:28] #1211 closed, assigned to nobody

[2019-10-02 19:37] #1381 closed, assigned to nobody

[2019-10-02 20:26] Gis70 commented on #1378
jai pas ça moi
![image](https://user-images.githubusercontent.com/16589132/66079078-a9837b00-e563-11e9-9497-3a4531654f2b.png)

[2019-10-02 21:06] cyrilphoenix71 commented on #1378
Pareil pas de souci chez moi

[2019-10-04 08:36] Esso1-jeedom commented on #1378
PS
cela ne sera pas le 1er bugg qui n'arrive que chez moi, ;) syvlain le sais ...

résolue avec la maj de sylvain

[2019-10-04 08:36] #1378 closed, assigned to nobody

[2019-10-05 05:52] CyrilCharlier opened #1391 "Diagnostique / Historique : Décalage d'heure"
**Décrivez le bug**
J'observe un décalage d'heure sur les valeurs enregistrées sur les graphiques : je prend la valeur via la commande (#[Salon][BLE ClearGrass][Température]#)  j'ai 2h de décalage, si je vais la chercher dans la partie "Ajouter / Supprimer des commandes au graphique" j'ai pas de décalage

A priori via la commande, on ne tient pas compte du fuseau horaire défini sous nextdom/l'os

[2019-10-05 09:12] cyrilphoenix71 opened #1392 "Rendre accessible le réglage NTP sous NextDom"

[2019-10-06 15:29] ColonelMoutarde opened #1393 "Notification z-index recouverte"
**Décrivez le bug**
Le z-index des notification n'est pas bon. la barre d'action la recouvre.
**Comment reproduire ?**
Étapes pour reproduire le problème :
1. Aller '/index.php?v=d&p=health'
2. Sauvegarder les valeurs d'un plugin

**Screenshots**

![Screenshot_2019-10-06 Health - NextDom](https://user-images.githubusercontent.com/4697568/66271510-fc5c7b80-e85e-11e9-9f8f-e6d9d1272776.png)
**Informa

[2019-10-06 18:48] Gis70 opened #1395 "Détecter si un scénario est appelé mais est à aucun"
Il faudrait détecter via les commandes orphelines si un scénario  est appeler mais est à aucun :
![image](https://user-images.githubusercontent.com/16589132/66274047-b3b2bb80-e87a-11e9-8834-16f4ef21bdd2.png)

A la place de #salon Poele Auto 2# par exemple si je me retrouve avec des aucuns il faudrait pouvoir le détecter.

[2019-10-06 21:21] Gis70 opened #1396 "Boutons des commandes sur alertes ne fonctionnent pas"
En rc2 & rc3 les boutons des commandes sur alertes ne fonctionnent pas :

![image](https://user-images.githubusercontent.com/16589132/66276106-e31ff300-e88f-11e9-8518-edb36ddd4baa.png)

[2019-10-06 21:24] Gis70 opened #1397 "Les logs dans les scénarios ne sont plus affichés"
En 0.5.0 rc2 &3 les logs ne sont plus affichés dans la modale Log de scénario, par contre si on télécharge le log il est bien retranscrit dans le fichier.

![image](https://user-images.githubusercontent.com/16589132/66276168-8a048f00-e890-11e9-9c5d-0d08f68cab9a.png)

[2019-10-08 21:09] #1389 closed, assigned to nobody

[2019-10-08 21:10] Sylvaner commented on #1391
Ce serait pas un problème NTP ?
Le raspberry est-il à l'heure ?

[2019-10-08 21:12] slobberbone commented on #1391
@CyrilCharlier Je crois qu'au final tu avais trouvé et résolu ton soucis, est-ce bon à clore ?

[2019-10-09 05:48] CyrilCharlier commented on #1391
Je pense avoir trouvé la cause mais pas la solution ;)

Pour répondre à Sylvaner :
- Oui le rpy est à l'heure et il est bien sur le fuseau horaire de "Paris/Bruxelles"
- Nextdom est bien sur le fuseau horaire de "Paris/Bruxelles" aussi

Ce que je constate c'est que dans le cas de la commande "#[Salon][BLE ClearGrass][Température]#", le fuseau horaire n'est pas pris en compte pour afficher la donné

[2019-10-09 06:21] CyrilCharlier opened #1400 "Changement du "Loading" par défaut par le "Pace Loading" AdminLTE"
**Décrivez ce que vous souhaitez**

Se démarquer et prenant le "Pace Loading" du template AdminLTE
  https://adminlte.io/themes/AdminLTE/pages/examples/pace.html

**Information supplémentaire**
- [x] faire le nettoyage du paramètre waitSpinner aussi dans la page custom
- [x] fonction showLoadingCustom sous gui.js
- [x] fonction hideLoadingCustom sous gui.js
- [x] migrer le CSS vers view/commons/th

[2019-10-09 14:57] Gis70 commented on #1397
Un effacement des données de navigation a soldé le pb

[2019-10-09 14:57] #1397 closed, assigned to nobody

[2019-10-09 15:44] Gis70 opened #1401 "Restauration du cache lors d'une installation"
Il serait souhaitable de restaurer les valeurs des équipements info et commande au moment de la sauvegarde pour ne pas subir des désagréments lors d'un restore ou d'un upgrade

[2019-10-09 19:25] CyrilCharlier opened #1402 "Version Mobile via Menu KO"
**Décrivez le bug**
Sur une fresh installe, si je vais via le menu sur "Version Mobile", j'arrive sur une page 404.

**Comment reproduire ?**
Étapes pour reproduire le problème :
1. Réaliser une fresh install
2. Aller sur l'entrée de menu "Version Mobile"

**Screenshots**
![image](https://user-images.githubusercontent.com/11455745/66513360-346ff280-eadb-11e9-8307-8f3901ba5e10.png)

**Information m

[2019-10-09 19:39] Esso1-jeedom commented on #1402
on n'est pas compatible debian 10

[2019-10-09 19:39] CyrilCharlier opened #1403 "page 404 : Retour sur mobile si on vient du desktop"
**Décrivez le bug**
Version Desktop, si on prend "Version mobile", on arrive sur une page 404 dont le bouton retour renvoi sur la page "index" du mobile au lieu de renvoyer sur le desktop

**Comment reproduire ?**
Étapes pour reproduire le problème :
1. Depuis le desktop, cliquer sur version mobile
2. voir le lien de la page 404

**Screenshots**
lien de renvoi : http://IP_NEXTDOM/mobile/index.php?

[2019-10-09 20:55] perarem commented on #1402
Même symptôme sous debian 9.

[2019-10-09 21:29] Gis70 commented on #1402
Bonsoir. Pour l'instant je ne suis pas sûr que le paquet nextdom-mobile
soit créé. Vous pouvez trouver sur le dépôt github NextDom la version
mobile compilée. Il y a juste à faire un git clone dans un dossier nommé
mobile.

Le mer. 9 oct. 2019 à 22:55, perarem <notifications@github.com> a écrit :

[2019-10-10 06:03] CyrilCharlier commented on #1402
@Gis70 effectivement, c'est ce que laissait supposé Slob

[2019-10-10 06:23] Gis70 commented on #1402
VOilà : `cd /var/www/html
git clone https://github.com/NextDom/nextdom-mobile-dist mobile`

[2019-10-10 20:07] #1385 closed, assigned to slobberbone

[2019-10-10 20:07] Esso1-jeedom commented on #1374
il me semble que j'ai une erreur sur les droit du repertoire log.

[2019-10-13 02:49] edgd1er opened #1411 "restart d'un service non installé fait planter l'installation"
https://github.com/NextDom/nextdom-core/blob/6a794076c112fdd4c80239e4b67f35f015abe547/install/postinst#L701

**Décrivez le bug**
arrêt de l'installation (postinst) a cause de la ligne 701: service mysql start

**Comment reproduire ?**
Étapes pour reproduire le problème :
1. installer une vm sans mysql server (parceque la bdd sera ailleurs) ou son dockerfile préféré (toujours sans bdd)
2. lancer po

[2019-10-13 09:14] slobberbone commented on #1411
Salut @edgd1er en effet mais on a eu beaucoup de soucis récemment avec toute cette partie... On a un chantier dessus en 0.6.0 je t'invite à me recontacter si tu veux bien !

[2019-10-13 11:22] edgd1er commented on #1411
Salut @slobberbone,

beaucoup de soucis, tu peux développer parce que je teste régulièrement l'install docker dans la branche master et des releases (restore d'un backup jeedom + affichages des elements + install des plugins et dépendances). Je n'ai pas "trop" eu de problèmes jusqu’à maintenant, tant que mysql est considéré comme un élément optionnel et testé avant action.

PS: les images rpi et a

[2019-10-14 21:56] Sylvaner opened #1415 "Erreurs à la restauration"
Quelques erreurs lors de la tentative de restauration. Il faut tester les répertoires.

![Capture d’écran 2019-10-14 à 23 54 13](https://user-images.githubusercontent.com/957104/66785653-2c9abe80-eede-11e9-87cf-bcf5b755629c.jpg)

[2019-10-14 22:39] #1396 closed, assigned to nobody

[2019-10-14 22:42] Gis70 opened #1417 "Vue update core GUI disparaît dès restore backup"
Lors du restore de mon backup sur une fresh install NextDom, cette vue disparaît
![image](https://user-images.githubusercontent.com/16589132/66787617-a46be780-eee4-11e9-94a7-360b0b011549.png)

je me retrouve avec ça :
![image](https://user-images.githubusercontent.com/16589132/66787627-b188d680-eee4-11e9-9d60-5609c2314ed6.png)

[2019-10-15 07:48] cyrilphoenix71 opened #1418 "Lien erroné du changelog core dans page update"

[2019-10-16 19:07] Esso1-jeedom commented on #1367
bon j'ai du dire une boulette  c pas corrigé

[2019-10-16 19:22] Gis70 opened #1420 "Bouton copier clé API KO"
Le bouton pour copier dans le presse papier une clé API ne marche pas.

[2019-10-16 21:29] iWils commented on #1403
Bonsoir,
Problème corrigé en faisant la commande suivante:

`git clone https://github.com/NextDom/nextdom-mobile-dist /usr/share/nextdom/mobile`

[2019-10-18 12:07] cyrilphoenix71 opened #1423 "les fichiers de config dist ne sont pas à jour"

[2019-10-18 12:54] #1400 closed, assigned to CyrilCharlier

[2019-10-18 13:02] #1380 closed, assigned to slobberbone

[2019-10-18 13:03] #1418 closed, assigned to nobody

[2019-10-19 08:08] CyrilCharlier opened #1425 "Core : Suppression du fichier user.function.php"

[2019-10-19 18:00] CyrilCharlier opened #1426 "Message de plugin masqué par le "Retour" sur liste plugin"
**Décrivez le bug**
Lors de la configuration d'un plugin, les messages d'erreurs ou d'informations des plugins sont masqués par la barre de retour à la liste des plugins

**Comment reproduire ?**
Étapes pour reproduire le problème :
1. Aller sur la page de configuration d'un plugin
2. Provoquer un message de retour du plugin (activation / désactivation par exemple)
3. Constater que la barre conten

[2019-10-19 18:57] ColonelMoutarde commented on #1426
Ce bug est déjà référencé ici : #1393
Peux-tu reporter ta remarque dans l'autre issue pour que nous la clôturions.

[2019-10-19 19:00] CyrilCharlier commented on #1426
Oui bien sur. Je pensais avoir bien cherché .. merci Colonel

[2019-10-19 19:04] CyrilCharlier commented on #1393
Le messages sont aussi cachés dans la configuration des plugins :
Lors de la configuration d'un plugin, les messages d'erreurs ou d'informations des plugins sont masqués par la barre de retour à la liste des plugins

[2019-10-19 19:06] CyrilCharlier commented on #1426
Fermeture pour cause de doublon

[2019-10-19 19:06] #1426 closed, assigned to nobody

[2019-10-20 09:03] CyrilCharlier commented on #1305
@Sylvaner

Si j'ai bien compris : Ajouter un bouton sur cette vue pour permettre de désactiver un scénario
![image](https://user-images.githubusercontent.com/11455745/67157160-b1e00200-f328-11e9-909c-07f57bfc5eba.png)

merci !

[2019-10-20 11:30] CyrilCharlier opened #1427 "Aller en mode création directement"
**Décrivez ce que vous souhaitez**
Aller directement sur la page de créations des objets, au lieu d'avoir deux actions.
Passer de Libellé/Sauvegarde/Compléter à Création + Options / Sauvegarde

S'inspirer de ce qui a été fait sur les scénario et cacher le bouton retour tant que l'utilisateur n'a pas fait "sauvegarder"

Penser à contrôler que le libellé est correctement rempli

[2019-10-21 16:34] macros83 commented on #1415
Même problème, je viens de réinstaller mon raspberry avec Nextdom et j'ai une erreur semblable a la restauration, aurais-tu une piste de recherche STP ?

[2019-10-21 17:20] macros83 commented on #1415
J'ai rajouté le répertoire plans qui manquait apparemment mais maintenant je suis planté, il reste sur la page de première connexion et refuse de passer au suivant 'utilisateur ou mot de passe incorrect' ...
Début difficile avec nextdom.

[2019-10-21 18:00] Gis70 commented on #1415
Salut @macros83 as tu fait une fresh install ? Passe sur le forum discord pour qu'on t'aide.

[2019-10-21 18:35] macros83 commented on #1415
Merci, j’installe discord, oui, fresh install basé sur raspian streched du 8/4/2019 updaté.

[2019-10-21 18:44] macros83 commented on #1415
J'ai du mal comprendre, je ne trouve pas de nextdom sur discord

[2019-10-21 18:46] Gis70 commented on #1415
non, désolé, j'aurais dû te mettre le lien
https://discordapp.com/invite/aXVQCbN

Le lun. 21 oct. 2019 à 20:44, macros83 <notifications@github.com> a écrit :